{% load static %}
<!-- ================== BEGIN BASE JS ================== -->
<script src="{%static 'assets/plugins/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{%static 'assets/plugins/jquery/jquery-migrate-1.1.0.min.js' %}"></script>
<script src="{%static 'assets/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap/4.0.0/js/bootstrap.bundle.min.js' %}"></script>
<script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{%static 'assets/plugins/js-cookie/js.cookie.js' %}"></script>
<script src="{%static 'assets/js/theme/default.min.js' %}"></script>
<script src="{%static 'assets/js/apps.min.js' %}"></script>

<script src="{%static 'assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{%static 'assets/plugins/highlight/highlight.common.js' %}"></script>
<script src="{%static 'assets/js/demo/render.highlight.js' %}"></script>
<script src="{%static 'assets/plugins/sweetalert/sweetalert.min.js' %}"></script>
<script src="{%static 'assets/js/demo/ui-modal-notification.demo.min.js' %}"></script>
<script src="{%static 'assets/plugins/moment/moment.min.js' %}"></script>
<script src="{%static 'assets/plugins/masked-input/masked-input.min.js' %}"></script>
<!-- ================== END BASE JS ================== -->
