{% load static %}
<!-- ================== BEGIN BASE CSS STYLE ================== -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap/4.0.0/css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/animate/animate.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/css/default/style.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/css/default/style-responsive.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/css/default/theme/default.css' %}" rel="stylesheet" id="theme" />
<link href="{%static 'assets/plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{%static 'assets/plugins/sweetalert/sweetalert.css' %}">
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
<!-- ================== END BASE CSS STYLE ================== -->

<style>
    .Custom_Cancel > .sa-button-container > .cancel {
    background-color: gray;
    border-color: gray;
    }
    .Custom_Cancel > .sa-button-container > .cancel:hover {
        background-color: gray;
        border-color: gray;
    }
</style>