{% load static %}
<div id="sidebar" class="sidebar sidebar-transparent">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <a href="javascript:;" data-toggle="nav-profile">
                    <div class="cover with-shadow">
                        <!-- <img src="{%static 'assets/img/cover/cashier.jpg' %}" alt=""/> -->
                    </div>
                    <div class="image">
                        <img src="{%static 'assets/img/user/spiderman.jpg' %}" alt="" />
                    </div>
                    <div class="info">
                        <!-- <b class="caret pull-right"></b> -->
                        <span class="side_name"></span>
                        <small>Administrator</small>
                    </div>
                </a>
            </li>
            <!-- <li>
                <ul class="nav nav-profile">
                    <li><a href="or_setup"><i class="fa fa-wrench"></i> OR Setup</a></li>
                </ul>
            </li> -->
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li>
                <a href="admin_dashboard" id="li-dash">
                    <i class="fa fa-th-large"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="has-sub">
                <a href="javascript:;" id="li-user-mngt">
                    <b class="caret"></b>
                    <i class="fas fa-users"></i> 
                    <span>User Management</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="add_user" id="li-add"><i class="fas fa-user-plus f-s-10"></i> Add User</a></li>
                    <li><a href="edit_user" id="li-edit"><i class="fas fa-user f-s-9"><small><i class="fas fa-eye" style="font-size: 5px; margin-right: -2px;"></i></small></i> View User</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;" id="li-conf">
                    <b class="caret"></b>
                    <i class="fas fa-cogs"></i>
                    <span>System Configuration</span> 
                </a>
                <ul class="sub-menu">
                    <li><a href="or_setup" id="li-orsetup"><i class="fas fa-gavel"></i> Setup OR</a></li>
                    <li><a href="get_UACS_data_table" id="setup"><i class="fas fa-file-code"></i> Setup UACS</a></li>
                    <!-- <li><a href="activity_log"><i class="fas fa-tasks"></i> Activity Log</a></li> -->
                </ul>
            </li>
            <li class="has-sub" onclick="onShowModal()">
                <a href="#email_config" data-toggle="modal" id="li-email">
                    <!-- <b class="caret"></b> -->
                    <i class="fas fa-envelope-open"></i>
                    <span>Email Configuration</span>
                </a>
            </li>
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<script>
    function onShowModal() {
        $('#email_config_form').parsley().reset();
        $('.form-control').val('');
    };
</script>