{% load static %}
<div id="sidebar" class="sidebar sidebar-transparent">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <a href="javascript:;" data-toggle="nav-profile" id="navvy">
                    <div class="cover with-shadow">
                        <!-- <img src="{%static 'assets/img/cover/cashier.jpg' %}" alt=""/> -->
                    </div>
                    <div class="image">
                        <img src="{%static 'assets/img/user/maam_meg.jpg' %}" alt="" style="height: 100px; width: 100px;" id="cashier-topnav-img"/>
                    </div>
                    <div class="info">
                        <b class="caret pull-right"></b>
                        <span class="side_name"></span>
                        <small>Collection Officer</small>
                    </div>
                </a>
            </li>
            <li>
                <ul class="nav nav-profile">
                    <li><a href="#setup_queue" data-toggle="modal"><i class="fas fa-hourglass-start m-r-5"></i>Setup Queue</a></li>
                </ul>
            </li>
            <li>
                <ul class="nav nav-profile">
                    <li><a href="#add_student" data-toggle="modal"><i class="fas fa-user-plus m-r-5"></i>Add Student</a></li>
                </ul>
            </li>
            <li>
                <ul class="nav nav-profile">
                    <li><a href="#daily-collection-report" data-toggle="modal" id="daily-rep-sidenav-but"><i class="fas fa-file-alt m-r-5"></i>Daily Collection Report</a></li>
                </ul>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header m-b-10">Navigation</li>
            <li class="m-b-10">
                <a href="dashboard" id="li-dash">
                    <i class="fa fa-th-large"></i>
                    <span >Dashboard</span>
                </a>
            </li>
            <li class="has-sub m-b-10">
                <a href="javascript:;" id="add-col-caret">
                    <b class="caret"></b>
                    <i class="fa fa-plus-square"></i> 
                    <span>Collections</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="add_collection" id="add-col">Add Collection</a></li>
                    <!-- <li><a href="add_collection_student">Add Collection <small>(Student)</small></a></li> -->
                    <!-- <li><a href="javascript:;">Add Clearance</a></li> -->
                    <li><a href="javascript:;" id="add-sis">Add SIS Payments</a></li>
                </ul>
            </li>
            <li class="has-sub m-b-10">
                <a href="javascript:;" id="deposit-caret">
                    <b class="caret"></b>
                    <i class="fas fa-download"></i>
                    <span>Deposits</span> 
                </a>
                <ul class="sub-menu">
                    <li><a href="deposits_pending" id="pending_but">Pending</a></li>
                    <li><a href="deposits_deposited" id="deposited_but">Deposited</a></li>
                </ul>
            </li>
            <li class="has-sub m-b-10">
                <a href="javascript:;" id="view-rec-caret">
                    <b class="caret"></b>
                    <i class="fas fa-search-plus"></i>
                    <span>View Records</span> 
                </a>
                <ul class="sub-menu">
                    <li><a href="transaction_log" id="trans-log">Transaction Log</a></li>
                    <li><a href="view_receipts" id="view-rec">View Receipts</a></li>
                    <li><a href="view_sis_payments" id="view-sis">View SIS Payments</a></li>
                </ul>
            </li>
            <li class="has-sub m-b-10">
                <a href="javascript:;" id="col-rep-caret">
                    <b class="caret"></b>
                    <i class="fas fa-list-alt"></i>
                    <span>Collection Report</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="accountable_forms_report" id="acct-forms">Accountable Forms</a></li>
                    <li><a href="certification_report" id="cert">Certification</a></li>
                    <li><a href="monthly_collection_report" id="mon-col"><small>Monthly Report of Collections and Deposits</small></a></li>
                    <li><a href="summary_collection_report" id="sum-col">Summary of Collection</a></li>
                    <li><a href="cash_receipt_record_report" id="cash-receipt">Cash Receipt Record</a></li>
                </ul>
            </li>
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify" id="minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- begin #sidebar-right -->
<div id="sidebar-right" class="sidebar sidebar-right">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav m-t-10">
            <li class="nav-widget">
                <p>Collection Status</p>
                <div class="pull-left m-b-10 m-t-5">
                    <div class="pull-left p-r-15">
                        <input class="knob" id="knob-on-site" data-width="80" data-height="80" data-thickness=".2" data-readonly="true" data-min="0" data-displayPrevious=true value="0" data-fgColor="#00acac" data-bgColor="#242a30" />
                    </div>
                    <div class="pull-left">
                        <input class="knob" id="knob-company" data-width="80" data-height="80" data-thickness=".2" data-readonly="true" data-min="0" data-displayPrevious=true value="0" data-fgColor="#348fe2" data-bgColor="#242a30" />
                    </div>
                </div>
                <div class="pull-left">
                    <div class="pull-left p-r-15">
                        <input class="knob" id="knob-sis" data-width="80" data-height="80" data-thickness=".2" data-readonly="true" data-min="0" data-displayPrevious=true value="0" data-fgColor="#ff5b57" data-bgColor="#242a30" />
                    </div>
                    <div class="pull-left">
                        <input class="knob" id="knob-non" data-width="80" data-height="80" data-thickness=".2" data-readonly="true" data-min="0" data-displayPrevious=true value="0" data-fgColor="#f0ad4e" data-bgColor="#242a30" />
                    </div>
                </div>
            </li>
            <li class="nav-widget">
                <div class="panel-group m-b-0" id="accordion">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion">
<!--                                     <i class="fa fa-plus-circle pull-right text-success"></i> 
 -->                                    SIS Payment
                                </a>
                            </h3>
                        </div>
                        <div id="collapseThree" class="panel-collapse">
                            <div class="panel-body">
                                <span id="total-sis" class="f-w-700 f-s-14 text-black"></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled" data-parent="#accordion">
<!--                                     <i class="fa fa-plus-circle pull-right text-success"></i> 
 -->                                    Student
                                </a>
                            </h3>
                        </div>
                        <div id="collapseOne" class="panel-collapse">
                            <div class="panel-body">
                                <span id="total-on-site" class="f-w-700 f-s-14 text-black"></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion">
<!--                                     <i class="fa fa-plus-circle pull-right text-success"></i> 
 -->                                    Non-Student
                                </a>
                            </h3>
                        </div>
                        <div id="collapseFour" class="panel-collapse">
                            <div class="panel-body">
                                <span id="total-non" class="f-w-700 f-s-14 text-black"></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion">
<!--                                     <i class="fa fa-plus-circle pull-right text-success"></i> 
 -->                                    Company
                                </a>
                            </h3>
                        </div>
                        <div id="collapseTwo" class="panel-collapse">
                            <div class="panel-body">
                                <span id="total-company" class="f-w-700 f-s-14 text-black"></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion">
<!--                                     <i class="fa fa-plus-circle pull-right text-success"></i> 
 -->                                    Total Collection
                                </a>
                            </h3>
                        </div>
                        <div id="collapseFour" class="panel-collapse">
                            <div class="panel-body">
                                <span id="total-collection" class="f-w-700 f-s-14 text-black"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg sidebar-right"></div>
<!-- end #sidebar-right -->
<!-- #setup_queue -->
<div class="modal fade" id="setup_queue">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Setup Queue</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
            <!-- begin card -->
            <div class="card card-inverse bg-gradient-silver">
                <div class="card-block">
                    <form class="form-horizontal" data-parsley-validate="true" name="demo-form">
                        <div class="form-group row m-b-15">
                            <label class="col-md-4 col-sm-4 col-form-label" for="fullname">Starting Count <span class="text-red">*</span> :</label>
                            <div class="col-md-8 col-sm-8">
                                <input class="form-control" type="text" id="start" name="start" placeholder="Input Number" data-parsley-type="digit" data-parsley-required="true" />
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-4 col-sm-4 col-form-label" for="fullname">End Count :</label>
                            <div class="col-md-8 col-sm-8">
                                <input class="form-control" type="text" id="end" name="end" placeholder="Input Number" data-parsley-type="digit" data-parsley-required="true" />
                            </div>
                        </div>
                        <div class="modal-footer form-group m-b-0">
                            <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                            <button type="submit" class="btn btn-success">Set</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end card -->
            </div>
        </div>
    </div>
</div>
<!-- #add_student -->
<div class="modal fade" id="add_student">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-user-plus m-r-5"></i>Add Student</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
            <!-- begin card -->
            <div class="card card-inverse bg-gradient-silver">
                <div class="card-block">
                    <form class="form-horizontal" id="add-stud-form" data-parsley-validate="true">
                        <div class="form-group row m-b-15">
                            <label class="col-md-4 col-sm-4 col-form-label" for="studno">Student Number <span class="pull-right">:</span></label>
                            <div class="col-md-8 col-sm-8">
                                <input class="form-control addstud" type="text" id="studno" name="studno" placeholder="Student Number" style="text-transform: capitalize;" />
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-4 col-sm-4 col-form-label" for="fname">First Name <span class="pull-right"><span class="text-red">*</span> :</span></label>
                            <div class="col-md-8 col-sm-8">
                                <input class="form-control addstud" type="text" id="fname" name="fname" placeholder="First Name" data-parsley-required="true" data-parsley-required-message="First Name is required" style="text-transform: capitalize;" />
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-4 col-sm-4 col-form-label" for="mname">Middle Name <span class="pull-right">:</span></label>
                            <div class="col-md-8 col-sm-8">
                                <input class="form-control addstud" type="text" id="mname" name="mname" placeholder="Middle Name" style="text-transform: capitalize;" />
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-4 col-sm-4 col-form-label" for="lname">Last Name <span class="pull-right"><span class="text-red">*</span> :</span></label>
                            <div class="col-md-8 col-sm-8">
                                <input class="form-control addstud" type="text" id="lname" name="lname" placeholder="Last Name" data-parsley-required="true" data-parsley-required-message="Last Name is required" style="text-transform: capitalize;" />
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-4 col-sm-4 col-form-label" for="course">Educ Level <span class="pull-right"><span class="text-red">*</span> :</span></label>
                            <div class="col-md-8 col-sm-8">
                                <select class="form-control"  id="educ-level">
                                    <option selected disabled>Select level of education</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-4 col-sm-4 col-form-label" for="course">Course <span class="pull-right"><span class="text-red">*</span> :</span></label>
                            <div class="col-md-8 col-sm-8">
                                <input class="form-control addstud" type="text" id="course" name="course" placeholder="Course" data-parsley-required="true" data-parsley-required-message="Course is required" style="text-transform: capitalize;" />
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-4 col-sm-4 col-form-label" for="yr">Year Level <span class="pull-right"><span class="text-red">*</span> :</span></label>
                            <div class="col-md-8 col-sm-8">
                                <input class="form-control addstud" type="text" id="yr" name="yr" placeholder="Year Level" data-parsley-type="number" data-parsley-required="true" data-parsley-required-message="Year level is required" style="text-transform: capitalize;" maxlength="1" />
                            </div>
                        </div>
                        <!-- <div class="form-group row m-b-15">
                            <label class="col-md-4 col-sm-4 col-form-label" for="sec">Section <span class="pull-right"><span class="text-red">*</span> :</span></label>
                            <div class="col-md-8 col-sm-8">
                                <input class="form-control addstud" type="text" id="sec" name="sec" placeholder="Section" data-parsley-type="number" data-parsley-required="true" data-parsley-required-message="Section is required" maxlength="2" style="text-transform: capitalize;" />
                            </div>
                        </div> -->
                        <div class="modal-footer form-group m-b-0">
                            <a href="javascript:;" class="btn btn-white btn-md" data-dismiss="modal" id="close-stud-but"><i class="fas fa-times-circle m-r-5"></i>Close</a>
                            <a href="javascript:;" class="btn btn-success btn-md" id="add-stud-but"><i class="fas fa-plus-circle m-r-5" id="add-stud-but-icon"></i>Add</a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end card -->
            </div>
        </div>
    </div>
</div>
<!-- #daily-collection-report -->
<div class="modal fade" id="daily-collection-report">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-file-alt m-r-5"></i>Daily Collection Report</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
            <!-- begin card -->
            <div class="card card-inverse bg-gradient-silver">
                <div class="card-block">
                    <form class="form-horizontal" id="daily-col-form" data-parsley-validate="true">
                        <div class="form-group row">
                            <label class="col-md-12 col-sm-12 text-center f-s-14"><strong>POLYTECHNIC UNIVERSITY OF THE PHILIPPINES</strong></label>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-12 col-sm-12 text-center f-s-11">Don Fabian St. Commonwealth Ave., Quezon City</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 col-sm-12 text-center f-s-12"><strong>CASH COUNT SHEET</strong></label>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-12 col-sm-12 text-center f-s-12">(In Pesos)</label>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-12 col-sm-12 f-s-12"><span class="pull-right"><strong>Date:</strong> <span id="daily-rep-date" class="m-l-5"></span></span></label>
                        </div>
                        <div class="form-group row m-b-5">
                            <label class="col-md-4 col-sm-4 text-center f-s-12"><strong>Denomination</strong></label>
                            <label class="col-md-4 col-sm-4 text-center f-s-12"><strong>Frequency</strong></label>
                            <label class="col-md-4 col-sm-4 text-center f-s-12"><strong>Total</strong></label>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-12 col-sm-12 f-s-12"><span class="pull-left"><small>BILLS</small></span></label>
                        </div>
                        <div class="form-group row m-b-5">
                            <label class="col-md-4 col-sm-4 text-center f-s-12 m-t-5"><span class="badge badge-info f-s-12" id="thou-lbl">1000</span></label>
                            <input type="number" class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm" id="thou-freq" value="" style="outline: none; border: none;" />
                            <input class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm bg-gradient-silver" id="thou-amt" value="0" style="outline: none; border: none;" disabled="" />
                        </div>
                        <div class="form-group row m-b-5">
                            <label class="col-md-4 col-sm-4 text-center f-s-12 m-t-5"><span class="badge badge-yellow f-s-12" id="five-lbl">500</span></label>
                            <input type="number" class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm" id="five-freq" value="" style="outline: none; border: none;" />
                            <input class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm bg-gradient-silver" id="five-amt" value="0" style="outline: none; border: none;" disabled="" />
                        </div>
                        <div class="form-group row m-b-5">
                            <label class="col-md-4 col-sm-4 text-center f-s-12 m-t-5"><span class="badge badge-success f-s-12" id="two-lbl">200</span></label>
                            <input type="number" class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm" id="two-freq" value="" style="outline: none; border: none;" />
                            <input class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm bg-gradient-silver" id="two-amt" value="0" style="outline: none; border: none;" disabled="" />
                        </div>
                        <div class="form-group row m-b-5">
                            <label class="col-md-4 col-sm-4 text-center f-s-12 m-t-5"><span class="badge badge-purple f-s-12" id="one-lbl">100</span></label>
                            <input type="number" class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm" id="one-freq" value="" style="outline: none; border: none;" />
                            <input class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm bg-gradient-silver" id="one-amt" value="0" style="outline: none; border: none;" disabled="" />
                        </div>
                        <div class="form-group row m-b-5">
                            <label class="col-md-4 col-sm-4 text-center f-s-12 m-t-5"><span class="badge badge-danger f-s-12" id="fif-lbl">50</span></label>
                            <input type="number" class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm" id="fif-freq" value="" style="outline: none; border: none;" />
                            <input class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm bg-gradient-silver" id="fif-amt" value="0" style="outline: none; border: none;" disabled="" />
                        </div>
                        <div class="form-group row m-b-5">
                            <label class="col-md-4 col-sm-4 text-center f-s-12 m-t-5"><span class="badge badge-warning f-s-12" id="twen-lbl">20</span></label>
                            <input type="number" class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm" id="twen-freq" value="" style="outline: none; border: none;" />
                            <input class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm bg-gradient-silver" id="twen-amt" value="0" style="outline: none; border: none;" disabled="" />
                        </div>
                        <div class="form-group row m-b-15">
                            <input class="col-md-8 col-sm-8 text-center f-s-12 form-control-sm bg-white f-w-700" value="Total Bills :" style="outline: none; border: none;" id="tot-bills-lbl" />
                            <!-- <label class="col-md-4 col-sm-4 text-center f-s-12"></label> -->
                            <input class="col-md-4 col-sm-4 text-center text-white f-s-12 form-control-sm bg-black-transparent-6 f-w-700" id="tot-bills" value="0" style="outline: none; border: none;" disabled="" />
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-12 col-sm-12 f-s-12"><span class="pull-left"><small>COINS</small></span></label>
                        </div>
                        <div class="form-group row m-b-5">
                            <label class="col-md-4 col-sm-4 text-center f-s-12 m-t-5"><span class="badge f-s-12" id="ten-lbl">10</span></label>
                            <input class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm" id="ten-freq" value="" style="outline: none; border: none;" />
                            <input class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm bg-gradient-silver" id="ten-amt" value="0" style="outline: none; border: none;" disabled="" />
                        </div>
                        <div class="form-group row m-b-5">
                            <label class="col-md-4 col-sm-4 text-center f-s-12 m-t-5"><span class="badge f-s-12" id="cfive-lbl">5</span></label>
                            <input class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm" id="cfive-freq" value="" style="outline: none; border: none;" />
                            <input class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm bg-gradient-silver" id="cfive-amt" value="0" style="outline: none; border: none;" disabled="" />
                        </div>
                        <div class="form-group row m-b-5">
                            <label class="col-md-4 col-sm-4 text-center f-s-12 m-t-5"><span class="badge f-s-12" id="cone-lbl">1</span></label>
                            <input class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm" id="cone-freq" value="" style="outline: none; border: none;" />
                            <input class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm bg-gradient-silver" id="cone-amt" value="0" style="outline: none; border: none;" disabled="" />
                        </div>
                        <div class="form-group row m-b-5">
                            <label class="col-md-4 col-sm-4 text-center f-s-12 m-t-5"><span class="badge f-s-12" id="ctwenfive-lbl">0.25</span></label>
                            <input class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm" id="ctwenfive-freq" value="" style="outline: none; border: none;" />
                            <input class="col-md-4 col-sm-4 text-center f-s-12 form-control-sm bg-gradient-silver" id="ctwenfive-amt" value="0" style="outline: none; border: none;" disabled="" />
                        </div>
                        <div class="form-group row m-b-15">
                            <input class="col-md-8 col-sm-8 text-center f-s-12 form-control-sm bg-white f-w-700" value="Total Coins :" style="outline: none; border: none;" id="tot-coins-lbl" />
                            <!-- <label class="col-md-4 col-sm-4 text-center f-s-12"></label> -->
                            <input class="col-md-4 col-sm-4 text-center text-white f-s-12 form-control-sm bg-black-transparent-6 f-w-700" id="tot-coins" value="" style="outline: none; border: none;" disabled="" />
                        </div>
                        <div class="form-group row m-b-30">
                            <input class="col-md-8 col-sm-8 text-center f-s-12 form-control-sm bg-white f-w-700" value="GRAND TOTAL :" style="outline: none; border: none;" id="tot-grand-lbl" />
                            <!-- <label class="col-md-4 col-sm-4 text-center f-s-12 bg-white form-control-sm"></label> -->
                            <input class="col-md-4 col-sm-4 text-center text-white f-s-12 form-control-sm bg-inverse f-w-700" id="tot-grand" value="" style="outline: none; border: none;" disabled="" />
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-6 col-sm-6 text-center f-s-12"><strong>Cash Counted By :</strong></label>
                            <label class="col-md-6 col-sm-6 text-center f-s-12"><strong>Fund Acknowledged By :</strong></label>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-6 col-sm-6 text-center f-s-12"><u><span id="cash-count-by"></span></u></label>
                            <div class="col-md-6 col-sm-6 f-w-700">
                                <hr class="bg-black-transparent-6" />
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <table class="table" id="daily-rep-tbl">
                                <thead>
                                    <th class="text-nowrap" width="30%">Collection Mode</th>
                                    <th class="text-nowrap text-center" width="40%">OR Number Used</th>
                                    <th class="text-nowrap text-right" width="30%">Amount</th>
                                </thead>
                                <tbody class="text-inverse">
                                    <!-- append here -->
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group row m-b-30">
                            <input class="col-md-8 col-sm-8 text-center f-s-12 form-control-sm bg-white f-w-700" value="GRAND TOTAL :" style="outline: none; border: none;" id="tot-grand2-lbl" />
                            <!-- <label class="col-md-4 col-sm-4 text-center f-s-12 bg-white form-control-sm"></label> -->
                            <input class="col-md-4 col-sm-4 text-center text-white f-s-12 form-control-sm bg-inverse f-w-700" id="tot-grand2" value="" style="outline: none; border: none;" disabled="" />
                        </div>
                        <div class="modal-footer form-group m-b-0">
                            <a href="javascript:;" class="btn btn-white btn-md" data-dismiss="modal" id="close-daily-rep-but"><i class="fas fa-times-circle m-r-5"></i>Close</a>
                            <a href="javascript:;" class="btn btn-success btn-md" id="add-daily-rep-but"><i class="fas fa-save m-r-5" id="add-daily-rep-but-icon"></i>Save</a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end card -->
            </div>
        </div>
    </div>
</div>