{% extends "views/layouts/pages/main.html" %}
{% block title %}<title>CMS | Accountable Forms Report</title>{% endblock %}
{% load static %}
{% block page-css %} 
<link href="{%static 'assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/AutoFill/css/autoFill.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/ColReorder/css/colReorder.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/KeyTable/css/keyTable.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/RowReorder/css/rowReorder.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Select/css/select.bootstrap.min.css '%}" rel="stylesheet" />
<!--  -->
<link href="{%static 'assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/ionRangeSlider/css/ion.rangeSlider.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/password-indicator/css/password-indicator.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-combobox/css/bootstrap-combobox.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-tag-it/css/jquery.tagit.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css' %}" rel="stylesheet" />
<!--  -->
<style type="text/css" media="print">
    @page {
        size: landscape;
    }
    .hidden-print {
        display: none; 
    }
</style>
{% endblock %}
{% block content %}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Collection Report</a></li>
        <li class="breadcrumb-item active">Accountable Forms</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Accountable Forms <small>View/Generate Report</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row m-b-10">
        <!-- begin col-3 -->
        <div class="col-lg-3">
            <div class="m-t-10 row">
                <div class="col-lg-8">
                    <select class="form-control" id="select-month">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <a href="javascript:;" class="btn btn-primary btn-m" id="acct-filter"><i class="fas fa-file-code m-r-5"></i>Filter</a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-9 -->
        <div class="col-lg-9">
            <!-- filler -->
        </div>
        <!-- end col-9 -->
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <!-- begin row -->
            <div class="row">
                <!-- begin col-4 -->
                <div class="col-lg-4 col-md-6">
                    <div class="widget widget-stats bg-orange">
                        <div class="stats-icon"><i class="fas fa-circle-notch"></i></div>
                        <div class="stats-info">
                            <h4>TOTAL OR COUNT</h4>
                            <p id="tot_or"></p>	
                        </div>
                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-lg-4 col-md-6">
                    <div class="widget widget-stats bg-grey-darker">
                        <div class="stats-icon"><i class="fas fa-copyright"></i></div>
                        <div class="stats-info">
                            <h4>CURRENT USED OR</h4>
                            <p id="tot_used"></p>	
                        </div>
                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-lg-4 col-md-6">
                    <div class="widget widget-stats bg-black-lighter">
                        <div class="stats-icon"><i class="fas fa-registered"></i></div>
                        <div class="stats-info">
                            <h4>REMAINING OR</h4>
                            <p id="tot_unused"></p>	
                        </div>
                    </div>
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->
            <!-- begin row -->
            <div class="row">
                <!-- begin col-12 -->
                <div class="col-lg-12">
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">Monthly OR Report</h4>
                        </div>
                        <div class="panel-body">
                            <div id="canvas-div1">
                                <canvas id="line-chart" data-render="chart-js"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <!-- begin row -->
            <div class="row">
                <!-- begin col-12 -->
                <div class="col-lg-12">
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">Used vs Unused</h4>
                        </div>
                        <div class="panel-body">
                            <div id="canvas-div2">
                                <canvas id="polar-area-chart" data-render="chart-js"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
            <!-- begin row -->
            <div class="row text-center m-t-20">
                <!-- begin col-12 -->
                <div class="col-lg-12">
                    <a href="javascript:;" class="btn btn-m btn-primary" id="disp-acct-forms"><i class="fas fa-chevron-circle-right m-r-5"></i>Display Report</a>
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
<!-- #acct-forms-modal -->
<div class="modal fade" id="acct-forms-modal">
    <div class="modal-dialog" style="max-width: fit-content">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-file-alt m-r-5"></i>Accountable Forms Receipt</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <!-- begin col-12 -->
                <div class="col-lg-12">
                    <!-- begin card -->
                    <div class="card text-left">
                        <div class="card-block">
                            <div class="panel panel-white">
                                <!-- begin panel-heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title"></h4>
                                </div>
                                <!-- end panel-heading -->
                                <!-- begin panel-body -->
                                <div class="panel-body" style="overflow-x: auto;">
                                    <span class="label label-purple f-s-11">
                                        Month of: <span id="month">March</span>
                                    </span>
                                    <span class="btn btn-xs btn-warning f-s-11 pull-right">
                                        <i class="fas fa-print m-r-5"></i>Print
                                    </span>
                                    <table id="acct-forms-table" class="table table-hover table-bordered table-striped m-t-5">
                                        <thead>
                                            <tr>
                                                <th class="text-nowrap bg-inverse text-white f-s-13" colspan="3" style="text-align: center;">Accountable Forms</th>
                                                <th class="text-nowrap bg-inverse text-white f-s-13" colspan="3" style="text-align: center;">Beginning Balance</th>
                                                <th class="text-nowrap bg-inverse text-white f-s-13" colspan="3" style="text-align: center;">Receipt</th>
                                                <th class="text-nowrap bg-inverse text-white f-s-13" colspan="3" style="text-align: center;">Issuance</th>
                                                <th class="text-nowrap bg-inverse text-white f-s-13" colspan="3" style="text-align: center;">Ending Balance</th>
                                            </tr>
                                            <tr>
                                                <th class="text-nowrap" rowspan="2" colspan="3">Face Value</th>  
                                                <th class="text-nowrap" colspan="1"></th>                                    
                                                <th class="text-nowrap" colspan="2">Inclusive Serial Nos</th>
                                                <th class="text-nowrap" colspan="1"></th>  
                                                <th class="text-nowrap" colspan="2">Inclusive Serial Nos</th>
                                                <th class="text-nowrap" colspan="1"></th>  
                                                <th class="text-nowrap" colspan="2">Inclusive Serial Nos</th>
                                                <th class="text-nowrap" colspan="1"></th>  
                                                <th class="text-nowrap" colspan="2">Inclusive Serial Nos</th>
                                            </tr>
                                            <tr>
                                                <th class="text-nowrap">Qty</th>
                                                <th class="text-nowrap">From</th>
                                                <th class="text-nowrap">To</th>
                                                <th class="text-nowrap">Qty</th>
                                                <th class="text-nowrap">From</th>
                                                <th class="text-nowrap">To</th>
                                                <th class="text-nowrap">Qty</th>
                                                <th class="text-nowrap">From</th>
                                                <th class="text-nowrap">To</th>
                                                <th class="text-nowrap">Qty</th>
                                                <th class="text-nowrap">From</th>
                                                <th class="text-nowrap">To</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- append <tr><td></td></tr> here -->
                                        </tbody>
                                    </table>
                                </div>
                                <!-- end panel-body -->
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col-12 -->
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page-js %}
<script src="{%static 'assets/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/AutoFill/js/dataTables.autoFill.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/ColReorder/js/dataTables.colReorder.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/KeyTable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/RowReorder/js/dataTables.rowReorder.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Select/js/dataTables.select.min.js' %}"></script>
<script src="{%static 'assets/js/demo/table-manage-combine.demo.min.js' %}"></script>
<!--  -->
<script src="{%static 'assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{%static 'assets/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{%static 'assets/plugins/masked-input/masked-input.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
<script src="{%static 'assets/plugins/password-indicator/js/password-indicator.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-combobox/js/bootstrap-combobox.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.js' %}"></script>
<script src="{%static 'assets/plugins/jquery-tag-it/js/tag-it.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-daterangepicker/moment.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{%static 'assets/plugins/select2/dist/js/select2.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-show-password/bootstrap-show-password.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js' %}"></script>
<script src="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js' %}"></script>
<script src="{%static 'assets/plugins/clipboard/clipboard.min.js' %}"></script>
<script src="{%static 'assets/js/demo/form-plugins.demo.js' %}"></script>
<!--  -->
<script src="{%static 'assets/plugins/chart-js/Chart.min.js' %}"></script>
{% endblock %}
{% block init %}
<script>
    $(document).ready(function() {
        App.init();
        FormPlugins.init();
        $('#select-month').val((new Date).getMonth()+1);
        loadAcctFormsDash();
        loadORMonthlyReport();
    });

    function handlePolarChart(used, unused) {
        $('#polar-area-chart').empty();
        var polarAreaData = {
            labels: ['Used OR', 'Unused OR'],
            datasets: [{
                data: [used, unused],
                backgroundColor: [COLOR_PURPLE_TRANSPARENT_7, COLOR_GREEN_TRANSPARENT_7],
                borderColor: [COLOR_PURPLE, COLOR_GREEN],
                borderWidth: 2,
            }]
        };

        var ctx4 = document.getElementById('polar-area-chart').getContext('2d');
        var polarAreaChart = new Chart(ctx4, {
            type: 'polarArea',
            data: polarAreaData
        });
    };

    function handleLineChart(obj) {
        var lbl = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var newlabels = [];
        var used = [];
        var unused = []
        for (var i = 0; i < obj.length; i++) {
            newlabels[i] = lbl[i];
            used[i] = obj[i][1];
            unused[i] = obj[i][2];
        }
        var lineChartData = {
            labels: newlabels,
            datasets: [{
                label: 'Used OR',
                borderColor: COLOR_BLUE,
                pointBackgroundColor: COLOR_BLUE,
                pointRadius: 2,
                borderWidth: 2,
                backgroundColor: COLOR_BLUE_TRANSPARENT_3,
                data: used
            }, {
                label: 'Unused OR',
                borderColor: COLOR_BLACK,
                pointBackgroundColor: COLOR_BLACK,
                pointRadius: 2,
                borderWidth: 2,
                backgroundColor: COLOR_BLACK_TRANSPARENT_3,
                data: unused
            }]
        };

        var ctx = document.getElementById('line-chart').getContext('2d');
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: lineChartData
        });
    };

    $('#disp-acct-forms').on('click', function() {
        $('#acct-forms-modal').modal('show');
    });

    function acctFormsTableData(obj) {
        var issue_end = (parseInt(obj[0][3]) + parseInt(obj[0][1]) - 1).toString().padStart(obj[0][3].length, '0');
        var end_start = (parseInt(issue_end) + 1).toString().padStart(obj[0][3].length, '0');
        $('#month').text($('#select-month').find('option:selected').text());
        $('#acct-forms-table tbody tr').remove();
        $('#acct-forms-table tbody').append(
            `<tr>
                <td class="text-nowrap f-w-700" colspan="3">With Face Value</td>
                <!-- beginning balance -->
                <td class="text-nowrap f-w-700">${obj[0][0]}</td>
                <td class="text-nowrap">${obj[0][3]}</td>
                <td class="text-nowrap">${obj[0][4]}</td>
                <td class="text-nowrap"></td>
                <td class="text-nowrap"></td>
                <td class="text-nowrap"></td>
                <!-- issued -->
                <td class="text-nowrap f-w-700">${obj[0][1]}</td>
                <td class="text-nowrap">${obj[0][3]}</td>
                <td class="text-nowrap">${issue_end}</td>
                <!-- ending balance -->
                <td class="text-nowrap"></td>
                <td class="text-nowrap"></td>
                <td class="text-nowrap"></td>
            </tr>
            <tr>
                <td class="text-nowrap f-w-700" colspan="3">Without Face Value</td>
                <!-- beginning balance -->
                <td class="text-nowrap f-w-700">${obj[0][0]}</td>
                <td class="text-nowrap">${obj[0][3]}</td>
                <td class="text-nowrap">${obj[0][4]}</td>
                <td class="text-nowrap"></td>
                <td class="text-nowrap"></td>
                <td class="text-nowrap"></td>
                <!-- issued -->
                <td class="text-nowrap"></td>
                <td class="text-nowrap"></td>
                <td class="text-nowrap"></td>
                <!-- ending balance -->
                <td class="text-nowrap f-w-700">${obj[0][2]}</td>
                <td class="text-nowrap">${end_start}</td>
                <td class="text-nowrap">${obj[0][4]}</td>
            </tr>`
        );
    };

    function loadAcctFormsDash() {
        var month = $('#select-month').val();
        $.ajax({
            type: "POST",
            url: "{% url 'load_acct_forms_dash' %}",
            // cache: true,
            dataType: 'json',
            data: {
                month: month,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                if (obj.length == 0) {
                    $('#tot_or').text('0');
                    $('#tot_used').text('0');
                    $('#tot_unused').text('0');
                    handlePolarChart(0,0);
                }
                else {
                    $('#tot_or').text(obj[0][0]);
                    $('#tot_used').text(obj[0][1]);
                    $('#tot_unused').text(obj[0][2]);
                    $('#canvas-div2 canvas').remove();
                    $('#canvas-div2').append(`<canvas id="polar-area-chart" data-render="chart-js"></canvas>`);
                    handlePolarChart(obj[0][1],obj[0][2]);
                    acctFormsTableData(obj);
                }
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    $('#acct-filter').on('click', function() {
        loadAcctFormsDash($('#select-month').val());
    });

    function loadORMonthlyReport() {
        $.ajax({
            type: "POST",
            url: "{% url 'load_or_monthly_report' %}",
            // cache: true,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                if (obj.length != 0) {
                    $('#canvas-div1 canvas').remove();
                    $('#canvas-div1').append(`<canvas id="line-chart" data-render="chart-js"></canvas>`);
                    handleLineChart(obj);   
                }
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };
</script>
{% endblock %}