{% extends 'views/layouts/pages/admin_main.html' %}
{% block title %}<title>CMS | Add User</title>{% endblock %}
{% load static %}
{% block page-css %}
<link href="{%static 'assets/plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">User Management</a></li>
        <li class="breadcrumb-item active">Add User</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Add User <small>Add New User to the System</small></h1>
    <!-- end page-header -->
    
    <!-- begin row -->
    <div class="row">
        <div class="col-lg-1"></div>
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <!-- begin card -->
            <div class="card text-left">
                <div class="card-header">
                    <i class="fas fa-user-plus m-r-5"></i>
                    Add New User to the System
                </div>
                <div class="card-block">
                    <!-- begin panel -->
                    <div class="panel panel-white" data-sortable-id="form-validation-1">
                        <!-- begin panel-heading -->
 
                        <!-- end panel-heading -->
                        <!-- begin panel-body -->
                        <div class="panel-body" style="margin-bottom: -40px;;">
                            <form class="form-horizontal" name="demo-form" action="#" id="addForm" autocomplete="off">
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="fname">First Name <span class="text-red">*</span> :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" id="fname" name="fname" placeholder="First Name" data-parsley-required="true" data-parsley-required-message="Firstname is required" style="text-transform: capitalize;"/>
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="mname">Middle Name :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" id="mname" name="mname" placeholder="Middle Name" style="text-transform: capitalize;"/>
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="lname">Last Name <span class="text-red">*</span> :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" id="lname" name="lname" placeholder="Last Name" data-parsley-required="true" data-parsley-required-message="Lastname is required" style="text-transform: capitalize;"/>
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="uname">Username <span class="text-red">*</span> :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" id="uname" name="uname" placeholder="Username" data-parsley-required="true" data-parsley-required-message="Username is required"/>
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="email">Email Address <span class="text-red">*</span> :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="email" id="email" name="email" placeholder="Email Address" data-parsley-required="true" data-parsley-required-message="Email is required"/>
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label">Role <span class="text-red">*</span> :</label>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="radio radio-css">
                                            <input type="radio" name="radio_css" class="radiocss" id="radiorequired" value="admin" checked />
                                            <label for="radiorequired" class="text-success">Admin</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="radio radio-css">
                                            <input type="radio" name="radio_css" class="radiocss" id="radiorequired2" value="cashier"/>
                                            <label for="radiorequired2" class="text-success">Cashier</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row m-b-0" style="margin-top: -10px;">
                                    <label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="submit" class="btn btn-success" id="add" onclick="addClick(event);" value="Submit"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end panel-body -->
                    </div>
                    <!-- end panel -->
                </div>
                <div class="card-footer text-grey-darker f-s-10">
                    <!-- <span style="font-style: italic;">Last Accessed: 2 days ago</span> -->
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col-6 -->
        <div class="col-lg-3">
            <div>
                <img src="{%static 'assets/img/user/user-15.png' %}" 
                style="border-radius: 5px; border: 1px solid #008a8a; max-width: 128px; max-height: 128px; height: 100%;" 
                class="m-l-40 bg-grey-transparent-2" id="imgProfile" name="imgProfile" alt="Upload Image"><br>
            </div>
            <br>
            <div>
                <input type="file" class="btn btn-sm btn-primary form-control" id="fileBtn" name="fileBtn" value="Upload Image"
                onclick="uploadProfile(this)" data-parsley-required="true" data-parsley-required-message="Please choose an image.">
                <p id="imgError"><span class="text-danger">*</span>upload image with jpg, jpeg, and png extensions only.</p>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
{% endblock %}
{% block page-js %}
<script src="{%static 'assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{%static 'assets/plugins/highlight/highlight.common.js' %}"></script>
<script src="{%static 'assets/js/demo/render.highlight.js' %}"></script>
{% endblock %}
{% block init %}
<script>
    $(document).ready(function() {
        App.init();
        Highlight.init();
        highlightSideNav();
    });

    var imgSrc = null;
    var fileName = null;

    function uploadProfile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgProfile').attr('src', e.target.result);
                imgSrc = e.target.result.split(',')[1];
                fileName = $('#fileBtn').val().split('\\')[2];
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#fileBtn").change(function(){
        uploadProfile(this);
    });	

    function saveToFolder(img_src, file_name) {
        var req_from = 'add-user';
        $.ajax({
            type: "POST",
            url: "{% url 'save_to_folder' %}",
            cache: false,
            dataType: 'json',
            data: {
                img_src: img_src,
                file_name: file_name,
                req_from: req_from,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {

            },
            error: function(xhr, status, error) {
                swal({
                    title: "Error!", 
                    text: error,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                }, function(isConfirm) {
                    if (isConfirm) {
                        $('#dep-slip-done-icon').removeClass('fa-spinner fa-pulse');
                        $('#dep-slip-done-icon').addClass('fa-check-circle');
                    }
                });
            }
        });
    };

    function addClick(event) {
        event.preventDefault();
        valid_uname();
    };
    function check_uname(cond) {
        if(cond == 0) { // If username does not exist in the database;
            if (fileName != null) {
                $('#addForm').parsley();
                if($('#addForm').parsley().validate()) {
                    var fname = $.trim($('#fname').val()).toUpperCase();
                    var mname = $.trim($('#mname').val()).toUpperCase();
                    var lname = $.trim($('#lname').val()).toUpperCase();
                    var uname = $.trim($('#uname').val());
                    var psword = Math.random().toString().substr(2,8);
                    var role_name = $.trim($(".radiocss:checked").val());
                    var roleid = role_name == "admin" ? 1 : 2; 
                    var img_filename = fileName;
                    var receiver = $.trim($('#email').val());
                    var fullname = fname + ' ' + mname + ' ' + lname;
                    swal({
                        title: "Add User",
                        text: "Are you sure to add "+ fullname +" as a new " + role_name.toUpperCase() + "?",
                        type: "info",
                        showCancelButton: true,
                        confirmButtonColor: "#428bca",
                        confirmButtonText: "Yes",
                        cancelButtonText: "No",
                        closeOnConfirm: false,
                        closeOnCancel: true,
                        customClass: "Custom_Cancel"
                        },
                        function(isConfirm) {
                            if (isConfirm) {
                                saveToFolder(imgSrc, fileName);
                                $.ajax({
                                    url: "{% url 'add_user_btn_click' %}",
                                    type: "POST",
                                    data: { 
                                        fname:fname,
                                        mname:mname,
                                        lname:lname,
                                        uname:uname,
                                        receiver: receiver,
                                        psword:psword,
                                        roleid:roleid,
                                        img_filename:img_filename,
                                        csrfmiddlewaretoken:"{{csrf_token}}"
                                    },
                                    success:function(data) {
                                        swal({
                                            title: "Added Successfully", 
                                            text: "A new "+ role_name.toUpperCase() +" has been added to the system.", 
                                            type: "success",
                                            showLoaderOnConfirm: true,
                                            confirmButtonColor: "#5cb85c",
                                        },
                                        function(isConfirm){
                                            if (isConfirm){
                                                $('.form-control').val('');
                                                imgSrc = null;
                                                fileName = null;
                                                $('#imgProfile').prop('src', "{%static 'assets/img/user/user-15.png' %}");
                                                send_password(uname, psword, receiver, fullname);
                                            }
                                        });
                                    },
                                    error:function(xhr, status, error) {
                                        var errMsg = xhr.status + ': ' + xhr.statusText;
                                        swal({
                                            title: "Error!", 
                                            text: errMsg,
                                            type: "error",
                                            confirmButtonColor: "#428bca",
                                            showLoaderOnConfirm: true
                                        })
                                    }
                                })
                            }
                        });
                }
            }
            else {
                swal({
                    title: "Missing Image!", 
                    text: "Please add an image to this account.",
                    type: "info",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        }
        else {
            swal({
                title: "Error!", 
                text: "Username already exists!",
                type: "error",
                confirmButtonColor: "#428bca",
                showLoaderOnConfirm: true
            });
        }
    };
    function valid_uname() {
        var uname = $.trim($('#uname').val());
        $.ajax({
            url: "{% url 'check_username' %}",
            type: "POST",
            dataType: 'json',
            cache: false,
            data: { 
                uname:uname,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success:function(obj) {
                var cond = (obj[0] == 1); // If obj[0] has a result, (obj[0]==1) is true, otherwise, (obj[0]==1) is false;
                check_uname(cond); // cond will only have a value of either 1 or 0; 1 means that username already exists in the database;
            },
            error:function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    showLoaderOnConfirm: true
                })
            }
        });
    };

    function send_password(uname, pass, receiver, fullname) {
        $.ajax({
            url: "{% url 'send_password' %}",
            type: "POST",
            dataType: 'json',
            cache: false,
            data: { 
                uname: uname,
                pass: pass,
                receiver: receiver,
                fullname: fullname,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success:function(obj) {
                console.log('Email sent successfully!');
            },
            error:function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    showLoaderOnConfirm: true
                })
            }
        });
    };

    function highlightSideNav() {
        $('#li-dash').removeClass('text-white');
        $('#li-user-mngt').click();
        $('#li-user-mngt').addClass('text-white');
        $('#li-add').addClass('text-white');
        $('#li-edit').removeClass('text-white');
        $('#li-conf').removeClass('text-white');
        $('#li-orsetup').removeClass('text-white');
        $('#setup').removeClass('text-white');
        $('#li-email').removeClass('text-white');
    };
</script>
{% endblock %}