{% extends "views/layouts/pages/main.html" %}
{% block title %}<title>CMS | Add Collection (Manual)</title>{% endblock %}
{% load static %}
{% block page-css %}
<link href="{%static 'assets/plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<!--  -->
<link href="{%static 'assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
<!--  -->
<style>
.disabledInput {
    color: black;
    font-weight: bold;
}
</style>
{% endblock %}
{% block content %}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Add Collection</a></li>
        <li class="breadcrumb-item active">Manual</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Add Collection <small>Manual</small></h1>
    <!-- end page-header -->
    <!-- begin card -->
    <div class="card text-left">
        <div class="card-header">
            <i class="fas fa-id-badge m-r-5"></i>Add Collection (Manual)
        </div>
        <div class="card-block">
            <!-- begin panel -->
            <div class="panel panel-white m-b-0" style="margin-top: -10px;">
                <div class="panel-body">
                    <h1></h1>
                    <form data-parsley-validate="true">
                        <div class="row" style="position: relative;">
                            <div class="col-lg-6">
                                <div class="form-group row m-b-15">
                                    <label class="col-form-label col-md-3">OR Number :</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control m-b-5 f-s-12 disabledInput" readonly="readonly" onfocus="this.blur();" tabindex="-1" value="00000142579" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row m-b-15">
                                    <label class="col-form-label col-md-3">Date :</label>
                                    <div class="col-md-9">
                                        <input type="text" value="{% now 'F d, Y' %}" class="form-control m-b-5 f-s-12 disabledInput" readonly="readonly" onfocus="this.blur();" tabindex="-1" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="position: relative;">
                            <div class="col-lg-6">
                                <div class="form-group row m-b-10">
                                    <label class="col-md-3 col-form-label">Payor :</label>
                                    <div class="col-md-9">
                                        <div class="radio radio-css">
                                            <input type="radio" name="radio_css" id="radiorequired" checked />
                                            <label for="radiorequired">Individual</label>
                                        </div>
                                        <div class="radio radio-css">
                                            <input type="radio" name="radio_css" id="radiorequired2" />
                                            <label for="radiorequired2">Company</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 individual">
                                <div class="form-group row m-b-15">
                                    <label class="col-form-label col-md-3">Last Name :</label>
                                    <div class="col-md-9">
                                        <input type="text" style="text-transform: uppercase;" class="form-control m-b-5" />
                                    </div>
                                    <label class="col-form-label col-md-3">First Name :</label>
                                    <div class="col-md-9">
                                        <input type="text" style="text-transform: uppercase;" class="form-control m-b-5" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 company" style="display: none; margin-bottom: 39px;">
                                <div class="form-group row m-b-15">
                                    <label class="col-form-label col-md-3">Company Name :</label>
                                    <div class="col-md-9">
                                        <input type="text" style="text-transform: uppercase;" class="form-control m-b-5" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="bg-black-transparent-2 m-t-1">
                        <div class="row">
                            <!-- begin col-4 -->
                            <div class="col-lg-4">
                                <!-- begin panel -->
                                <div class="panel">
                                    <!-- begin panel-heading -->
                                    <!-- <div class="panel-heading">
                                        <h4 class="panel-title">Payment Info</h4>
                                    </div> -->
                                    <!-- end panel-heading -->
                                    <!-- begin panel-body -->
                                    <div class="panel-body" style="border-radius: 5px;">
                                            <div class="form-group row m-b-15">
                                                <label class="col-md-4 col-sm-4 col-form-label">Income Type :</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <select class="form-control" id="inc-select" name="selectBox" data-parsley-required="true">
                                                        <option value="Please choose" selected disabled>Please choose</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row m-b-15">
                                                <label class="col-md-4 col-sm-4 col-form-label">UAC Code :</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <select class="form-control selectpicker text-ellipsis" id="uacs_select" name="selectBox" data-parsley-required="true">
                                                        <option value="Please choose" selected disabled>Please choose</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row m-b-15">
                                                <label class="col-md-4 col-sm-4 col-form-label" for="message">Amount :</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <input class="form-control" type="text" id="number" name="number" data-parsley-type="number" data-parsley-required="true" placeholder="Amount in Peso" />
                                                </div>
                                            </div>
                                            <div class="form-group row m-b-0">
                                                <label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <a href="javascript:;" class="btn btn-primary btn-sm" id="particular"><i class="fa fa-plus-circle m-r-5"></i>Add Particulars</a>
                                                </div>
                                            </div>
                                        <!--  -->
                                    </div>
                                    <!-- end panel-body -->
                                </div>
                                <!-- end panel -->
                            </div>
                            <!-- end col-4 -->
                            <div class="col-lg-8" style="margin-top: -15px;">
                                <div class="panel">
                                    <!-- begin panel-heading -->

                                    <!-- end panel-heading -->
                                    <!-- begin panel-body -->
                                    <div class="panel-body" style="border-radius: 5px;">
                                        <table id="data-table-responsives" class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-nowrap">Income Type</th>
                                                    <th class="text-nowrap">UAC Code</th>
                                                    <th class="text-nowrap">Amount</th>
                                                    <th style="max-width: 20px;" class="text-nowrap"></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <!-- end panel-body -->
                                </div>
                                <table class="pull-left" style="margin-top: -20px;">
                                    <tr>
                                        <td  style="padding-left: 15px;"></td>
                                        <td><b>Total Amount : </b></td>
                                        <td class="f-s-14">
                                            <a href="javascript:;" class="btn btn-xs btn-warning">Php <span id="total-fee">0.00</span></a>
                                        </td>
                                    </tr>
                                </table>
                                <table class="pull-right">
                                    <td><button id="save" class="btn btn-success"><i class="fas fa-save m-r-5"></i>Save Entry</button></td>
                                </table>
                            </div>
                        </div>           
                        </form>
                    </div>
                </div>
            <!-- end panel -->
        <div class="card-footer text-grey-darker f-s-10">

        </div>
        </div>
    </div>
    <!-- end card -->
</div>
<!-- end #content -->
{% endblock %}
{% include "views/layouts/includes/base_js.html" %}
{% block page-js %} 
<script src="{%static 'assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{%static 'assets/plugins/highlight/highlight.common.js' %}"></script>
<script src="{%static 'assets/js/demo/render.highlight.js' %}"></script>
<!--  -->
<script src="{%static 'assets/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{%static 'assets/js/demo/table-manage-responsive.demo.min.js' %}"></script>
{% endblock %}
{% block init %}
<script>
    $(document).ready(function() {
        App.init();
        Highlight.init();
        TableManageResponsive.init();

        $.ajax({
            type: "POST",
            url: "{% url 'get_income_type' %}",
            cache: false,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                $.each(obj, function(index, option){
                    $('#inc-select').append( new Option(option,option)); //value and text
                });
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
        $.ajax({
            type: "POST",
            url: "{% url 'get_uacs_code' %}",
            cache: false,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                $.each(obj, function(index, option){
                    $('#uacs_select').append( new Option(option,option)); //value and text 
                });
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
    });
    var dt_part = $('#data-table-responsivesdd').DataTable({
        'paging'      : false,
        'lengthChange': true,
        'searching'   : false,
        'ordering'    : false,
        'info'        : false,
        'autoWidth'   : true,
        "aaSorting": [[3, "desc" ]]
        ,dom: 'lBfrtip'
        ,   buttons: [
        ],
        columnDefs: [
            {
                targets:3, render:function(data){
                    return '<a href="javascript:;" class="btn btn-xs btn-warning undo"><i class="fas fa-times m-r-5"></i></a>';
                }
            }
        ]
    })
    $("#save").click( function() {
        window.location = '{% url "show_receipt" %}';
    });
    $("#radiorequired").click(function() {
        $('.company').hide();
        $('.individual').show();
    });
    $("#radiorequired2").click(function() {
        $('.individual').hide();
        $('.company').show();
    });
    var total_fee = 0;
    var minus_fee = '';
    $('#particular').on('click', function() {
        var tot_fee_txt = $('#total-fee').text();
        var init_tot_fee = parseFloat(tot_fee_txt);
        var inctype = $('#inc-select').find('option:selected').text();
        var uacs = $('#uacs_select').find('option:selected').text()
        var amt = parseFloat($('#number').val());
        $('#data-table-responsives tbody').append(
            `<tr>
                <td>
                    <a href="javascript:;" class="btn btn-white btn-xs">${inctype}</a>
                </td>
                <td>${uacs}</td>
                <td>${amt}</td>
                <td align="center">
                    <a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm remove"><i class="fas fa-times"></i></a>
                </td>
            </tr>`
        );
        total_fee = init_tot_fee + parseFloat(amt);
        $('#total-fee').text(parseFloat(total_fee));
        $('#inc-select').val('Please choose');
        $('#uacs_select').val('Please choose');
        $('#number').val('');
    });
    $('#data-table-responsives tbody').on('click', '.remove', function() {
        minus_fee = $(this).closest('tr').find('td:eq(2)').html();
        var new_total = total_fee - parseFloat(minus_fee);
        $('#total-fee').text(new_total);
        $(this).closest('tr').remove();
    });
</script>
{% endblock %}