{% extends 'views/layouts/pages/admin_main.html' %}
{% block title %}<title>CMS | Add User</title>{% endblock %}
{% load static %}
{% block page-css %}
<link href="{%static 'assets/plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">User Management</a></li>
        <li class="breadcrumb-item active">Add User</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Add User</h1>
    <!-- end page-header -->
    
    <!-- begin row -->
    <div class="row">
        <!--begin filler-->
        <div class="col-lg-3"></div>
        <!--end filler-->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <!-- begin card -->
            <div class="card text-left">
                <div class="card-header">
                    <i class="fas fa-user-plus m-r-5"></i>
                    Add New User to the System
                </div>
                <div class="card-block">
                    <!-- begin panel -->
                    <div class="panel panel-white" data-sortable-id="form-validation-1">
                        <!-- begin panel-heading -->
 
                        <!-- end panel-heading -->
                        <!-- begin panel-body -->
                        <div class="panel-body" style="margin-bottom: -40px;;">
                            <form class="form-horizontal" name="demo-form" action="#" id="addForm" autocomplete="off">
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="fullname">First Name <span class="text-red">*</span> :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" id="fname" name="fname" placeholder="First Name" data-parsley-required="true" />
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="fullname">Middle Name :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" id="mname" name="mname" placeholder="Middle Name" />
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="fullname">Last Name <span class="text-red">*</span> :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" id="lname" name="lname" placeholder="Last Name" data-parsley-required="true" />
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="email">Username <span class="text-red">*</span> :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" id="uname" name="uname" placeholder="Username" data-parsley-required="true" />
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="message">Password <span class="text-red">*</span> :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" id="pword" name="pword" maxlength="15" placeholder="Password" data-parsley-required="true"/>
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label">Role <span class="text-red">*</span> :</label>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="radio radio-css">
                                            <input type="radio" name="radio_css" class="radiocss" id="radiorequired" value="admin" checked />
                                            <label for="radiorequired" class="text-success">Admin</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="radio radio-css">
                                            <input type="radio" name="radio_css" class="radiocss" id="radiorequired2" value="cashier"/>
                                            <label for="radiorequired2" class="text-success">Cashier</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row m-b-0" style="margin-top: -10px;">
                                    <label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="submit" class="btn btn-success" id="add" onclick="addClick(event);" value="Submit"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end panel-body -->
                    </div>
                    <!-- end panel -->
                </div>
                <div class="card-footer text-grey-darker f-s-10">
                    <span style="font-style: italic;">Last Updated: 2 days ago</span>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
{% endblock %}
{% block page-js %}
<script src="{%static 'assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{%static 'assets/plugins/highlight/highlight.common.js' %}"></script>
<script src="{%static 'assets/js/demo/render.highlight.js' %}"></script>
{% endblock %}
{% block init %}
<script>
    $(document).ready(function() {
        App.init();
        Highlight.init();
    });
    function addClick(event) {
        event.preventDefault();
        valid_email();
    };
    function check_email(cond) {
        if(cond == 0) {
            $('#addForm').parsley();
            if($('#addForm').parsley().validate()) {
                var fname = $.trim($('#fname').val());
                var mname = $.trim($('#mname').val());
                var lname = $.trim($('#lname').val());
                var uname = $.trim($('#uname').val());
                var psword = $.trim($('#pword').val());
                var role_name = $.trim($(".radiocss:checked").val());
                var roleid = role_name == "admin" ? 1 : 2; 
                swal({
                    title: "Add User",
                    text: "Are you sure to add this user?",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#428bca",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: false,
                    closeOnCancel: true,
                    customClass: "Custom_Cancel"
                    },
                    function(isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                url: "{% url 'add_user_btn_click' %}",
                                type: "POST",
                                data: { 
                                    fname:fname,
                                    mname:mname,
                                    lname:lname,
                                    uname:uname,
                                    psword:psword,
                                    roleid:roleid,
                                    csrfmiddlewaretoken:"{{csrf_token}}"
                                },
                                timeout: 5000,
                                success:function(data) {
                                    swal({
                                        title: "Added Successfully", 
                                        text: "A new user is added to the system.", 
                                        type: "success",
                                        showLoaderOnConfirm: true,
                                        confirmButtonColor: "#5cb85c",
                                    },
                                    function(isConfirm){
                                        if (isConfirm){
                                            $('.form-control').val('');
                                        }
                                    })
                                },
                                error:function(xhr, status, error) {
                                    var errMsg = xhr.status + ': ' + xhr.statusText;
                                    swal({
                                        title: "Error!", 
                                        text: errMsg,
                                        type: "error",
                                        confirmButtonColor: "#428bca",
                                        showLoaderOnConfirm: true
                                    })
                                }
                            })
                        }
                    });
            }
        }
        else {
            swal({
                title: "Error!", 
                text: "Username already exists!",
                type: "error",
                confirmButtonColor: "#428bca",
                showLoaderOnConfirm: true
            });
        }
    };
    function valid_email() {
        var uname = $.trim($('#uname').val());
        $.ajax({
            url: "{% url 'check_username' %}",
            type: "POST",
            dataType: 'json',
            cache: false,
            data: { 
                uname:uname,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            timeout: 5000,
            success:function(obj) {
                cond = (obj[0] == 1);
                check_email(cond);
            },
            error:function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    showLoaderOnConfirm: true
                })
            }
        })
    };
</script>
{% endblock %}