{% extends "views/layouts/pages/main.html" %}
{% block title %}<title>CMS | Add Collection (Student)</title>{% endblock %}
{% load static %}
{% block page-css %}
<link href="{%static 'assets/plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<!--  -->
<link href="{%static 'assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
<!--  -->
<style>
.disabledInput {
    color: black;
    font-weight: bold;
}
</style>
{% endblock %}
{% block content %}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Add Collection</a></li>
        <li class="breadcrumb-item active">Student</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Add Collection <small>Student</small></h1>
    <!-- end page-header -->
    <!-- begin card -->
    <div class="card text-left">
        <div class="card-header">
            <i class="fas fa-id-card m-r-5"></i>Add Collection (Student)
        </div>
        <div class="card-block">
            <!-- begin panel -->
            <div class="panel m-b-1">
                <div class="panel-body">
                    <form data-parsley-validate="true">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row m-b-15">
                                    <label class="col-form-label col-md-3">OR Number :</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control m-b-5 f-s-12 disabledInput" readonly="readonly" onfocus="this.blur();" tabindex="-1" value="00000142579" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row m-b-15">
                                    <label class="col-form-label col-md-3">Date :</label>
                                    <div class="col-md-9">
                                        <input type="text" value="{% now 'F d, Y' %}" class="form-control m-b-5 f-s-12 disabledInput" readonly="readonly" onfocus="this.blur();" tabindex="-1" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row m-b-15">
                                    <label class="col-form-label col-md-3">Student No. :</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control m-b-5 f-s-12" data-parsley-required="true" data-parsley-type="alphanum" style="text-transform: uppercase;" value="2017-00293-CM-0" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row m-b-15">
                                    <label class="col-form-label col-md-3">Last Name :</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control m-b-5 f-s-12 disabledInput" placeholder="SILLEZA" readonly="readonly" onfocus="this.blur();" tabindex="-1" disabled/>
                                    </div>
                                    <label class="col-form-label col-md-3">First Name :</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control m-b-5 f-s-12 disabledInput" placeholder="VAN ANTHONY" readonly="readonly" onfocus="this.blur();" tabindex="-1" disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="bg-black-transparent-2 m-t-1">
                        <div class="row">
                        <!-- begin col-4 -->
                        <div class="col-lg-4">
                            <!-- begin panel -->
                            <div class="panel">
                                <!-- begin panel-heading -->
                                <!-- <div class="panel-heading">
                                    <h4 class="panel-title">Payment Info</h4>
                                </div> -->
                                <!-- end panel-heading -->
                                <!-- begin panel-body -->
                                <div class="panel-body">
                                        <div class="form-group row m-b-15">
                                            <label class="col-md-4 col-sm-4 col-form-label">Income Type :</label>
                                            <div class="col-md-8 col-sm-8">
                                                <select class="form-control" id="select-required" name="selectBox" data-parsley-required="true">
                                                    <option value="">Please choose</option>
                                                    <option value="foo">Business Income</option>
                                                    <option value="bar">Other Service Income</option>
                                                    <option value="bar">Secret Fee</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row m-b-15">
                                            <label class="col-md-4 col-sm-4 col-form-label">UAC Code :</label>
                                            <div class="col-md-8 col-sm-8">
                                                <select class="form-control selectpicker" id="select-required" name="selectBox" data-parsley-required="true">
                                                    <option value="" selected>Please Choose</option>
                                                    <option value="AF">Tuition Fee</option>
                                                    <option value="AL">Miscellaneous Fee</option>
                                                    <option value="DZ">Permit Fee</option>
                                                    <option value="AS">Fee</option>
                                                    <option value="AD">E</option>
                                                    <option value="AO">F</option>
                                                    <option value="AI">G</option>
                                                    <option value="AQ">H</option>
                                                    <option value="AG">I</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row m-b-15">
                                            <label class="col-md-4 col-sm-4 col-form-label" for="message">Amount :</label>
                                            <div class="col-md-8 col-sm-8">
                                                <input class="form-control" type="text" id="number" name="number" data-parsley-type="number" data-parsley-required="true" placeholder="Amount in Peso" />
                                            </div>
                                        </div>
                                        <div class="form-group row m-b-0">
                                            <label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
                                            <div class="col-md-8 col-sm-8">
                                                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus-circle m-r-5"></i>Add Particulars</button>
                                            </div>
                                        </div>
                                    <!--  -->
                                </div>
                                <!-- end panel-body -->
                            </div>
                            <!-- end panel -->
                        </div>
                        <!-- end col-4 -->
                            <div class="col-lg-8 col-sm-8">
                                <div class="panel" style="margin-top: -15px;">
                                    <!-- begin panel-heading -->

                                    <!-- end panel-heading -->
                                    <!-- begin panel-body -->
                                    <div class="panel-body">
                                        <table id="data-table-responsives" class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-nowrap">Income Type</th>
                                                    <th class="text-nowrap">UAC Code</th>
                                                    <th class="text-nowrap">Amount</th>
                                                    <th style="max-width: 20px;" class="text-nowrap"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="odd gradeX">
                                                    <td>
                                                        <a href="javascript:;" class="btn btn-white btn-xs">Business Income</a>
                                                    </td>
                                                    <td>Tuition Fee</td>
                                                    <td>1527.50</td>
                                                    <td align="center">
                                                        <a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm"><i class="fas fa-times"></i></a>
                                                    </td>
                                                </tr>
                                                <tr class="even gradeC">
                                                    <td>
                                                        <a href="javascript:;" class="btn btn-white btn-xs">Secret Fee</a>
                                                    </td>
                                                    <td> Fee</td>
                                                    <td>300.00</td>
                                                    <td align="center">
                                                        <a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm"><i class="fas fa-times"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- end panel-body -->
                                </div>
                                <table style="float: left; margin-top: -20px;">
                                    <tr>
                                        <td  style="padding-left: 15px;"></td>
                                        <td><b>Total Amount : </b></td>
                                        <td class="f-s-14">
                                            <a href="javascript:;" class="btn btn-xs btn-warning">Php 1,827.50</a>
                                        </td>
                                    </tr>
                                </table>
                                <table style="float: right;">
                                    <td><button type="submit" id="save" class="btn btn-success"><i class="fas fa-save m-r-5"></i>Save Entry</button></td>
                                </table>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            <!-- end panel -->
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>
    <!-- end card -->
</div>
<!-- end #content -->
{% endblock %}
{% include "views/layouts/includes/base_js.html" %}
{% block page-js %} 
<script src="{%static 'assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{%static 'assets/plugins/highlight/highlight.common.js' %}"></script>
<script src="{%static 'assets/js/demo/render.highlight.js' %}"></script>
<!--  -->
<script src="{%static 'assets/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{%static 'assets/js/demo/table-manage-responsive.demo.min.js' %}"></script>
{% endblock %}
{% block init %}
<script>
    $(document).ready(function() {
        App.init();
        Highlight.init();
        TableManageResponsive.init();
    });
    $('#data-table-responsives').DataTable({
        'paging'      : false,
        'lengthChange': true,
        'searching'   : false,
        'ordering'    : false,
        'info'        : false,
        'autoWidth'   : true,
        "aaSorting": [[3, "desc" ]]
        ,dom: 'lBfrtip'
        ,   buttons: [
        ],
    })
    $("#save").click( function() {
        window.location = 'show_receipt';
    });
</script>
{% endblock %}