<!DOCTYPE html>
{% load static %}
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	{% block title %}<title>CMS | Admin Dashboard</title>{% endblock %}
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link rel="icon" href="{%static 'assets/img/logo/PUPLogo.png' %}" type="image/png">
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	{% include "views/layouts/includes/base_css.html" %}
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	{% block page-css %} {% endblock %}
	<!-- ================== END PAGE LEVEL STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar-default">
			<!-- begin navbar-header -->
			<div class="navbar-header">
				<a href="{% url 'admin_dashboard' %}" class="navbar-brand"><span><img src="{%static 'assets/img/logo/PUPLogo.jpg' %}" style="max-width: 30px; max-height: 30px; margin-right: 10px;"/></span><b>PUPQC CMS</b> <small>ADMIN</small></a>
				<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- end navbar-header -->
			
			<!-- begin header-nav -->
			<ul class="navbar-nav navbar-right">
				<li class="dropdown navbar-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<img src="{%static 'assets/img/user/user-15.png' %}" alt="{%static 'assets/img/user/user-15.png' %}" id="admin-topnav-img" /> 
						<span class="d-none d-md-inline fname" style="text-transform: capitalize;"></span> <b class="caret"></b>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="javascript:;" class="dropdown-item"><i class="fas fa-calendar-alt m-r-5"></i>Calendar</a>
						<div class="dropdown-divider"></div>
						<a href="{% url 'change_pass_admin' %}" class="dropdown-item"><i class="fas fa-key m-r-5"></i>Change Password</a>
						<div class="dropdown-divider"></div>
						<a href="{% url 'logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt m-r-5"></i>Log Out</a>
					</div>
				</li>
			</ul>
			<!-- end header navigation right -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		{% include "views/layouts/sidenav/side_navbar_admin.html" %}
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		{% block content %} {% endblock %}
		<!-- end #content -->
		
		<!-- begin #footer -->
		<div id="footer" class="footer hidden-print">
		    &copy; {% now "Y" %} All Rights Reserved - PUPQC Cashier Management System
		</div>
		<!-- end #footer -->
		
        <!-- begin theme-panel -->

        <!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	<!-- #email_config -->
	<div class="modal fade" id="email_config">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Email Configuration</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
				<!-- begin card -->
				<div class="card card-inverse bg-gradient-silver">
					<div class="card-block">
						<form class="form-horizontal" data-parsley-validate="true" id="email_config_form">
							<div class="form-group row m-b-15">
								<label class="col-md-4 col-sm-4 col-form-label">Email Provider <span class="text-red">*</span> :</label>
								<div class="col-md-4 col-sm-4">
									<div class="radio radio-css">
										<input type="radio" name="radio_css" id="gmail" checked />
										<label for="gmail" class="text-inverse f-w-700">
											<i class="fas fa-envelope-square m-r-5" style="color: #BB001B; background-color: white; font-size: medium;"></i>
											<span class="text-primary">G</span>
											<span class="text-danger">m</span>
											<span class="text-warning">a</span>
											<span class="text-primary">i</span>
											<span class="text-success">l</span>
										</label>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="radio radio-css">
										<input type="radio" name="radio_css" id="outlook" />
										<label for="outlook" class="text-inverse" style="font-family: Arial, Helvetica, sans-serif;">
											<i class="fas fa-envelope-square m-r-5" style="color: #01A6F0; background-color: white; font-size: medium;"></i>Outlook
										</label>
									</div>
								</div>
							</div>
							<div class="form-group row m-b-15">
								<label class="col-md-4 col-sm-4 col-form-label" for="c_email">Email Address <span class="text-red">*</span> :</label>
								<div class="col-md-8 col-sm-8">
									<input class="form-control" type="email" id="c_email" name="c_email" placeholder="Email" data-parsley-type="email" data-parsley-required="true" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group row m-b-15">
								<label class="col-md-4 col-sm-4 col-form-label" for="c_pass">Password <span class="text-red">*</span> :</label>
								<div class="col-md-8 col-sm-8">
									<input class="form-control" type="password" id="c_pass" name="c_pass" placeholder="Password" data-parsley-required="true" autocomplete="off"/>
								</div>
							</div>
							<div class="modal-footer form-group m-b-0">
								<a href="javascript:;" class="btn btn-white" data-dismiss="modal" id="close-email"><i class="fas fa-times m-r-5"></i>Close</a>
								<a href="javascript:;" class="btn btn-success" id="set-email"><i class="fas fa-gavel m-r-5" id="set-email-icon"></i>Set</a>
							</div>
						</form>
					</div>
				</div>
				<!-- end card -->
				</div>
			</div>
		</div>
	</div>
	
	<!-- ================== BEGIN BASE JS ================== -->
	{% include "views/layouts/includes/base_js.html" %}
	<!-- ================== END BASE JS ================== -->

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	{% block page-js %} {% endblock %}
	<!-- ================== END PAGE LEVEL JS ================== -->
	{% block init %}
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
	{% endblock %}
	<script>
		$(window).on("load",function(){
			$(".loader-wrapper").fadeOut("slow");
		});

		$(document).ready(function() {
			gt_fname();
			gt_profile_img();
		});

		function gt_fname() {
			$.ajax({
				url: "{% url 'gt_fname' %}",
				type: "POST",
				data: {
					csrfmiddlewaretoken:"{{csrf_token}}"
				},
				success: function(fname) {
					$('.fname').text($.trim(fname).toLowerCase());
					$('.side_name').text($.trim(fname).toLowerCase());
				},
				error: function(xhr, status, error) {
					var errMsg = xhr.status + ': ' + xhr.statusText;
					swal({
						title: "Error!", 
						text: errMsg,
						type: "error",
						confirmButtonColor: "#428bca",
						showLoaderOnConfirm: true
					})
				}
			});
		};

		function gt_profile_img() {
			$.ajax({
				url: "{% url 'gt_profile_img' %}",
				type: "POST",
				data: {
					csrfmiddlewaretoken:"{{csrf_token}}"
				},
				success: function(obj) { 
					$('#admin-sidenav-img').prop('src', "{%static 'assets/img/uploads/profile_pictures/' %}" + obj);
					$('#admin-topnav-img').prop('src', "{%static 'assets/img/uploads/profile_pictures/' %}" + obj);
				},
				error: function(xhr, status, error) {
					var errMsg = xhr.status + ': ' + xhr.statusText;
					swal({
						title: "Error!", 
						text: errMsg,
						type: "error",
						confirmButtonColor: "#428bca",
						showLoaderOnConfirm: true
					})
				}
			});
		};

		$('#email_config').on('shown.bs.modal', function() {
			$('#li-dash').removeClass('text-white');
			$('#li-user-mngt').removeClass('text-white');
			$('#li-add').removeClass('text-white');
			$('#li-edit').removeClass('text-white');
			$('#li-conf').removeClass('text-white');
			$('#li-orsetup').removeClass('text-white');
			$('#setup').removeClass('text-white');
			$('#li-email').addClass('text-white');
		});

		$('#set-email').on('click', function() {
			var email = $('#c_email').val().trim();
			var pass= $('#c_pass').val().trim();
			$('#set-email-icon').removeClass('fa-gavel');
			$('#set-email-icon').addClass('fa-spinner fa-pulse');
			if ($('#email_config_form').parsley().validate()) {
				$.ajax({
					url: "{% url 'set_email' %}",
					type: "POST",
					data: {
						email: email,
						pass: pass,
						csrfmiddlewaretoken:"{{csrf_token}}"
					},
					success: function(obj) {
						swal({
							title: "Configured Successfully!", 
							text: "Cashier email configured successfully.", 
							type: "success",
							showLoaderOnConfirm: true,
							confirmButtonColor: "#5cb85c",
						},
						function(isConfirm){
							if (isConfirm){
								$('#set-email-icon').removeClass('fa-spinner fa-pulse');
								$('#set-email-icon').addClass('fa-gavel');
								$('#c_email').val('');
								$('#c_pass').val('');
								$('#close-email').click();
							}
						});
					},
					error: function(xhr, status, error) {
						var errMsg = xhr.status + ': ' + xhr.statusText;
						swal({
							title: "Error!", 
							text: errMsg,
							type: "error",
							confirmButtonColor: "#428bca",
							showLoaderOnConfirm: true
						});
					}
				});
			}
			else {
				$('#set-email-icon').removeClass('fa-spinner fa-pulse');
				$('#set-email-icon').addClass('fa-gavel');
			}
		});

		$('#backup').on('click', function() {
			$.ajax({
				url: "{% url 'backup_db' %}",
				type: "POST",
				data: {
					csrfmiddlewaretoken:"{{csrf_token}}"
				},
				success: function(obj) {
					swal({
						title: "BackedUp Successfully!", 
						text: "Your database is saved in "+ obj +'.', 
						type: "success",
						showLoaderOnConfirm: true,
						confirmButtonColor: "#5cb85c",
					});
				},
				error: function(xhr, status, error) {
					var errMsg = xhr.status + ': ' + xhr.statusText;
					swal({
						title: "Error!", 
						text: errMsg,
						type: "error",
						confirmButtonColor: "#428bca",
						showLoaderOnConfirm: true
					});
				}
			});
		});
	</script>
</body>
</html>
