<!DOCTYPE html>
{% load static %}
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	{% block title %}<title>CMS | Admin Dashboard</title>{% endblock %}
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link rel="icon" href="{%static 'assets/img/logo/PUPLogo.png' %}" type="image/png">
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	{% include "views/layouts/includes/base_css.html" %}
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	{% block page-css %} {% endblock %}
	<!-- ================== END PAGE LEVEL STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar-default">
			<!-- begin navbar-header -->
			<div class="navbar-header">
				<a href="{% url 'admin_dashboard' %}" class="navbar-brand"><span><img src="{%static 'assets/img/logo/PUPLogo.jpg' %}" style="max-width: 30px; max-height: 30px; margin-right: 10px;"/></span><b>PUPQC CMS</b> <small>ADMIN</small></a>
				<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- end navbar-header -->
			
			<!-- begin header-nav -->
			<ul class="navbar-nav navbar-right">
				<li class="dropdown navbar-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<img src="{%static 'assets/img/user/spiderman.jpg' %}" alt="" /> 
						<span class="d-none d-md-inline fname"></span> <b class="caret"></b>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="javascript:;" class="dropdown-item"><i class="fas fa-calendar-alt m-r-5"></i>Calendar</a>
						<div class="dropdown-divider"></div>
						<a href="{% url 'logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt m-r-5"></i>Log Out</a>
					</div>
				</li>
			</ul>
			<!-- end header navigation right -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		{% include "views/layouts/sidenav/side_navbar_admin.html" %}
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		{% block content %} {% endblock %}
		<!-- end #content -->
		
		<!-- begin #footer -->
		<div id="footer" class="footer hidden-print">
		    &copy; {% now "Y" %} All Rights Reserved - PUPQC Cashier Management System
		</div>
		<!-- end #footer -->
		
        <!-- begin theme-panel -->

        <!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	{% include "views/layouts/includes/base_js.html" %}
	<!-- ================== END BASE JS ================== -->

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	{% block page-js %} {% endblock %}
	<!-- ================== END PAGE LEVEL JS ================== -->
	{% block init %}
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
	{% endblock %}
	<script>
		$(window).on("load",function(){
			$(".loader-wrapper").fadeOut("slow");
		});
		gt_fname();
		function gt_fname() {
			$.ajax({
				url: "{% url 'gt_fname' %}",
				type: "POST",
				data: {
					csrfmiddlewaretoken:"{{csrf_token}}"
				},
				success: function(fname) {
					$('.fname').text(fname);
					$('.side_name').text(fname);
				},
				error: function(xhr, status, error) {
					var errMsg = xhr.status + ': ' + xhr.statusText;
					swal({
						title: "Error!", 
						text: errMsg,
						type: "error",
						confirmButtonColor: "#428bca",
						showLoaderOnConfirm: true
					})
				}
			});
		};

		$('#email_config').on('shown.bs.modal', function() {
			$('#li-dash').removeClass('text-white');
			$('#li-user-mngt').removeClass('text-white');
			$('#li-add').removeClass('text-white');
			$('#li-edit').removeClass('text-white');
			$('#li-conf').removeClass('text-white');
			$('#li-orsetup').removeClass('text-white');
			$('#setup').removeClass('text-white');
			$('#li-email').addClass('text-white');
		});
	</script>
</body>
</html>
