{% extends "views/layouts/pages/main.html" %}
{% block title %}<title>CMS | Cash Receipt Record Report</title>{% endblock %}
{% load static %}
{% block page-css %} 
<link href="{%static 'assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/AutoFill/css/autoFill.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/ColReorder/css/colReorder.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/KeyTable/css/keyTable.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/RowReorder/css/rowReorder.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Select/css/select.bootstrap.min.css' %}" rel="stylesheet" />
<!--  -->
<link href="{%static 'assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/ionRangeSlider/css/ion.rangeSlider.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/password-indicator/css/password-indicator.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-combobox/css/bootstrap-combobox.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-tag-it/css/jquery.tagit.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Collection Report</a></li>
        <li class="breadcrumb-item active">Cash Receipt Record</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Cash Receipt Record <small>View/Generate Report</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row m-b-10">
        <!-- begin col-3 -->
        <div class="col-lg-3">
            <div class="m-t-10 row">
                <div class="col-lg-8">
                    <select class="form-control" id="select-month">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <a href="javascript:;" class="btn btn-primary btn-m" id="sum-filter"><i class="fas fa-file-code m-r-5"></i>Filter</a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-9 -->
        <div class="col-lg-9">
            <!-- filler -->
        </div>
        <!-- end col-9 -->
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-lg-12">
            <!-- begin card -->
            <div class="card text-left">
                <div class="card-header">
                    <i class="fas fa-archive m-r-5"></i>Cash Receipt Record
                </div>
                <div class="card-block">
                    <div class="panel panel-white">
                        <!-- begin panel-heading -->
                        <div class="panel-heading">
                            <h4 class="panel-title"></h4>
                        </div>
                        <!-- end panel-heading -->
                        <!-- begin panel-body -->
                        <div class="panel-body">
                            <table id="data-table-combines" class="table table-hover table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-nowrap bg-inverse text-white" rowspan="2" style="text-align: center;">Date</th>
                                        <th class="text-nowrap bg-inverse text-white" rowspan="2" style="text-align: center;">Reference No.<br>OR No.</th>
                                        <th class="text-nowrap bg-inverse text-white" rowspan="2" style="text-align: center;">Payor</th>
                                        <th class="text-nowrap bg-inverse text-white" rowspan="2" style="text-align: center;">UACS Code</th>
                                        <th class="text-nowrap bg-inverse text-white" rowspan="2" style="text-align: center;">Nature of Collection</th>
                                        <th class="text-nowrap bg-inverse text-white" rowspan="2" style="text-align: center;">Collection</th>
                                        <th class="text-nowrap bg-inverse text-white" rowspan="2" style="text-align: center;">Deposit</th>
                                        <th class="text-nowrap bg-inverse text-white" rowspan="2" style="text-align: center;">Undeposited<br>Collection</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--  -->
                                </tbody>
                            </table>
                        </div>
                        <!-- end panel-body -->
                    </div>
                </div>
                <div class="card-footer text-muted">
                    
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
{% endblock %}
{% block page-js %}
<script src="{%static 'assets/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/AutoFill/js/dataTables.autoFill.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/ColReorder/js/dataTables.colReorder.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/KeyTable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/RowReorder/js/dataTables.rowReorder.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Select/js/dataTables.select.min.js' %}"></script>
<script src="{%static 'assets/js/demo/table-manage-combine.demo.min.js' %}"></script>
<!--  -->
<script src="{%static 'assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{%static 'assets/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{%static 'assets/plugins/masked-input/masked-input.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
<script src="{%static 'assets/plugins/password-indicator/js/password-indicator.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-combobox/js/bootstrap-combobox.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.js' %}"></script>
<script src="{%static 'assets/plugins/jquery-tag-it/js/tag-it.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-daterangepicker/moment.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{%static 'assets/plugins/select2/dist/js/select2.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-show-password/bootstrap-show-password.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js' %}"></script>
<script src="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js' %}"></script>
<script src="{%static 'assets/plugins/clipboard/clipboard.min.js' %}"></script>
<script src="{%static 'assets/js/demo/form-plugins.demo.js' %}"></script>
{% endblock %}
{% block init %}
<script>
    $(document).ready(function() {
        App.init();
        TableManageCombine.init();
        FormPlugins.init();
    });
    var dt_combines = $('#data-table-combines').DataTable({
        'paging'      : false,
        'lengthChange': false,
        'searching'   : true,
        'ordering'    : false,
        'info'        : false,
        'autoWidth'   : false,
        'aaSorting'   : [[1, "desc" ]],
        'pagingType'  : 'full_numbers',
        dom: 'lBfrtip',
        buttons: [
            {
                extend:    'print',
                text:      '<i class="fas fa-print text-orange-lighter f-s-16"></i>',
                titleAttr: 'Print',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend:    'excel',
                text:      '<i class="fas fa-file-excel text-green-lighter f-s-16"></i>',
                titleAttr: 'Excel',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend:    'pdf',
                text:      '<i class="fas fa-file-pdf text-red-lighter f-s-16"></i>',
                titleAttr: 'PDF',
                exportOptions: {
                    columns: ':visible'
                }
            }
        ],
            "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ]
    });

    function loadCashReceiptTable(month) {
        $.ajax({
            type: "POST",
            url: "{% url 'load_cash_receipt_table' %}",
            // cache: true,
            dataType: 'json',
            data: {
                month: month,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                var total_dep = 0;
                dt_combines.clear().draw();
                $.each(obj, function(index, data){
                    dt_combines.row.add( [
                         data[0]
                        ,data[1]
                        ,data[2]
                    ] ).draw();
                    total_dep = total_dep + parseFloat(data[2].toString());
                });
                var addBal = parseFloat($('#add-bal').text());
                var superTot = total_dep + addBal;
                var tot_dep = '₱ ' + total_dep.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                $('#tot-dep').text(tot_dep);
                $('#super-tot').text('₱ ' + superTot.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#tot-dep-card').text(tot_dep);
                $('#tot-slip-card').text(obj.length);
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

</script>
{% endblock %}