{% extends "views/layouts/pages/main.html" %}
{% block title %}<title>CMS | Cash Receipt Record Report</title>{% endblock %}
{% load static %}
{% block page-css %} 
<link href="{%static 'assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/AutoFill/css/autoFill.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/ColReorder/css/colReorder.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/KeyTable/css/keyTable.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/RowReorder/css/rowReorder.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Select/css/select.bootstrap.min.css' %}" rel="stylesheet" />
<!--  -->
<link href="{%static 'assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/ionRangeSlider/css/ion.rangeSlider.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/password-indicator/css/password-indicator.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-combobox/css/bootstrap-combobox.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-tag-it/css/jquery.tagit.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Collection Report</a></li>
        <li class="breadcrumb-item active">Cash Receipt Record</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Cash Receipt Record <small>View/Generate Report</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row m-b-10">
        <!-- begin col-3 -->
        <div class="col-lg-3">
            <div class="m-t-10 row">
                <div class="col-lg-8">
                    <select class="form-control" id="select-month">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <a href="javascript:;" class="btn btn-primary btn-m" id="cash-filter"><i class="fas fa-file-code m-r-5"></i>Filter</a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-9 -->
        <div class="col-lg-9">
            <!-- filler -->
        </div>
        <!-- end col-9 -->
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-3">
            <div class="widget widget-stats bg-gradient-red height-90">
                <div class="stats-icon"><i class="fas fa-circle-notch"></i></div>
                <div class="stats-info">
                    <h4>TOTAL O.R NO.</h4>
                    <p id="tot-or-no"></p>	
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-3">
            <div class="widget widget-stats bg-gradient-lime height-90">
                <div class="stats-icon"><i class="fas fa-download"></i></div>
                <div class="stats-info">
                    <h4>TOTAL REFERENCE NO.</h4>
                    <p id="tot-ref-no"></p>	
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-3">
            <div class="widget widget-stats bg-gradient-green height-90">
                <div class="stats-icon"><i class="fas fa-users"></i></div>
                <div class="stats-info">
                    <h4>TOTAL UNIQUE PAYOR</h4>
                    <p id="tot-unq-pay"></p>	
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-3">
            <div class="widget widget-stats bg-gradient-black height-90">
                <div class="stats-icon"><i class="fas fa-cart-plus"></i></div>
                <div class="stats-info">
                    <h4>TOTAL COLLECTION</h4>
                    <p id="tot-col"></p>	
                </div>
            </div>
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row" hidden>
        <!-- begin col-12 -->
        <div class="col-lg-12">
            <!-- begin card -->
            <div class="card text-left">
                <div class="card-header">
                    <i class="fas fa-archive m-r-5"></i>Cash Receipt Record
                </div>
                <div class="card-block">
                    <div class="panel panel-white">
                        <!-- begin panel-heading -->
                        <div class="panel-heading">
                            <h4 class="panel-title"></h4>
                        </div>
                        <!-- end panel-heading -->
                        <!-- begin panel-body -->
                        <div class="panel-body">
                            <table id="data-table-combines" class="table table-hover table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-nowrap bg-inverse text-white" rowspan="2" style="text-align: center;">Date</th>
                                        <th class="text-nowrap bg-inverse text-white" rowspan="2" style="text-align: center;">Reference No.<br>OR No.</th>
                                        <th class="text-nowrap bg-inverse text-white" rowspan="2" style="text-align: center;">Payor</th>
                                        <th class="text-nowrap bg-inverse text-white" rowspan="2" style="text-align: center;">UACS Code</th>
                                        <th class="text-nowrap bg-inverse text-white" rowspan="2" style="text-align: center;">Nature of Collection</th>
                                        <th class="text-nowrap bg-inverse text-white" rowspan="2" style="text-align: center;">Collection</th>
                                        <th class="text-nowrap bg-inverse text-white" rowspan="2" style="text-align: center;">Deposit</th>
                                        <th class="text-nowrap bg-inverse text-white" rowspan="2" style="text-align: center;">Undeposited<br>Collection</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--  -->
                                </tbody>
                            </table>
                        </div>
                        <!-- end panel-body -->
                    </div>
                </div>
                <div class="card-footer text-muted">
                    
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fas fa-trophy m-r-5"></i>Top Contributors</h4>
                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->
                <div class="panel-body">
                    <table id="table-top-contrib" class="table table-striped table-bordered table-hover">
                        <thead class="text-center">
                            <th class="text-nowrap" width="10%">No.</th>
                            <th class="text-nowrap" width="50%">Name</th>
                            <th class="text-nowrap" width="20%">Frequency</th>
                            <th class="text-nowrap" width="20%">Amount(₱)</th>
                        </thead>
                        <tbody class="text-center">
  
                        </tbody>
                    </table>
                </div>
                <!-- end panel-body -->
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="flot-chart-8">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fas fa-chart-pie m-r-5"></i>Deposits of the Month</h4>
                </div>
                <div class="panel-body">
                    <p id="dep-month-tot"></p>
                    <div id="donut-chart" class="height-sm"></div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
{% endblock %}
{% block page-js %}
<script src="{%static 'assets/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/AutoFill/js/dataTables.autoFill.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/ColReorder/js/dataTables.colReorder.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/KeyTable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/RowReorder/js/dataTables.rowReorder.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Select/js/dataTables.select.min.js' %}"></script>
<script src="{%static 'assets/js/demo/table-manage-combine.demo.min.js' %}"></script>
<!--  -->
<script src="{%static 'assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{%static 'assets/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{%static 'assets/plugins/masked-input/masked-input.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
<script src="{%static 'assets/plugins/password-indicator/js/password-indicator.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-combobox/js/bootstrap-combobox.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.js' %}"></script>
<script src="{%static 'assets/plugins/jquery-tag-it/js/tag-it.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-daterangepicker/moment.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{%static 'assets/plugins/select2/dist/js/select2.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-show-password/bootstrap-show-password.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js' %}"></script>
<script src="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js' %}"></script>
<script src="{%static 'assets/plugins/clipboard/clipboard.min.js' %}"></script>
<script src="{%static 'assets/js/demo/form-plugins.demo.js' %}"></script>
<script src="{%static 'assets/plugins/flot/jquery.flot.min.js' %}"></script>
<script src="{%static 'assets/plugins/flot/jquery.flot.time.min.js' %}"></script>
<script src="{%static 'assets/plugins/flot/jquery.flot.resize.min.js' %}"></script>
<script src="{%static 'assets/plugins/flot/jquery.flot.pie.min.js' %}"></script>
<script src="{%static 'assets/plugins/flot/jquery.flot.stack.min.js' %}"></script>
<script src="{%static 'assets/plugins/flot/jquery.flot.crosshair.min.js' %}"></script>
<script src="{%static 'assets/plugins/flot/jquery.flot.categories.js' %}"></script>
<script src="{%static 'assets/plugins/moment/moment.min.js' %}"></script>
{% endblock %}
{% block init %}
<script>
    $(document).ready(function() {
        App.init();
        FormPlugins.init();
        highlightSideNav();
        $('#select-month').val(new Date().getMonth() + 1);
        loadCashReceiptCards($('#select-month').val());
        loadTopContrib($('#select-month').val());
        loadDepositOfTheMonthChart($('#select-month').val());
    });

    var dt_top_contrib = $('#table-top-contrib').DataTable({
        'paging'      : false,
        'lengthChange': false,
        'searching'   : false,
        'ordering'    : false,
        'info'        : false,
        'autoWidth'   : false,
        columnDefs:[
            // {
            //     targets:[0,1],
            //         className: 'text-nowrap',  
            // },
            // {
            //     targets:2, render:function(data){
            //         return data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            //     },
            //     className: 'text-right text-nowrap'
            // }
        ]
    });


    function loadCashReceiptCards(month) {
        $.ajax({
            type: "POST",
            url: "{% url 'load_cash_receipt_cards' %}",
            // cache: true,
            dataType: 'json',
            data: {
                month: month,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                var tot_col = parseFloat(obj[0][3]);
                $('#tot-or-no').text(obj[0][0]);
                $('#tot-ref-no').text(obj[0][1]);
                $('#tot-unq-pay').text(obj[0][2]);
                $('#tot-col').text('₱ ' + tot_col.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    $('#cash-filter').on('click', function() {
        loadCashReceiptCards($('#select-month').val());
        loadTopContrib($('#select-month').val());
        $('#dep-month-tot').text('');
        $('#donut-chart').empty();
        loadDepositOfTheMonthChart($('#select-month').val());
    });

    function loadTopContrib(month) {
        $.ajax({
            type: "POST",
            url: "{% url 'load_top_contrib' %}",
            // cache: true,
            dataType: 'json',
            data: {
                month: month,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                var num = 1;
                dt_top_contrib.clear().draw();
                $.each(obj, function(index, data){
                    dt_top_contrib.row.add( [
                         num++
                        ,data[0]
                        ,data[1]
                        ,data[2]
                    ] ).draw();
                });
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    function loadDepositOfTheMonthChart(month) {
        $.ajax({
            type: "POST",
            url: "{% url 'load_cert_table' %}",
            // cache: true,
            dataType: 'json',
            data: {
                month: month,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                if (obj.length > 0) {
                    var tot_dep = 0;
                    for (i = 0; i < obj.length; i++) {
                        tot_dep = tot_dep + parseFloat(obj[i][2]);
                    }
                    $('#dep-month-tot').append(`Total Deposits for the Month of ${moment(new Date(obj[0][0])).format('MMMM')}: <b>${'₱ ' + tot_dep.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}</b>`);
                    handleDonutChart(obj);
                    }
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    function handleDonutChart(obj) {
        if ($('#donut-chart').length !== 0) {
            var data = [];
            var colorArray = [COLOR_RED, COLOR_BLACK,  COLOR_ORANGE, '#ff0000', COLOR_GREEN, 'lightblue', 'pink', COLOR_AQUA, COLOR_BLUE, COLOR_GREY, COLOR_PURPLE, "goldenrod"];
            for( var i = 0; i < obj.length; i++)
            {
                var dt = new Date(obj[i][0]).toLocaleDateString();
                data[i] = { label: obj[i][1] + '('+ dt +')', data: obj[i][2], color: colorArray[i] };
            }
            
            $.plot($('#donut-chart'), data, 
            {
                series: {
                    pie: { 
                        innerRadius: 0.5,
                        show: true,
                        combine: {
                            threshold: 0.1
                        }
                    }
                },
                grid:{borderWidth:0, hoverable: true, clickable: true},
                legend: {
                    show: false
                }
            });
        }
    };

    function highlightSideNav() {
        $('#li-dash').removeClass('text-white');
        $('#add-col-caret').removeClass('text-white');
        $('#add-col').removeClass('text-white');
        $('#add-sis').removeClass('text-white');
        $('#view-rec-caret').removeClass('text-white');
        $('#view-rec').removeClass('text-white');
        $('#trans-log').removeClass('text-white');
        $('#view-sis').removeClass('text-white');
        $('#col-rep-caret').click();
        $('#col-rep-caret').addClass('text-white');
        $('#acct-forms').removeClass('text-white');
        $('#cert').removeClass('text-white');
        $('#mon-col').removeClass('text-white');
        $('#sum-col').removeClass('text-white');
        $('#cash-receipt').addClass('text-white');
        $('#deposit_but').removeClass('text-white');
    };
</script>
{% endblock %}