{% extends "views/layouts/pages/main.html" %}
{% block title %}<title>CMS | Dashboard</title>{% endblock %}
{% load static %}
{% block page-css %}
<link href="{%static 'assets/plugins/jquery-jvectormap/jquery-jvectormap.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-calendar/css/bootstrap_calendar.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/nvd3/build/nv.d3.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Dashboard <small>Cashier</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row m-b-10">
        <!-- begin col-3 -->
        <div class="col-lg-3">
            <!-- begin row -->
            <div class="row">
                <!-- begin col-8 -->
                <div class="col-lg-8 col-md-8">
                    <select id="dashboard-select" class="form-control bg-inverse text-white"></select>
                </div>
                <!-- end col-8 -->
                <!-- begin col-4 -->
                <div class="col-lg-4 col-md-4">
                    <a href="javascript:;" class="btn btn-primary btn-md" id="dashboard-filter"><i class="fas fa-filter m-r-5"></i>Filter</a>
                </div>
                <!-- end col-4 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end col-3 -->
        <!-- begin col-9 -->
        <div class="col-lg-9">
            <!-- filler -->
        </div>
        <!-- end col-9 -->
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-red">
                <div class="stats-icon stats-icon-lg"><i class="fas fa-shopping-basket fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title f-s-13">TODAY'S TOTAL COLLECTION</div>
                    <div class="stats-number" id="today-col" style="cursor: pointer;"></div>
                    <div class="stats-progress progress">
                        <div id="prog-1" class="progress-bar" style="width: 70.1%;"></div>
                    </div>
                    <!-- <div class="stats-desc">{% now "m/j/Y" %}</div> -->
                    <div class="stats-desc f-s-12">Used OR today: <strong><span id="first-or-today">********</span></strong> to <strong><span id="last-or-today">********</span></strong></div>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-orange">
                <div class="stats-icon stats-icon-lg"><i class="fas fa-shopping-bag fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title f-s-13">TODAY'S SIS TOTAL COLLECTION</div>
                    <div class="stats-number" id="today-sis-col"></div>
                    <div class="stats-progress progress">
                        <div id="prog-2" class="progress-bar" style="width: 40.5%;"></div>
                    </div>
                    <!-- <div class="stats-desc"><span id="yesterday"></span></div> -->
                    <div class="stats-desc f-s-13">Used OR for SIS today: <strong><span id="sis-or-today"></span></strong></div>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-lime">
                <div class="stats-icon stats-icon-lg"><i class="fas fa-shopping-cart fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title f-s-13">MONTH'S TOTAL COLLECTION</div>
                    <div class="stats-number" id="month-col"></div>
                    <div class="stats-progress progress">
                        <div id="prog-3" class="progress-bar" style="width: 76.3%;"></div>
                    </div>
                    <!-- <div class="stats-desc"><span id="last_week"></span></div> -->
                    <div class="stats-desc f-s-13">Current Month: <strong>{% now "F" %}</strong></div>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-black">
                <div class="stats-icon stats-icon-lg"><i class="fas fa-ship fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title f-s-13">YEAR'S TOTAL COLLECTION</div>
                    <div class="stats-number" id="year-col"></div>
                    <div class="stats-progress progress">
                        <div id="prog-4" class="progress-bar" style="width: 54.9%;"></div>
                    </div>
                    <!-- <div class="stats-desc"><span id="last_month"></span></div> -->
                    <div class="stats-desc f-s-13">Current Year: <strong><span id="curr-year"></span></strong></div>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fas fa-chart-bar m-r-5"></i>Monthly Collection (<span id="monthly-year"></span>)</h4>
                </div>
                <div class="panel-body">
                    <h3 class="text-center m-t-40" id="monthly-col-no-data" style="display: none;">No data available</h3>
                    <div id="bar-chart-div">
                        <div id="nv-bar-chart" class="height-sm"></div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fas fa-chart-line m-r-5"></i>Collection vs Deposit (<span id="coldep-year"></span>)</h4>
                </div>
                <div class="panel-body">
                    <h3 class="text-center m-t-40" id="col-v-dep-no-data" style="display: none;">No data available</h3>
                    <div id="canvas-div" class="height-sm">
                        <canvas id="line-chart" data-render="chart-js" class="p-l-20"></canvas>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col- -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
{% endblock %}
{% block page-js %}
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{%static 'assets/plugins/nvd3/build/d3.js' %}"></script>
<script src="{%static 'assets/plugins/nvd3/build/nv.d3.js' %}"></script>
<script src="{%static 'assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js' %}"></script>
<script src="{%static 'assets/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js' %}"></script>
<script src="{%static 'assets/js/demo/dashboard-v2.js' %}"></script>
<!--  -->
<script src="{%static 'assets/plugins/moment/moment.min.js' %}"></script>
<script src="{%static 'assets/plugins/chart-js/Chart.min.js' %}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
{% endblock %}
{% block init %}
<script>
    $.ajax({
        url: "{% url 'get_session' %}",
        type: "POST",
        data: {
            csrfmiddlewaretoken:"{{csrf_token}}"
        },
        success: function(role_session) {
            if (!role_session) {
                window.location = "{% url 'login' %}";
            }
            else {
                validUser();
            }
        }
    });
    function validUser() {
        $(document).ready(function() {
            App.init();
            DashboardV2.init();
            Notification.init();
            Highlight.init();
            highlightSideNav();
            loadYears();
            var year = (new Date).getFullYear();
            $('#dashboard-select').val(year);
            $('#curr-year').text(year);
            $('#monthly-year').text(year);
            $('#coldep-year').text(year);
            loadDashboardCards($('#dashboard-select').val());
            loadProgressBar();
            loadDashboardBarGraph($('#dashboard-select').val());
            getMonthlyCollectionDeposit($('#dashboard-select').val());
            var mon;
            var day = (d.getDate()==1) ? count_days_month()+1 : d.getDate();//if day today is 1 --> gets the previous month's number of days plus 1;
            if (d.getDate()==1) {
                mon = d.getMonth();
            }
            else {
                mon = d.getMonth()+1;
            } 
            $('#yesterday').text(mon + '/' + (day-1) + '/' + d.getFullYear());
            $('#last_week').text(last_week(moment(new Date(d)).format("dddd").toLowerCase()));
            var lastMonth = new Date(d.getMonth() + '/' + d.getDate() + '/' + d.getFullYear());
            $('#last_month').text(moment(lastMonth).format("MMMM"));
    
            function loadYears() {
                var yearNow = (new Date).getFullYear();
                for (var i = yearNow; i > 2014; i--) {
                    $('#dashboard-select').append(
                        `<option value="${i}">${i}</option>`
                    )
                }
            };

            function loadProgressBar() {
                var yearcol = parseFloat($('#year-col').text());
                var monthcol = parseFloat($('#month-col').text());
                var todaysiscol = parseFloat($('#today-sis-col').text());
                var todaycol = parseFloat($('#today-col').text());
                // var prog1 = 
            };
        });

        var d = new Date();
        function last_week(day) {// returns last week's date (starts on Monday and ends on Sunday)
            var toMinus = 0;
            switch (day) {
                case "sunday":
                    toMinus = 13;
                    break;
                case "monday":
                    toMinus = 7;
                    break;
                case "tuesday":
                    toMinus = 8;
                    break;
                case "wednesday":
                    toMinus = 9;
                    break;
                case "thursday":
                    toMinus = 10;
                    break;
                case "friday":
                    toMinus = 11;
                    break;
                case "saturday":
                    toMinus = 12;
                    break;
                default:
                    break;
            }
            var _days = count_days_month();
            var _month;
            var last_week_start;
            if (d.getDate() >= 7) { // day of month is greater than or equal to 7
                _month = d.getMonth()+1;
                last_week_start = _month + '/' + (d.getDate()-toMinus) + '/' + d.getFullYear();
            }
            else { // day of month is less than 7
                _month = d.getMonth();
                toMinus--;
                last_week_start = _month + '/' + (_days-toMinus) + '/' + d.getFullYear();
            }
            var newStart = new Date(last_week_start);
            var last_week_end = (newStart.getMonth()+1) + '/' + (newStart.getDate()+6) + '/' + newStart.getFullYear();
            return last_week_start + ' ' + 'to' + ' ' + last_week_end;
        };
        function count_days_month() { // determine the number of days for the current month
            var _days;
            var _month_now = d.getMonth()+1;
            if (_month_now == 4 || _month_now == 6 ||
                _month_now == 9 || _month_now == 11) {
                    _days = 30;
            }
            else if (_month_now == 2) {
                var yr = d.getFullYear();
                if (yr % 100 == 0) {
                    if (yr % 400 == 0) {
                        _days = 29;
                    }
                    else {
                        _days = 28;
                    }
                }
                else {
                    if (yr % 4 == 0) {
                        _days = 29;
                    }
                    else {
                        _days = 28;
                    }
                }
            }
            else {
                _days = 31;
            }
            return _days; // returns the number of days of the current month
        }
    };

    $('#today-col').on('click', function() {
        getManualCol();
        getSisCol();
        getDirectCol();
        setTimeout(function() {
            swal({
                title: $.trim($('#today-col').text()), 
                text: "<b>Manual :</b>"+ ' ' + manualCol +"<br><b>Direct :</b>"+ ' ' + dirCol +"<br><b>SIS :</b>"+ ' ' +sisCol, 
                type: "info",
                html: true,
                showLoaderOnConfirm: true,
                confirmButtonColor: "#5cb85c",
            });
        }, 500);
    });

    var manualCol = null;
    function manualCol_callback(mcol) {
        manualCol = mcol;
    };

    var sisCol = null;
    function sisCol_callback(scol) {
        sisCol = scol;
    };

    var dirCol = null;
    function dirCol_callback(dcol) {
        dirCol = dcol;
    };

    function getManualCol() {
        $.ajax({
            type: "POST",
            url: "{% url 'get_manual_col' %}",
            // cache: true,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                manualCol_callback(parseFloat(obj[0][2]).toFixed(2));
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    function getSisCol() {
        $.ajax({
            type: "POST",
            url: "{% url 'get_sis_col' %}",
            // cache: true,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                sisCol_callback(parseFloat(obj[0][1]).toFixed(2));
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    function getDirectCol() {
        $.ajax({
            type: "POST",
            url: "{% url 'get_direct_col' %}",
            // cache: true,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                dirCol_callback(parseFloat(obj[0][2]).toFixed(2));
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    function handleBarChart(obj) {
        var bar_color = [COLOR_GREEN, 'lightblue', 'pink', COLOR_RED, COLOR_ORANGE, '#ff0000', COLOR_AQUA, COLOR_BLUE, COLOR_PURPLE, COLOR_GREY, COLOR_BLACK, "goldenrod"];
        var bar_label = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var bar_value = [];
        var data= [];
        var keyy = j = 0;
        for (var i = parseInt(obj[0][0])-1; j < obj.length; i++) {
            bar_value[i] = parseInt(obj[j][1]);
            j++;
        }
        for (var i = 0; i < bar_label.length; i++) {
            if (bar_value[i] == null) {
                if (i >= (parseInt(obj[0][0])-1) + parseInt(obj.length)) {
                    bar_value[i] = null;
                }
                else {
                    bar_value[i] = 0;
                }
            }
            data[i] = { 'label': bar_label[i], 'value': bar_value[i], 'color': bar_color[i]  };
            keyy = bar_value[i] > keyy ? bar_value[i] : keyy;
        }
        var barChartData = [{
            key: keyy,
            values: data,
        }]

        nv.addGraph(function() {
            var barChart = nv.models.discreteBarChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .showValues(false)
                .duration(250);
            
            // barChart.yAxis.axisLabel("Amount");
            // barChart.xAxis.axisLabel('Month');
        
            d3.select('#nv-bar-chart svg').remove();
            d3.select('#nv-bar-chart').append('svg').datum(barChartData).call(barChart);
            document.querySelector("#nv-bar-chart > svg > g > g > g.nv-y.nv-axis.nvd3-svg > g.nvd3.nv-wrap.nv-axis > g.nv-axisMaxMin.nv-axisMaxMin-y.nv-axisMax-y > text").setAttribute('style','font-size: 10px');
            document.querySelector("#nv-bar-chart > svg > g > g > g.nv-y.nv-axis.nvd3-svg > g.nvd3.nv-wrap.nv-axis > g:nth-child(1) > g:nth-child(2) > text").setAttribute('hidden', true);
            nv.utils.windowResize(barChart.update);
        
            return barChart;
        });
    };
    function handleLineChart(monthly_col_obj, monthly_dep_obj) {
        var lbl = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var newlabels = [];
        var tot_col = [];
        var tot_dep = []
        var start_month_col = parseInt(monthly_col_obj[0][0]);
        var start_month_dep = parseInt(monthly_dep_obj[0][0]);
        var j = 0;
        // collection
        if (start_month_col > 1) {
            for (var i = 0; i < start_month_col-1; i++) {
                newlabels[i] = lbl[i];
                tot_col[i] = 0;
            };
        };
        j = 0;
        for (var i = start_month_col-1; j < monthly_col_obj.length; i++) { 
            newlabels[i] = lbl[i];
            tot_col[i] = monthly_col_obj[j][1];
            j++;
        };
        // deposit
        if (start_month_dep > 1) {
            for (var i = 0; i < start_month_dep-1; i++) {
                newlabels[i] = lbl[i];
                tot_dep[i] = 0;
            };
        };
        j = 0;
        var dep_count = monthly_dep_obj.length;
        for (var i = start_month_dep-1; j < dep_count; i++) { 
            newlabels[i] = lbl[i];
            tot_dep[i] = monthly_dep_obj[j][1];
            j++;
        };
        // 
        var lineChartData = {
            labels: lbl,
            datasets: [{
                label: 'Total Collection',
                borderColor: COLOR_BLUE,
                pointBackgroundColor: COLOR_BLUE,
                pointRadius: 2,
                borderWidth: 2,
                backgroundColor: COLOR_BLUE_TRANSPARENT_3,
                data: tot_col
            }, {
                label: 'Total Deposit',
                borderColor: COLOR_BLACK,
                pointBackgroundColor: COLOR_BLACK,
                pointRadius: 2,
                borderWidth: 2,
                backgroundColor: COLOR_BLACK_TRANSPARENT_3,
                data: tot_dep
            }]
        };

        var ctx = document.getElementById('line-chart').getContext('2d');
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: lineChartData
        });
    };

    function getMonthlyCollectionDeposit(year) {
        var monthly_col_obj = null;
        var monthly_dep_obj = null;
        $.ajax({
            type: "POST",
            url: "{% url 'load_monthly_collection_deposit' %}",
            // cache: true,
            async: false,
            dataType: 'json',
            data: {
                year: year,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                monthly_col_obj = obj;
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
        $.ajax({
            type: "POST",
            url: "{% url 'load_monthly_collection_deposit2' %}",
            // cache: true,
            async: false,
            dataType: 'json',
            data: {
                year: year,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                monthly_dep_obj = obj;
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
        $('#canvas-div canvas').remove();
        $('#canvas-div').append(`<canvas id="line-chart" data-render="chart-js"></canvas>`);
        if (monthly_col_obj.length > 0) {
            $('#col-v-dep-no-data').hide();
            handleLineChart(monthly_col_obj, monthly_dep_obj);
        }
        else {
            $('#col-v-dep-no-data').show();
        }
    };

    function loadDashboardCards(year) {
        $.ajax({
            type: "POST",
            url: "{% url 'load_dashboard_cards' %}",
            // cache: true,
            dataType: 'json',
            data: {
                year: year,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                var today_col = obj[0][0]==null ? 0 : parseFloat(obj[0][0]);
                var today_sis_col = obj[0][1]==null ? 0 : parseFloat(obj[0][1]);
                var month_col = obj[0][2]==null ? 0 : parseFloat(obj[0][2]);
                var year_col = obj[0][3]==null ? 0 : parseFloat(obj[0][3]);
                $('#today-col').text('₱' + today_col.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#today-sis-col').text('₱' + today_sis_col.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#month-col').text('₱' + month_col.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#year-col').text('₱' + year_col.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                var firstORtoday = obj[0][4] == null ? '******' : obj[0][4];
                var lastORtoday = obj[0][5] == null ? '******' : obj[0][5];
                var sisOR = obj[0][6] == null ? '******' : obj[0][6];
                $('#first-or-today').text(firstORtoday);
                $('#last-or-today').text(lastORtoday);
                $('#sis-or-today').text(sisOR);
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!",
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    function loadDashboardBarGraph(year) {
        $.ajax({
            type: "POST",
            url: "{% url 'load_dashboard_bar_graph' %}",
            // cache: true,
            dataType: 'json',
            data: {
                year: year,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                if (obj.length > 0) {
                    $('#monthly-col-no-data').hide();
                    handleBarChart(obj);
                }
                else {
                    $('#nv-bar-chart').empty();
                    $('#monthly-col-no-data').show();
                }
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    $('#dashboard-filter').on('click', function() {
        var year = $('#dashboard-select').val();
        $('#curr-year').text(year);
        $('#monthly-year').text(year);
        $('#coldep-year').text(year);
        getMonthlyCollectionDeposit(year);
        loadDashboardBarGraph(year);
        loadDashboardCards(year);
    });

    function shortenNum(num) {
        if (num < 1000) {
            return num;
        }
        var si = [
          {v: 1E3, s: "K"},
          {v: 1E6, s: "M"},
          {v: 1E9, s: "B"},
          {v: 1E12, s: "T"},
          {v: 1E15, s: "P"},
          {v: 1E18, s: "E"}
          ];
        var i;
        for (i = si.length - 1; i > 0; i--) {
            if (num >= si[i].v) {
                break;
            }
        }
        return (num / si[i].v).toFixed(2).replace(/\.0+$|(\.[0-9]*[1-9])0+$/, "$1") + si[i].s;
    };

    function highlightSideNav() {
        $('#li-dash').addClass('text-white');
        $('#add-col').removeClass('text-white');
        $('#add-sis').removeClass('text-white');
        $('#view-rec').removeClass('text-white');
        $('#trans-log').removeClass('text-white');
        $('#view-sis').removeClass('text-white');
        $('#acct-forms').removeClass('text-white');
        $('#cert').removeClass('text-white');
        $('#mon-col').removeClass('text-white');
        $('#sum-col').removeClass('text-white');
        $('#cash-receipt').removeClass('text-white');
        $('#pending_but').removeClass('text-white');
        $('#deposited_but').removeClass('text-white');
    };
</script>
{% endblock %}