{% extends "views/layouts/pages/main.html" %}
{% block title %}<title>CMS | Dashboard</title>{% endblock %}
{% load static %}
{% block page-css %}
<link href="{%static 'assets/plugins/jquery-jvectormap/jquery-jvectormap.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-calendar/css/bootstrap_calendar.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/nvd3/build/nv.d3.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item active">Home</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Dashboard <small>Cashier</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-red">
                <div class="stats-icon stats-icon-lg"><i class="fas fa-shopping-basket fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title f-s-14">TODAY'S TOTAL COLLECTION</div>
                    <div class="stats-number" id="today-col"></div>
                    <div class="stats-progress progress">
                        <div class="progress-bar" style="width: 70.1%;"></div>
                    </div>
                    <!-- <div class="stats-desc">{% now "m/j/Y" %}</div> -->
                    <div class="stats-desc f-s-13">Count of used OR today: <span id="count-or-today"></span></div>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-orange">
                <div class="stats-icon stats-icon-lg"><i class="fas fa-shopping-bag fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title f-s-14">TODAY'S SIS TOTAL COLLECTION</div>
                    <div class="stats-number" id="today-sis-col"></div>
                    <div class="stats-progress progress">
                        <div class="progress-bar" style="width: 40.5%;"></div>
                    </div>
                    <!-- <div class="stats-desc"><span id="yesterday"></span></div> -->
                    <div class="stats-desc f-s-13">Count of used OR for SIS today: <span id="count-sis-or-today"></span></div>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-lime">
                <div class="stats-icon stats-icon-lg"><i class="fas fa-shopping-cart fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title f-s-14">MONTH'S TOTAL COLLECTION</div>
                    <div class="stats-number" id="month-col"></div>
                    <div class="stats-progress progress">
                        <div class="progress-bar" style="width: 76.3%;"></div>
                    </div>
                    <!-- <div class="stats-desc"><span id="last_week"></span></div> -->
                    <div class="stats-desc f-s-13">Current Month: {% now "F" %}</div>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-black">
                <div class="stats-icon stats-icon-lg"><i class="fas fa-ship fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title f-s-14">YEAR'S TOTAL COLLECTION</div>
                    <div class="stats-number" id="year-col"></div>
                    <div class="stats-progress progress">
                        <div class="progress-bar" style="width: 54.9%;"></div>
                    </div>
                    <!-- <div class="stats-desc"><span id="last_month"></span></div> -->
                    <div class="stats-desc f-s-13">Current Year: {% now "Y" %}</div>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <!-- begin panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fas fa-chart-bar m-r-5"></i>Monthly Collection</h4>
                </div>
                <div class="panel-body">
                    <div id="nv-bar-chart" class="height-sm"></div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <!-- begin panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fas fa-chart-line m-r-5"></i>Collection vs Deposits</h4>
                </div>
                <div class="panel-body" style="height: 330px;">
                    <div id="canvas-div" class="m-t-10">
                        <canvas id="line-chart" data-render="chart-js" class="p-l-20"></canvas>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col- -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
{% endblock %}
{% block page-js %}
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{%static 'assets/plugins/nvd3/build/d3.js' %}"></script>
<script src="{%static 'assets/plugins/nvd3/build/nv.d3.js' %}"></script>
<script src="{%static 'assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js' %}"></script>
<script src="{%static 'assets/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js' %}"></script>
<script src="{%static 'assets/js/demo/dashboard-v2.js' %}"></script>
<!--  -->
<script src="{%static 'assets/plugins/moment/moment.min.js' %}"></script>
<script src="{%static 'assets/plugins/chart-js/Chart.min.js' %}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
{% endblock %}
{% block init %}
<script>
    $.ajax({
        url: "{% url 'get_session' %}",
        type: "POST",
        // timeout: 2000,
        data: {
            csrfmiddlewaretoken:"{{csrf_token}}"
        },
        success: function(role_session) {
            if (!role_session) {
                window.location = "{% url 'login' %}";
            }
            else {
                validUser();
            }
        }
    });
    function validUser() {
        $(document).ready(function() {
            App.init();
            DashboardV2.init();
            Notification.init();
            Highlight.init();
            highlightSideNav();
            loadDashboardCards();
            loadDashboardBarGraph();
            getMonthlyCollectionDeposit();
            var mon;
            var day = (d.getDate()==1) ? count_days_month()+1 : d.getDate();//if day today is 1 --> gets the previous month's number of days plus 1;
            if (d.getDate()==1) {
                mon = d.getMonth();
            }
            else {
                mon = d.getMonth()+1;
            } 
            $('#yesterday').text(mon + '/' + (day-1) + '/' + d.getFullYear());
            $('#last_week').text(last_week(moment(new Date(d)).format("dddd").toLowerCase()));
            var lastMonth = new Date(d.getMonth() + '/' + d.getDate() + '/' + d.getFullYear());
            $('#last_month').text(moment(lastMonth).format("MMMM"));
        });

        var d = new Date();
        function last_week(day) {// returns last week's date (starts on Monday and ends on Sunday)
            var toMinus = 0;
            switch (day) {
                case "sunday":
                    toMinus = 13;
                    break;
                case "monday":
                    toMinus = 7;
                    break;
                case "tuesday":
                    toMinus = 8;
                    break;
                case "wednesday":
                    toMinus = 9;
                    break;
                case "thursday":
                    toMinus = 10;
                    break;
                case "friday":
                    toMinus = 11;
                    break;
                case "saturday":
                    toMinus = 12;
                    break;
                default:
                    break;
            }
            var _days = count_days_month();
            var _month;
            var last_week_start;
            if (d.getDate() >= 7) { // day of month is greater than or equal to 7
                _month = d.getMonth()+1;
                last_week_start = _month + '/' + (d.getDate()-toMinus) + '/' + d.getFullYear();
            }
            else { // day of month is less than 7
                _month = d.getMonth();
                toMinus--;
                last_week_start = _month + '/' + (_days-toMinus) + '/' + d.getFullYear();
            }
            var newStart = new Date(last_week_start);
            var last_week_end = (newStart.getMonth()+1) + '/' + (newStart.getDate()+6) + '/' + newStart.getFullYear();
            return last_week_start + ' ' + 'to' + ' ' + last_week_end;
        };
        function count_days_month() { // determine the number of days for the current month
            var _days;
            var _month_now = d.getMonth()+1;
            if (_month_now == 4 || _month_now == 6 ||
                _month_now == 9 || _month_now == 11) {
                    _days = 30;
            }
            else if (_month_now == 2) {
                var yr = d.getFullYear();
                if (yr % 100 == 0) {
                    if (yr % 400 == 0) {
                        _days = 29;
                    }
                    else {
                        _days = 28;
                    }
                }
                else {
                    if (yr % 4 == 0) {
                        _days = 29;
                    }
                    else {
                        _days = 28;
                    }
                }
            }
            else {
                _days = 31;
            }
            return _days; // returns the number of days of the current month
        }
    };
    function handleBarChart(obj) {
        var bar_color = [COLOR_GREEN, 'lightblue', 'pink', COLOR_RED, COLOR_ORANGE, '#ff0000', COLOR_AQUA, COLOR_BLUE, COLOR_PURPLE, COLOR_GREY, COLOR_BLACK, "goldenrod"];
        var bar_label = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var bar_value = [];
        var data= [];
        var keyy = 0;
        for (var i = 0; i < obj.length; i++) {
            bar_value[i] = parseFloat(obj[i][1]);
            data[i] = { 'label': bar_label[i], 'value': bar_value[i], 'color': bar_color[i]  };
            keyy = bar_value[i] > keyy ? bar_value[i] : keyy;
        }
        var barChartData = [{
            key: keyy,
            values: data,
        }]

        nv.addGraph(function() {
            var barChart = nv.models.discreteBarChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .showValues(true)
                .duration(250);
            
            // barChart.yAxis.axisLabel("Amount");
            // barChart.xAxis.axisLabel('Month');
        
            d3.select('#nv-bar-chart svg').remove();
            d3.select('#nv-bar-chart').append('svg').datum(barChartData).call(barChart);
            document.querySelector("#nv-bar-chart > svg > g > g > g.nv-y.nv-axis.nvd3-svg > g.nvd3.nv-wrap.nv-axis > g.nv-axisMaxMin.nv-axisMaxMin-y.nv-axisMax-y > text").setAttribute('style','font-size: 10px');
            document.querySelector("#nv-bar-chart > svg > g > g > g.nv-y.nv-axis.nvd3-svg > g.nvd3.nv-wrap.nv-axis > g:nth-child(1) > g:nth-child(2) > text").setAttribute('hidden', true);
            nv.utils.windowResize(barChart.update);
        
            return barChart;
        });
    };
    function handleLineChart(monthly_col_obj, monthly_dep_obj) {
        var lbl = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var newlabels = [];
        var tot_col = [];
        var tot_dep = []
        var start_month_col = parseInt(monthly_col_obj[0][0]);
        var start_month_dep = parseInt(monthly_dep_obj[0][0]);
        var j = 0;
        // collection
        if (start_month_col > 1) {
            for (var i = 0; i < start_month_col-1; i++) {
                newlabels[i] = lbl[i];
                tot_col[i] = 0;
            };
        };
        j = 0;
        for (var i = start_month_col-1; i < monthly_col_obj.length; i++) { 
            newlabels[i] = lbl[i];
            tot_col[i] = monthly_col_obj[j][1];
            j++;
        };
        // deposit
        if (start_month_dep > 1) {
            for (var i = 0; i < start_month_dep-1; i++) {
                newlabels[i] = lbl[i];
                tot_dep[i] = 0;
            };
        };
        j = 0;
        var dep_count = monthly_dep_obj.length;
        for (var i = start_month_dep-1; i < monthly_col_obj.length; i++) { 
            if (dep_count!=0) {
                newlabels[i] = lbl[i];
                tot_dep[i] = monthly_dep_obj[j][1];
                j++;
                dep_count--;
            }
            else {
                newlabels[i] = lbl[i];
                tot_dep[i] = 0;
                j++;
            }
        };
        // 
        var lineChartData = {
            labels: newlabels,
            datasets: [{
                label: 'Total Collection',
                borderColor: COLOR_BLUE,
                pointBackgroundColor: COLOR_BLUE,
                pointRadius: 2,
                borderWidth: 2,
                backgroundColor: COLOR_BLUE_TRANSPARENT_3,
                data: tot_col
            }, {
                label: 'Total Deposit',
                borderColor: COLOR_BLACK,
                pointBackgroundColor: COLOR_BLACK,
                pointRadius: 2,
                borderWidth: 2,
                backgroundColor: COLOR_BLACK_TRANSPARENT_3,
                data: tot_dep
            }]
        };

        var ctx = document.getElementById('line-chart').getContext('2d');
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: lineChartData
        });
    };
    function getMonthlyCollectionDeposit() {
        var monthly_col_obj = null;
        var monthly_dep_obj = null;
        $.ajax({
            type: "POST",
            url: "{% url 'load_monthly_collection_deposit' %}",
            // cache: true,
            async: false,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                monthly_col_obj = obj;
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
        $.ajax({
            type: "POST",
            url: "{% url 'load_monthly_collection_deposit2' %}",
            // cache: true,
            async: false,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                monthly_dep_obj = obj;
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
        $('#canvas-div canvas').remove();
        $('#canvas-div').append(`<canvas id="line-chart" data-render="chart-js"></canvas>`);
        handleLineChart(monthly_col_obj, monthly_dep_obj);
    };

    function loadDashboardCards() {
        $.ajax({
            type: "POST",
            url: "{% url 'load_dashboard_cards' %}",
            // cache: true,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                var today_col = obj[0][0]==null ? shortenNum(parseFloat(0)) : shortenNum(parseFloat(obj[0][0]));
                var today_sis_col = obj[0][1]==null ? shortenNum(parseFloat(0)) : shortenNum(parseFloat(obj[0][1]));
                var month_col = obj[0][2]==null ? shortenNum(parseFloat(0)) : shortenNum(parseFloat(obj[0][2]));
                var year_col = obj[0][3]==null ? shortenNum(parseFloat(0)) : shortenNum(parseFloat(obj[0][3]));
                $('#today-col').text('₱' + today_col);
                $('#today-sis-col').text('₱' + today_sis_col);
                $('#month-col').text('₱' + month_col);
                $('#year-col').text('₱' + year_col);
                $('#count-or-today').text(obj[0][4]);
                $('#count-sis-or-today').text(obj[0][5]);
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    function loadDashboardBarGraph() {
        $.ajax({
            type: "POST",
            url: "{% url 'load_dashboard_bar_graph' %}",
            // cache: true,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                handleBarChart(obj);
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    function loadDashboardLineGraph() {
        $.ajax({
            type: "POST",
            url: "{% url 'load_dashboard_line_graph' %}",
            // cache: true,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                handleLineChart(obj);
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    function shortenNum(num) {
        if (num < 1000) {
            return num;
        }
        var si = [
          {v: 1E3, s: "K"},
          {v: 1E6, s: "M"},
          {v: 1E9, s: "B"},
          {v: 1E12, s: "T"},
          {v: 1E15, s: "P"},
          {v: 1E18, s: "E"}
          ];
        var i;
        for (i = si.length - 1; i > 0; i--) {
            if (num >= si[i].v) {
                break;
            }
        }
        return (num / si[i].v).toFixed(2).replace(/\.0+$|(\.[0-9]*[1-9])0+$/, "$1") + si[i].s;
    };

    function highlightSideNav() {
        $('#li-dash').addClass('text-white');
        $('#add-col').removeClass('text-white');
        $('#add-sis').removeClass('text-white');
        $('#view-rec').removeClass('text-white');
        $('#trans-log').removeClass('text-white');
        $('#view-sis').removeClass('text-white');
        $('#acct-forms').removeClass('text-white');
        $('#cert').removeClass('text-white');
        $('#mon-col').removeClass('text-white');
        $('#sum-col').removeClass('text-white');
        $('#cash-receipt').removeClass('text-white');
        $('#deposit_but').removeClass('text-white');
    };
</script>
{% endblock %}