{% extends 'views/layouts/pages/main.html' %}
{% block title %} 
<title>CMS | Pending</title>
{% endblock %}
{% load static %}
{% block page-css %}
<!-- dito yung page css -->
{% endblock %}
{% block content %}
<div class="content" id="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Deposits</a></li>
        <li class="breadcrumb-item active">Pending</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Pending <small>View Pending Deposits</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-1 -->
        <div class="col-lg-1">
            <!-- filler div -->
        </div>
        <!-- end col-1 -->
        <!-- begin col-10 -->
        <div class="col-lg-10">
            <!-- begin card -->
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#card-pill-1-deposits">Pending</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#card-pill-2-deposits" id="sched-dep-tab">Scheduled Deposit</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#card-pill-3-deposits" id="deposited-tab">Deposited</a></li> -->
                    </ul>
                </div>
                <div class="card-block">
                    <div class="tab-content p-0 m-0">
                        <div class="tab-pane fade active show" id="card-pill-1-deposits" style="max-height: 650px; overflow-y: auto;">
                            <h4 class="card-title text-center">Pending Deposits</h4>
                            <div class="overflow-auto">
                                <table class="table table-hover table-striped" id="col-hist-table2" >
                                    <thead class="thead text-center">
                                        <th class="text-nowrap" width="30%">Amount</th>
                                        <th class="text-nowrap" width="40%">Date Collected</th>
                                        <th class="text-nowrap" width="30%">Options</th>
                                    </thead>
                                    <tbody>
                                        <!-- append here -->
                                    </tbody>
                                    <tfoot class="text-center">
                                        <tr><td colspan="6"><span class="label label-inverse f-s-11">End of Results</span></td></tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- <div class="pull-left">
                                <a href="javascript:;" class="btn btn-sm btn-warning" id="pending_save"><i class="fas fa-calendar-plus m-r-5"></i>Schedule Deposit</a>
                            </div> -->
                        </div>
                        <div class="tab-pane fade" id="card-pill-2-deposits" style="max-height: 800px; overflow-y: auto;">
                            <h4 class="card-title text-center">Scheduled Deposits</h4>
                            <!-- begin col-12 -->
                            <div class="col-lg-12" id="sched-panel">
                                <!-- append panel here -->
                            </div>
                            <!-- end col-12 -->
                        </div>
                        <div class="tab-pane fade" id="card-pill-3-deposits" style="max-height: 620px; overflow-y: auto;">
                            <h4 class="card-title text-center">Deposited</h4>
                            <div style="max-height: 550px; overflow: auto;">
                                <table class="table table-striped table-hover" id="deposited-table">
                                    <thead class="thead text-center">
                                        <th width="20%" class="text-nowrap">Date Deposited</th>
                                        <th width="30%" class="text-nowrap">Group ID</th>
                                        <th width="30" class="text-nowrap">Reference No.</th>
                                        <th width="20%" class="text-nowrap">Amount</th>
                                    </thead>
                                    <tbody class="text-center">
                                        <!-- append tbody tr here -->
                                    </tbody>
                                    <tfoot>
                                        <!-- append tfoot here -->
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col-10 -->
    </div>
    <!-- end row -->
</div>
<!-- #view-pending-modal -->
<div class="modal fade" id="view-pending-modal">
    <div class="modal-dialog" style="max-width: 50%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="view-pending-title"></span><small class="m-l-5">Summary of collection for the given date.</small></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body overflow-auto" style="max-height: 400px;">
                <div class="overflow-auto">
                    <table class="table table-bordered table-striped" id="view-pending-table">
                        <thead>
                            <tr>
                                <th class="text-nowrap text-center text-white bg-blue-darker" width="5%"></th>
                                <th class="text-nowrap text-center text-white bg-blue-darker" width="25%">OR Number</th>
                                <th class="text-nowrap text-center text-white bg-blue-darker" width="40%">Client Name</th>
                                <th class="text-nowrap text-center text-white bg-blue-darker" width="30%">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- append here -->
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4" class="text-right">Total : <span class="label label-default f-s-14" id="view-pending-total"></span></td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center"><span class="label label-inverse">Nothing Follows</span></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<!-- #modal-dep-slip -->
<div class="modal fade" id="modal-dep-slip">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation<small class="m-l-10 f-s-12">(<span id="conf-desc" class="m-r-5 m-l-5"></span>)</small></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form id="mark-dep-form" data-parsley-validate="true" autocomplete="off">
                    <div class="form-group row m-b-15">
                        <label for="input-dep-slip" class="col-md-4 col-sm-4 col-form-label">Deposit No. : <span class="text-red">*</span></label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="form-control" id="input-dep-slip" required data-parsley-required-message="Deposit slip number is required." readonly/>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label for="dep-slip-date" class="col-md-4 col-sm-4 col-form-label">Date Deposited : <span class="text-red">*</span></label>
                        <div class="col-md-8 col-sm-8">
                            <input type="date" class="form-control" id="dep-slip-date" required data-parsley-required-message="Date deposited is required."/>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label for="dep-slip-upload" class="col-md-4 col-sm-4 col-form-label">Upload Deposit Slip :</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="file" class="form-control btn btn-sm btn-white" id="dep-slip-upload"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal"><i class="fas fa-times-circle m-r-5"></i>Close</a>
                <a href="javascript:;" class="btn btn-success" id="dep-slip-done"><i class="fas fa-check-circle m-r-5" id="dep-slip-done-icon"></i>Done</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page-js %}
<!-- dito yung page-js -->
{% endblock %}
{% block init %}
<script>
    $(document).ready(function() {
        App.init();
        highlightSideNav();
        load_pending_deposits();
    });

    var d = new Date();  
    var d_today = d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + d.getDate();
    var d_7day = d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + (d.getDate()-6);

    function load_pending_deposits() {
        $.ajax({
            type: "POST",
            url: "{% url 'load_pending_deposits' %}",
            // cache: true,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                $('#col-hist-table2 tbody tr').remove();
                for (i = 0; i < obj.length; i++) {
                    $('#col-hist-table2 tbody').append(
                        `<tr>
                            <td class="text-nowrap text-center">${'₱' + obj[i][0].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}</td>
                            <td class="text-nowrap text-center">${moment(new Date(obj[i][1])).format('MMM. DD, YYYY')}</td>
                            <td class="text-nowrap text-center">
                                <a href="javascript:;" class="btn btn-primary btn-sm view_pending"><i class="fas fa-eye m-r-5"></i>View</a>
                                <a href="javascript:;" class="btn btn-success btn-sm mark_deposit"><i class="fas fa-check-circle m-r-5"></i>Mark as Deposited</a>
                            </td>
                        </tr>`
                    );
                }
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    var current_group_id;
    function currentGroupID(group_id) {
        current_group_id = group_id;
    };

    function get_current_group_id() {
        $.ajax({
            type: "POST",
            url: "{% url 'get_current_group_id' %}",
            // cache: true,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                currentGroupID(obj[0]);
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    }

    var getCurrentUserID;
    function callback(response) {
        getCurrentUserID = response;
    }
    $.ajax({
        url: "{% url 'get_session' %}",
        type: "POST",
        data: {
            csrfmiddlewaretoken:"{{csrf_token}}"
        },
        success: function(role_session) {
            callback(role_session)
        }
    });

    $('#col-hist-table2 tbody').on('click', '.view_pending', function() {
        get_pending(moment(new Date($(this).closest('tr').find('td:eq(1)').text())).format('YYYY-MM-DD'));
        $('#view-pending-title').text($(this).closest('tr').find('td:eq(1)').text());
        $('#view-pending-modal').modal('show');
    });

    $('#col-hist-table2 tbody').on('click', '.mark_deposit', function() {
        $('#conf-desc').text($(this).closest('tr').find('td:eq(1)').text() + ' : ' + $(this).closest('tr').find('td:eq(0)').text());
        get_current_group_id();    
        setTimeout(function() {
            $('#input-dep-slip').val(current_group_id);
            $('#modal-dep-slip').modal('show');
        },1000);  
    });

    function get_pending(p_date) {
        $.ajax({
            type: "POST",
            url: "{% url 'get_pending' %}",
            // cache: true,
            dataType: 'json',
            data: {
                p_date: p_date,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                var tot = 0;
                $('#view-pending-table tbody tr').remove();
                for (i = 0; i < obj.length; i++) {
                    $('#view-pending-table tbody').append(
                        `<tr>
                            <td class="text-nowrap text-left">${i+1}</td>
                            <td class="text-nowrap text-center">${obj[i][0]}</td>
                            <td class="text-nowrap text-center">${obj[i][1]}</td>
                            <td class="text-nowrap text-right">${obj[i][2]}</td>
                        </tr>`
                    );   
                    tot += parseFloat(obj[i][2]);
                };
                $('#view-pending-total').text(tot);
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    $('#modal-dep-slip').on('hidden.bs.modal', function() {
        $('#input-dep-slip').val('');
        $('#dep-slip-date').val('mm/dd/yyyy');
        $('#dep-slip-upload').val('');
        $('#mark-dep-form').parsley().reset();
    });

    function done_deposit() {
        $.ajax({
            type: "POST",
            url: "{% url 'done_deposit' %}",
            // cache: true,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {

            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    $('#dep-slip-upload').on('change', function() {
        uploadFile(this);
    });

    $('#dep-slip-done').on('click', function(e) {
        e.preventDefault();
        $('#mark-dep-form').parsley();
        if ($('#mark-dep-form').parsley().validate()) {
            $('#dep-slip-done-icon').removeClass('fa-check-circle');
            $('#dep-slip-done-icon').addClass('fa-spinner fa-pulse');
            if (fileName == null) {
                get_pending2();
            }
            else {
                saveToFolder(imgSrc, fileName); // deposit slip image
            }
        }
    });

    function uploadFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imgSrc = e.target.result.split(',')[1];
                fileName = $('#dep-slip-upload').val().split('\\')[2];
            }

            reader.readAsDataURL(input.files[0]);
        }
    };

    function saveToFolder(img_src, file_name) {
        var req_from = 'dep-pending';
        $.ajax({
            type: "POST",
            url: "{% url 'save_to_folder' %}",
            cache: false,
            dataType: 'json',
            data: {
                img_src: img_src,
                file_name: file_name,
                req_from: req_from,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                setTimeout(function(){
                    get_pending2(); // get_pending is for clicking view btn, get_pending2 is just to get the pending OR for deposit
                }, 1000);
            },
            error: function(xhr, status, error) {
                swal({
                    title: "Error!", 
                    text: error,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                }, function(isConfirm) {
                    if (isConfirm) {
                        $('#dep-slip-done-icon').removeClass('fa-spinner fa-pulse');
                        $('#dep-slip-done-icon').addClass('fa-check-circle');
                    }
                });
            }
        });
    };

    function get_pending2() {
        var p_date = moment(new Date($('#conf-desc').text().split(':')[0].trim())).format('YYYY-MM-DD');
        $.ajax({
            type: "POST",
            url: "{% url 'get_pending' %}",
            cache: false,
            dataType: 'json',
            data: {
                p_date: p_date,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                saveToDB(obj, obj.length);
            },
            error: function(xhr, status, error) {
                swal({
                    title: "Error!", 
                    text: error,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
    };

    function saveToDB(obj, len) {
        var status = 'DEPOSITED';
        var date_dep = moment(new Date($('#dep-slip-date').val())).format('YYYY-MM-DD');
        var group_id = $('#input-dep-slip').val().trim();
        var user_id = getCurrentUserID;
        for (var i = 0; i < len; i++) {
            var or_num = obj[i][0];
            $.ajax({
                type: "POST",
                url: "{% url 'insert_deposit' %}",
                async: false,
                cache: false,
                dataType: 'json',
                data: {
                    or_num: or_num,
                    group_id: group_id,
                    status: status,
                    date_dep: date_dep,
                    user_id: user_id,
                    csrfmiddlewaretoken:"{{csrf_token}}"
                },
                success: function(obj) {
                    if (i == (len-1)) {
                        swal({
                            title: "Saved Successfully", 
                            text: 'Deposit No. ' + group_id + ' has been saved successfully.',
                            type: "success",
                            confirmButtonColor: "#428bca",
                            showLoaderOnConfirm: true
                        }, function(isConfirm) {
                            if (isConfirm) {
                                $('#modal-dep-slip').modal('hide');
                                $('#dep-slip-done-icon').removeClass('fa-spinner fa-pulse');
                                $('#dep-slip-done-icon').addClass('fa-check-circle');
                                load_pending_deposits();
                            }
                        });
                    }
                },
                error: function(xhr, status, error) {
                    swal({
                        title: "Error!", 
                        text: error,
                        type: "error",
                        confirmButtonColor: "#428bca",
                        showLoaderOnConfirm: true
                    }, function(isConfirm) {
                        if (isConfirm) {
                            $('#dep-slip-done-icon').removeClass('fa-spinner fa-pulse');
                            $('#dep-slip-done-icon').addClass('fa-check-circle');
                        }
                    });
                }
            });
        }
    };

    var imgSrc = null;
    var fileName = null;

    function highlightSideNav() {
        $('#li-dash').removeClass('text-white');
        $('#add-col-caret').removeClass('text-white');
        $('#add-col').removeClass('text-white');
        $('#add-sis').removeClass('text-white');
        $('#view-rec-caret').removeClass('text-white');
        $('#view-rec').removeClass('text-white');
        $('#trans-log').removeClass('text-white');
        $('#view-sis').removeClass('text-white');
        $('#col-rep-caret').removeClass('text-white');
        $('#acct-forms').removeClass('text-white');
        $('#cert').removeClass('text-white');
        $('#mon-col').removeClass('text-white');
        $('#sum-col').removeClass('text-white');
        $('#cash-receipt').removeClass('text-white');
        $('#deposit-caret').addClass('text-white');
        $('#pending_but').addClass('text-white');
        $('#deposited_but').removeClass('text-white');
        $('#deposit-caret').click();
    };
</script>
{% endblock %}