{% extends 'views/layouts/pages/main.html' %}
{% block title %} 
<title>CTS | Deposits</title>
{% endblock %}
{% load static %}
{% block page-css %}
<!-- dito yung page css -->
{% endblock %}
{% block content %}
<div class="content" id="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Deposits</a></li>
        <li class="breadcrumb-item active">Deposited</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Deposited <small>View Deposited Collections</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-1 -->
        <div class="col-lg-1">
            <!-- filler div -->
        </div>
        <!-- end col-1 -->
        <!-- begin col-10 -->
        <div class="col-lg-10">
            <!-- begin card -->
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <!-- <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#card-pill-1-deposits">Pending</a></li> -->
                        <!-- <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#card-pill-2-deposits" id="sched-dep-tab">Scheduled Deposit</a></li> -->
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#card-pill-3-deposits" id="deposited-tab">Deposited</a></li>
                    </ul>
                </div>
                <div class="card-block">
                    <div class="tab-content p-0 m-0">
                        <div class="tab-pane fade active show" id="card-pill-3-deposits" style="max-height: 620px; overflow-y: auto;">
                            <h4 class="card-title text-center">Deposited Collections</h4>
                            <div style="max-height: 550px; overflow: auto;">
                                <table class="table table-striped table-hover" id="deposited-table">
                                    <thead class="thead text-center">
                                        <th width="20%" class="text-nowrap">Date Deposited</th>
                                        <th width="20%" class="text-nowrap">Reference No.</th>
                                        <th width="15%" class="text-nowrap">Amount</th>
                                        <th width="25%" class="text-nowrap">Options</th>
                                    </thead>
                                    <tbody class="text-center">
                                        <!-- append tbody tr here -->
                                    </tbody>
                                    <tfoot>
                                        <!-- append tfoot here -->
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col-10 -->
    </div>
    <!-- end row -->
</div>
<!-- #sched-deposit -->
<div class="modal fade" id="sched-deposit">
    <div class="modal-dialog" style="max-width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pick Schedule</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="height: 250px;">
                <form method="POST" action="#" id="sched-deposit-form">
                     <!-- begin row -->
                    <div class="row">
                        <!-- begin col-6 -->
                        <div class="col-lg-6">
                            <input type="text" id="pick-sched-group" class="form-control f-s-15 f-w-700 m-b-10" data-parsley-required="true" data-parsley-required-message="Deposit group number is required" onfocus="this.blur()" tabindex="-1"/>
                            <input type="date" id="pick-sched-date" class="form-control m-b-10" data-parsley-required="true" data-parsley-required-message="Date is required"/>
                            <textarea class="form-control" id="pick-sched-notes" placeholder="Add a note here." style="height: 110px;"></textarea>
                        </div>
                        <!-- end col-6 -->
                        <!-- begin col-6 -->
                        <div class="col-lg-6">
                            <div style="max-height: 200px; overflow-y: auto;">
                                <table class="table table-bordered table-striped" id="sched-deposit-table">
                                    <thead class="text-center">
                                        <th class="text-nowrap">OR Number</th>
                                        <th class="text-nowrap">Amount</th>
                                    </thead>
                                    <tbody class="text-center">
                                        <!-- append here -->
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2" class="text-center"><span class="label label-inverse">Nothing follows..</span></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="pull-right m-t-10">
                                <span class="label label-purple f-s-11">Total: <span id="tot"></span></span>
                            </div>
                        </div>
                        <!-- end col-6 -->
                    </div>
                    <!-- end row -->
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal"><i class="fas fa-undo-alt fa-lg m-r-5"></i>Discard</a>
                <a href="javascript:;" class="btn btn-success" id="pick-sched-set-but"><i class="fas fa-clock fa-lg m-r-5" id="set-but-icon"></i>Set</a>
            </div>
        </div>
    </div>
</div>
<!-- #modal-dep-slip -->
<div class="modal fade" id="modal-edit-slip">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Deposit<small class="m-l-5">Editable fields are <strong>Date </strong>and <strong>Reference number </strong>only.</small></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form id="mark-dep-form" data-parsley-validate="true" autocomplete="off">
                    <div class="form-group row m-b-15">
                        <label for="dep-slip-date" class="col-md-4 col-sm-4 col-form-label">Date Deposited : <span class="text-red">*</span></label>
                        <div class="col-md-8 col-sm-8">
                            <input type="date" class="form-control" id="dep-slip-date" required data-parsley-required-message="Date deposited is required."/>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label for="dep-slip-grp" class="col-md-4 col-sm-4 col-form-label">Reference No. : <span class="text-red">*</span></label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="form-control" id="dep-slip-grp" required data-parsley-required-message="Group is required."/>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label for="dep-slip-amt" class="col-md-4 col-sm-4 col-form-label">Amount : <span class="text-red">*</span></label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="form-control" id="dep-slip-amt" required data-parsley-required-message="Deposit amount is required."/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal"><i class="fas fa-times-circle m-r-5"></i>Close</a>
                <a href="javascript:;" class="btn btn-success" id="dep-slip-upd"><i class="fas fa-check-circle m-r-5" id="dep-slip-upd-icon"></i>Update</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page-js %}
<!-- dito yung page-js -->
{% endblock %}
{% block init %}
<script>
    $(document).ready(function() {
        App.init();
        $('#deposited-tab').click();
        highlightSideNav();
    });

    var d = new Date();  
    var d_today = d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + d.getDate();
    var d_7day = d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + (d.getDate()-6);

    function get_current_group_id() {
        $.ajax({
            type: "POST",
            url: "{% url 'get_current_group_id' %}",
            // cache: true,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                $('#pick-sched-group').val(obj);
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    $('input[name="col-hist-check-all"]').on('change', function() {
        if ($('input[name="col-hist-check-all"]').prop('checked')) {
            $('input[name="col-hist-check"]').prop('checked', true);
        }
        else {
            $('input[name="col-hist-check"]').prop('checked', false);
        }
    });

    var getCurrentUserID;
    function callback(response) {
        getCurrentUserID = response;
    }
    $.ajax({
        url: "{% url 'get_session' %}",
        type: "POST",
        data: {
            csrfmiddlewaretoken:"{{csrf_token}}"
        },
        success: function(role_session) {
            callback(role_session)
        }
    });

    $('#input-dep-slip').on('keypress', function() {
        if ($('#input-dep-slip').val().length == 0) {
            $('#input-dep-slip').removeClass('is-invalid');
            $('#dep-slip-err').prop('style', 'display:none');
        }
    });

    $('#modal-dep-slip').on('hidden.bs.modal', function() {
        $('#input-dep-slip').removeClass('is-invalid');
        $('#dep-slip-err').prop('style', 'display:none');
        $('#input-dep-slip').val('');
    });
    
    $('#deposited-tab').on('click', function() {
        load_deposited();
    });

    function load_deposited() {
        $.ajax({
            type: "POST",
            url: "{% url 'load_deposited' %}",
            // cache: true,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                $('#deposited-table tbody tr').remove();
                if (obj.length != 0) {
                    for (var i = obj.length-1; i >= 0; i--) {
                        $('#deposited-table tbody').append(
                            `<tr>
                                <td><span class="f-s-12">${moment(new Date(obj[i][0])).format('MMM. DD, YYYY')}</span></td>
                                <td class="text-nowrap">${obj[i][1]}</td>
                                <td class="text-nowrap text-right f-w-700">${'₱' + parseFloat(obj[i][2]).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}</td>
                                <td class="text-nowrap text-center">
                                    <a href="javascript:;" class="btn btn-sm btn-primary edit-dep"><i class="fas fa-pencil-alt m-r-5"></i>Edit</a>
                                    <a href="javascript:;" class="btn btn-sm btn-danger del-dep"><i class="fas fa-trash-alt m-r-5"></i>Delete</a>
                                </td>
                            </tr>`
                        );
                    };
                }
                else {
                    $('#deposited-table tbody').append(
                        `<tr>
                            <td colspan="3">No records found</td>
                        </tr>`
                    );
                }
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    $('#deposited-table tbody').on('click', '.edit-dep', function() {
        $('#dep-slip-date').val(moment(new Date($(this).closest('tr').find('td:eq(0)').text())).format('YYYY-MM-DD'));
        $('#dep-slip-grp').val($(this).closest('tr').find('td:eq(1)').text()).prop('readonly', true);
        $('#dep-slip-amt').val($(this).closest('tr').find('td:eq(2)').text()).prop('readonly', true);
        $('#modal-edit-slip').modal('show');
    });

    $('#dep-slip-upd').on('click', function() {
        $('#dep-slip-upd-icon').removeClass('fa-check-circle');
        $('#dep-slip-upd-icon').addClass('fa-spinner fa-pulse');
        var date_dep = moment(new Date($('#dep-slip-date').val())).format('YYYY-MM-DD');
        var group_id = $('#dep-slip-grp').val();
        var user_id = getCurrentUserID;
        $.ajax({
            type: "POST",
            url: "{% url 'update_deposit' %}",
            // cache: true,
            dataType: 'json',
            data: {
                date_dep: date_dep,
                group_id: group_id,
                user_id: user_id,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                setTimeout(function() {
                    swal({
                        title: "Updated Successfully", 
                        text: group_id + ' has been updated successfully.',
                        type: "success",
                        confirmButtonColor: "#428bca",
                        showLoaderOnConfirm: true
                    }, function(isConfirm) {
                        if (isConfirm) {
                            $('#modal-edit-slip').modal('hide');
                            $('#dep-slip-upd-icon').removeClass('fa-spinner fa-pulse');
                            $('#dep-slip-upd-icon').addClass('fa-check-circle');
                            load_deposited();
                        }
                    });
                }, 2000);
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                }, function(isConfirm) {
                    if (isConfirm) {
                        $('#dep-slip-upd-icon').removeClass('fa-spinner fa-pulse');
                        $('#dep-slip-upd-icon').addClass('fa-check-circle');
                    }
                });
            }
        });
    });

    $('#deposited-table tbody').on('click', '.del-dep', function() {
        var group_id = $(this).closest('tr').find('td:eq(1)').text();
        swal({
            title: "Delete",
            text: "Are you sure to return " + group_id + " to pending?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d9534f",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: false,
            closeOnCancel: true,
            customClass: "Custom_Cancel"
        }, function(isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'delete_deposit' %}",
                        // cache: true,
                        dataType: 'json',
                        data: {
                            group_id: group_id,
                            csrfmiddlewaretoken:"{{csrf_token}}"
                        },
                        success: function(obj) {
                            setTimeout(function() {
                                swal({
                                    title: "Deleted Successfully", 
                                    text: group_id + ' has been returned to pending status',
                                    type: "success",
                                    confirmButtonColor: "#428bca",
                                    showLoaderOnConfirm: true
                                }, function(isConfirm) {
                                    if (isConfirm) {
                                        load_deposited();
                                    }
                                });
                            }, 1000);
                        },
                        error: function(xhr, status, error) {
                            var errMsg = xhr.status + ': ' + xhr.statusText;
                            swal({
                                title: "Error!", 
                                text: errMsg,
                                type: "error",
                                confirmButtonColor: "#428bca",
                                showLoaderOnConfirm: true
                            });
                        }
                    });
                }
        });
    });

    function highlightSideNav() {
        $('#li-dash').removeClass('text-white');
        $('#add-col-caret').removeClass('text-white');
        $('#add-col').removeClass('text-white');
        $('#add-sis').removeClass('text-white');
        $('#view-rec-caret').removeClass('text-white');
        $('#view-rec').removeClass('text-white');
        $('#trans-log').removeClass('text-white');
        $('#view-sis').removeClass('text-white');
        $('#col-rep-caret').removeClass('text-white');
        $('#acct-forms').removeClass('text-white');
        $('#cert').removeClass('text-white');
        $('#mon-col').removeClass('text-white');
        $('#sum-col').removeClass('text-white');
        $('#cash-receipt').removeClass('text-white');
        $('#pending_but').removeClass('text-white');
        $('#deposited_but').addClass('text-white');
        $('#deposit-caret').click();
    };
</script>
{% endblock %}