{% extends 'views/layouts/pages/admin_main.html' %}
{% block title %}<title>CMS | Edit User</title>{% endblock %}
{% load static %}
{% block page-css %}
<link href="{%static 'assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/AutoFill/css/autoFill.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/ColReorder/css/colReorder.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/KeyTable/css/keyTable.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/RowReorder/css/rowReorder.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Select/css/select.bootstrap.min.css' %}" rel="stylesheet" />
<style>
    .col-adj { 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
{% endblock %}
{% block content %}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">User Management</a></li>
        <li class="breadcrumb-item active">Edit User</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">View | Edit User <small>Update User Details</small></h1>
    <!-- end page-header -->
    
    <!-- begin row -->
    <div class="row">
        <div class="col-lg-1"></div>
        <!-- begin col-10 -->
        <div class="col-lg-10">
            <!-- begin card -->
            <div class="card text-left">
                <div class="card-header">
                    <i class="fas fa-user"><i class="fas fa-pencil-alt m-r-5" style="font-size: 5px; margin-right: -2px;"></i></i>
                    Update User Details
                </div>
                <div class="card-block">
                    <h4 class="card-title"></h4>
                    <!-- begin panel -->
                    <div class="panel panel-white">
                        <!-- begin panel-heading -->
                        <div class="panel-heading">
                            <!-- <h4 class="panel-title">Edit User</h4> -->
                        </div>
                        <!-- end panel-heading -->
                        <!-- begin panel-body -->
                        <div class="panel-body">
                            <table id="data-table-responsives" class="table table-hover" style="overflow-x: hidden;">
                                <thead>
                                    <tr>
                                        <th class="text-nowrap">ID</th>
                                        <th class="text-nowrap">First Name</th>
                                        <th class="text-nowrap">Middle Name</th>
                                        <th class="text-nowrap">Last Name</th>
                                        <th class="text-nowrap">Username</th>
                                        <th class="text-nowrap">Date Added</th>
                                        <th class="text-nowrap">Role</th>
                                        <th width="20%" class="text-nowrap text-center">Option</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <!-- end panel-body -->
                    </div>
                    <!-- end panel -->
                </div>
                <div class="card-footer text-grey-darker f-s-10">
                    <span style="font-style: italic;">Last Accessed: 2 days ago</span>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col-10 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
<!-- #modal-dialog -->
<div class="modal fade" id="edit_user">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
            <!-- begin card -->
            <div class="card card-inverse bg-gradient-silver">
                <div class="card-block">
                    <h4 class="card-title text-black-lighter text-center">Edit User</h4>
                    <form class="form-horizontal" id="editForm" autocomplete="off">
                        <div class="form-group row m-b-15">
                            <label class="col-md-4 col-sm-4 col-form-label" for="fullname">First Name <span class="text-red">*</span> :</label>
                            <div class="col-md-8 col-sm-8">
                                <input class="form-control" type="text" id="fname" name="fname" placeholder="First Name" data-parsley-required="true" />
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-4 col-sm-4 col-form-label" for="fullname">Middle Name :</label>
                            <div class="col-md-8 col-sm-8">
                                <input class="form-control" type="text" id="mname" name="mname" placeholder="Middle Name" />
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-4 col-sm-4 col-form-label" for="fullname">Last Name <span class="text-red">*</span> :</label>
                            <div class="col-md-8 col-sm-8">
                                <input class="form-control" type="text" id="lname" name="lname" placeholder="Last Name" data-parsley-required="true" />
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-4 col-sm-4 col-form-label" for="email">Username <span class="text-red">*</span> :</label>
                            <div class="col-md-8 col-sm-8">
                                <input class="form-control" type="text" id="uname" name="uname" placeholder="Username" data-parsley-required="true" />
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-4 col-sm-4 col-form-label" for="message">Password <span class="text-red">*</span> :</label>
                            <div class="col-md-8 col-sm-8">
                                <input class="form-control" type="text" id="pword" name="pword" maxlength="15" placeholder="Password" data-parsley-required="true"/>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-4 col-sm-4 col-form-label">Role <span class="text-red">*</span> :</label>
                            <div class="col-md-4 col-sm-4">
                                <div class="radio radio-css">
                                    <input type="radio" name="radio_css" id="radiorequired" checked />
                                    <label for="radiorequired" class="text-primary">Admin</label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="radio radio-css">
                                    <input type="radio" name="radio_css" id="radiorequired2" />
                                    <label for="radiorequired2" class="text-primary">Cashier</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-0">
                            <label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="submit" class="btn btn-warning" id="add" onclick="updateClick(event);" value="Update"></button>
                                <a href="javascript:;" class="btn bg-gradient-black text-white btn-m" data-dismiss="modal" id="close" onfocus="closeFocus()">Close</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end card -->
            </div>
        </div>
    </div>
</div>
<!-- #modal-dialog 2-->
<div class="modal fade" id="view_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-user f-s-20 m-r-5"></i><span id="view_header"></span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <!-- begin card -->
                <div class="card text-left">
                    <div class="card-block">
                        <!-- begin panel -->
                        <div class="panel panel-white" data-sortable-id="form-validation-1">
                            <!-- begin panel-heading -->
    
                            <!-- end panel-heading -->
                            <!-- begin panel-body -->
                            <div class="panel-body" style="margin-bottom: -40px;;">
                                <form class="form-horizontal" name="demo-form" action="#" id="viewForm" autocomplete="off">
                                    <div class="form-group row m-b-15">
                                        <label class="col-md-4 col-sm-4 col-form-label" for="vfname">First Name <span class="text-red">*</span> :</label>
                                        <div class="col-md-8 col-sm-8">
                                            <input class="form-control" type="text" id="vfname" name="vfname" placeholder="First Name" data-parsley-required="true" data-parsley-required-message="First name is required" />
                                        </div>
                                    </div>
                                    <div class="form-group row m-b-15">
                                        <label class="col-md-4 col-sm-4 col-form-label" for="vmname">Middle Name :</label>
                                        <div class="col-md-8 col-sm-8">
                                            <input class="form-control" type="text" id="vmname" name="vmname" placeholder="Middle Name" />
                                        </div>
                                    </div>
                                    <div class="form-group row m-b-15">
                                        <label class="col-md-4 col-sm-4 col-form-label" for="vlname">Last Name <span class="text-red">*</span> :</label>
                                        <div class="col-md-8 col-sm-8">
                                            <input class="form-control" type="text" id="vlname" name="vlname" placeholder="Last Name" data-parsley-required="true" data-parsley-required-message="Last name is required" />
                                        </div>
                                    </div>
                                    <div class="form-group row m-b-15">
                                        <label class="col-md-4 col-sm-4 col-form-label" for="vuname">Username <span class="text-red">*</span> :</label>
                                        <div class="col-md-8 col-sm-8">
                                            <input class="form-control" type="text" id="vuname" name="vuname" placeholder="User Name" data-parsley-required="true" data-parsley-required-message="Username name is required" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group row m-b-15">
                                        <label class="col-md-4 col-sm-4 col-form-label" for="vdate-added">Date Added <span class="text-red">*</span> :</label>
                                        <div class="col-md-8 col-sm-8">
                                            <input class="form-control" type="text" id="vdate-added" name="vdate-added" placeholder="Date Added" data-parsley-required="true" data-parsley-required-message="Date added is required" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group row m-b-15">
                                        <label class="col-md-4 col-sm-4 col-form-label" for="vrole">Role <span class="text-red">*</span> :</label>
                                        <div class="col-md-8 col-sm-8">
                                            <select class="form-control selectpicker1" id="vrole" data-style="btn-white" data-parsley-required="true" data-parsley-required-message="User role is required">
                                                <option value="Admin" selected>Admin</option>
                                                <option value="Cashier">Cashier</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- end panel-body -->
                        </div>
                        <!-- end panel -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" id="view_close" data-dismiss="modal">Close</a>
                <a href="javascript:;" class="btn btn-warning" id="view_editBtn">Edit</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page-js %}
<script src="{%static 'assets/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/AutoFill/js/dataTables.autoFill.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/ColReorder/js/dataTables.colReorder.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/KeyTable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/RowReorder/js/dataTables.rowReorder.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Select/js/dataTables.select.min.js' %}"></script>
<script src="{%static 'assets/js/demo/table-manage-combine.demo.min.js' %}"></script>
{% endblock %}
{% block init %}
<script>
    $(document).ready(function() {
        App.init();
        TableManageCombine.init();
    });
    var dt_user = $('#data-table-responsives').DataTable({
            'paging'      : false,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : false,
            'info'        : false,
            'autoWidth'   : false,
            'aaSorting'   : [[1, "desc" ]],
            'autoPrint'   : false,
            "aoColumns" : [ 
                { sWidth: '0%' },
                { sWidth: '20%' },
                { sWidth: '20%' },
                { sWidth: '20%' },
                { sWidth: '0%' },
                { sWidth: '0%' },
                { sWidth: '20%' },
                { sWidth: '20%' },
            ],
            dom: 'lBfrtip',
            buttons: [
                { 
                    extend:    'print',
                    text:      '<i class="fas fa-print text-orange-lighter f-s-16"></i>',
                    titleAttr: 'Print',
                    exportOptions: {
                        columns: [1,2,3,4]
                    }
                },
                {
                    extend:    'excel',
                    text:      '<i class="fas fa-file-excel text-green-lighter f-s-16"></i>',
                    titleAttr: 'Excel',
                    exportOptions: {
                        columns: [1,2,3,4]
                    }
                },
                {
                    extend:    'pdf',
                    text:      '<i class="fas fa-file-pdf text-red-lighter f-s-16"></i>',
                    titleAttr: 'PDF',
                    exportOptions: {
                        columns: [1,2,3,4]
                    }
                }
            ],
            // ,columnDefs:[{targets:1, render:function(data){
            //     return moment(data).format('YYYY/MM/DD');
            // }}]
            columnDefs:[
                {
                    targets:7, render:function(data){
                        return `<a href="#view_modal" class="btn btn-xs btn-primary viewBtn" data-toggle="modal"><i class="fas fa-eye m-r-5"></i>View</a>`;
                    }
                },
                {
                    targets:[0,4,5],
                    visible: false
                },
                {
                    targets:6, render:function(data){
                        return `<a href="javascript:;" class="btn btn-xs btn-white role">${data}</a>`
                    }
                },
                {
                    targets:[1,2,3,6,7],
                    className: 'text-center'
                }
            ]
        });
    function closeFocus() {
        event.preventDefault();
        $('#close').addClass('bg-transparent-7');
    };
    function updateClick(event) {
        event.preventDefault();
        $('#editForm').parsley();
        if($('#editForm').parsley().validate()) {
            swal({
                title: "Update",
                text: "Are you sure to update?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#f0ad4e",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: false,
                closeOnCancel: true,
                customClass: "Custom_Cancel",
            },
            function(isConfirm) {
                if (isConfirm){
                    swal({
                            title: "Updated Successfully", 
                            text: "Record was updated successfully!", 
                            type: "success",
                            showLoaderOnConfirm: true,
                            confirmButtonColor: "#5cb85c",
                        },
                        function(isConfirm) {
                                if (isConfirm){
                                    $('#close').click();
                                    $('#editForm').parsley().reset();
                                }
                        })
                }
            });
        } 
    };
    $('#close').on('click', function() {
        $('#editForm').parsley().reset();
        $('.form-control').val('');
    });
    $('.editBtn').on('click', function() {
        $('#editForm').parsley().reset();
        $('.form-control').val('');
    });

    loadViewdata();

    function loadViewdata() {
        $.ajax({
            type: "POST",
            url: "{% url 'load_user_data' %}",
            cache: false,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                dt_user.clear().draw();
                $.each(obj, function(index, data){
                    if (data[7] == 1) {
                        dt_user.row.add([
                            data[0],
                            data[1],
                            data[2],
                            data[3],
                            data[4],
                            data[5],
                            data[6]
                        ]);
                    }
                })
                dt_user.draw();
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
    };

    $('#view_modal').on('hidden.bs.modal', function (e) {
        dt_user.columns([0,4,5]).visible(false);
    });
    var vID = '';
    $('#data-table-responsives tbody').on('click', '.viewBtn', function() {
        dt_user.columns([0,4,5]).visible(true);
        vID = $(this).closest('tr').find('td:eq(0)').html();
        $('#view_editBtn').removeClass('btn-success');
        $('#view_editBtn').addClass('btn-warning');
        $('#view_editBtn').text('Edit'); 

        $('#view_header').text('User-' + $(this).closest('tr').find('td:eq(0)').html());
        $('#vfname').val($(this).closest('tr').find('td:eq(1)').html());
        $('#vmname').val($(this).closest('tr').find('td:eq(2)').html());
        $('#vlname').val($(this).closest('tr').find('td:eq(3)').html());
        $('#vuname').val($(this).closest('tr').find('td:eq(4)').html());
        $('#vdate-added').val($(this).closest('tr').find('td:eq(5)').html());
        $('#vrole').val($(this).closest('tr').find('.role').html());
        document.getElementById( "vfname" ).setAttribute('readonly',true);
        document.getElementById( "vmname" ).setAttribute('readonly',true);
        document.getElementById( "vlname" ).setAttribute('readonly',true);
        document.getElementById( "vuname" ).setAttribute('readonly',true);
        document.getElementById( "vdate-added" ).setAttribute('readonly',true);
        document.getElementById( "vrole" ).setAttribute('disabled',true);
    });

    $('#view_editBtn').on('click', function() {
        var txt = $('#view_editBtn').text();
        var fname = $('#vfname').val();
        var mname = $('#vmname').val();
        var lname = $('#vlname').val();
        var role = $('#vrole').find("option:selected").text();
        $('#view_editBtn').removeClass('btn-warning');
        $('#view_editBtn').addClass('btn-success');
        if(txt == 'Edit') {
            document.getElementById( "vfname" ).removeAttribute('readonly');
            document.getElementById( "vmname" ).removeAttribute('readonly');
            document.getElementById( "vlname" ).removeAttribute('readonly');
            document.getElementById( "vrole" ).removeAttribute('disabled');
            $('#view_editBtn').text('Update');
        }
        else if(txt == 'Update') {
            swal({
                title: "Update",
                text: "Are you sure to update\n"+"User-"+vID+"?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d9534f",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: false,
                closeOnCancel: true,
                customClass: "Custom_Cancel"
            },
            function(isConfirm) {
                if (isConfirm){
                    $.ajax({
                        type: "POST",
                        url: "{% url 'update_user_data' %}",
                        cache: false,
                        // dataType: 'json',
                        data: {
                            vID: vID,
                            fname: fname,
                            mname: mname,
                            lname: lname,
                            role: role,
                            csrfmiddlewaretoken:"{{csrf_token}}"
                        },
                        success: function(obj) {
                            swal({
                                title: "Updated Successfully", 
                                text: "User-" + vID + "\nwas updated successfully!", 
                                type: "success",
                                showLoaderOnConfirm: true,
                                confirmButtonColor: "#5cb85c",
                            })
                            loadViewdata();
                            $('#view_close').click();
                        },
                        error: function(xhr, status, error) {
                            var errMsg = xhr.status + ': ' + xhr.statusText;
                            swal({
                                title: "Error!", 
                                text: errMsg,
                                type: "error",
                                confirmButtonColor: "#428bca",
                                showLoaderOnConfirm: true
                            })
                        }
                    });
                }
            });
        }
    });
</script>
{% endblock%}