{% extends "views/layouts/pages/loginmain.html" %}
{% block content %}
{% load static %}
<style>
    .login-content i { 
        position: absolute; 
    }   
    .form-group {
        width: 100%; 
        margin-bottom: 10px;
    }  
    .iconz { 
        padding: 10px; 
        min-width: 40px; 
        margin-top: -38px;
    }     
    .form-control { 
        width: 100%; 
        padding-left: 30px; 
    } 
    .neg_icon {
        margin-top: -60px;
    }
    input::-ms-reveal,
    input::-ms-clear {
      display: none;
    }
</style>
<div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login login-v2" data-pageload-addclass="animated fadeIn">
        <!-- begin brand -->
        <div class="login-header">
            <div class="brand">
                <span><img src="{%static 'assets/img/logo/PUPLogo.jpg' %}" class="rounded-corner" style="max-width: 30px; max-height: 30px; margin-right: 10px;"/></span> <b>CMS</b>
                <small>Polytechnic University of the Philippines QC</small>
            </div>
            <div class="icon">
                <i class="fas fa-id-badge m-t-5"></i>
            </div>
        </div>
        <!-- end brand -->
        <!-- begin login-content -->
        <div class="login-content">
            <div class="m-b-0"> 
                <!--form-->
                <form action="#" id="login_form" autocomplete="off">
                    <div class="form-group m-b-20">
                        <input type="text" class="form-control form-control-lg" placeholder="Username" id="uname" autocomplete="off" data-parsley-ui-enabled="false" required/>
                        <i class="fas fa-user iconz unameicon"></i>
                    </div>
                    <div class="form-group m-b-20">
                        <input type="text" class="form-control form-control-lg" placeholder="Password" id="password" autocomplete="new-password" data-parsley-ui-enabled="false" required/>
                        <i class="fas fa-lock iconz pwordicon"></i>
                        <i class="fas fa-eye iconz pull-right" style="position: relative; display: none;" id="icon-right"></i>
                        <i class="fas fa-eye-slash iconz pull-right" style="position: relative; display: none;" id="icon-right2"></i>
                    </div>
                    <div class="form-group m-b-35">
                        
                    </div>
                    <div class="login-buttons">
                        <button type="submit" class="btn btn-danger btn-block btn-lg" id="btn_login">Log In</button>
                    </div>
                    <div class="m-t-20">

                    </div>
                </form>
                <!--End Form-->
            </div>  
        </div>
        <!-- end login-content -->
    </div>
    <!-- end login -->
 
</div>
{% include "views/layouts/includes/base_js.html" %}
<script>
    $.ajax({
        url: "{% url 'get_session' %}",
        type: "POST",
        // timeout: 2000,
        data: {
            csrfmiddlewaretoken:"{{csrf_token}}"
        },
        success: function(role) {
            if (role == 1) {
                window.location = "{% url 'admin_dashboard' %}";
            }
            else if (role == 2) {
                window.location = "{% url 'dashboard' %}";
            }
            else {
                $(document).ready(function() {
                    App.init();
                    LoginV2.init();
                });
                $(document).ready(function() {
                    $('.form-control').val('');
                    $('#uname').dblclick(function(e) {
                        e.preventDefault();
                    });
                    $('#password').dblclick(function(e) {
                        e.preventDefault();
                    });
                });
                $('#icon-right').on('click', function() {
                    $('#icon-right').hide();
                    $('#icon-right2').show();
                    document.getElementById("password").setAttribute("type", "text");
                });
                $('#icon-right2').on('click', function() {
                    $('#icon-right2').hide();
                    $('#icon-right').show();
                    document.getElementById("password").setAttribute("type", "password");
                });
                $("#btn_login").click( function() {
                    event.preventDefault();
                    $('#login_form').parsley();
                    if ($('#login_form').parsley().validate()) {
                        checkCredentials();
                    }
                    else {
                        var pwordTxt = $('#password').val();
                        var unameTxt = $('#uname').val();
                        if (pwordTxt.length <= 1) {
                            $('#icon-right').hide();
                            $('#icon-right2').hide();
                        }
                    }
                });
                function checkCredentials() {
                    var uname = $('#uname').val();
                    var pword = $('#password').val();
                    $.ajax({
                        url: "{% url 'check_credentials' %}",
                        type: "POST",
                        data: { 
                            uname:uname,
                            pword:pword,
                            csrfmiddlewaretoken:"{{csrf_token}}"
                        },
                        timeout: 5000,
                        success:function(data) {
                            if (!data[0][0]) {
                                swal({
                                    title: "Invalid Credentials", 
                                    // text: "Incorrect username or password",
                                    type: "warning",
                                    confirmButtonColor: "#428bca",
                                    showLoaderOnConfirm: true
                                })
                            }
                            else if (data[0][0] && data[0][1] == 1) {
                                window.location = "{% url 'admin_dashboard' %}";
                            }
                            else if (data[0][0] && data[0][1] == 2) {
                                window.location = "{% url 'dashboard' %}";
                            }
                        },
                        error:function(xhr, status, error) {
                            var errMsg = xhr.status + ': ' + xhr.statusText;
                            swal({
                                title: "Error!", 
                                text: errMsg,
                                type: "error",
                                confirmButtonColor: "#428bca",
                                showLoaderOnConfirm: true
                            })
                        }
                    })
                };
                $('#uname').on('keypress', function() {

                });
                $('#password').on('keypress', function() {
                    document.getElementById("password").setAttribute("type", "password");
                    var typePass = document.getElementById("password").getAttribute("type");
                    if (typePass == 'password') {
                        $('#icon-right').show();
                        $('#icon-right2').hide();
                    }
                    else if (typePass == 'text') {
                        $('#icon-right2').show();
                        $('#icon-right').hide();
                    }
                });
                $('#password').on('keydown', function(event) {
                    if ($('#password').parsley().isValid()) {
                        var pwordTxt = $('#password').val();
                        if (event.keyCode == 8 || event.keyCode == 46) {
                            if (pwordTxt.length <= 1) {
                                $('#icon-right').hide();
                                $('#icon-right2').hide();
                            }
                        }
                    }
                });
                $('#uname').on('keydown', function(event) {
                    if ($('#uname').parsley().isValid()) {

                    }
                });
                $('#uname').on('focus', function() {
                    $('#icon-right').hide();
                    $('#icon-right2').hide();
                });
            }
        },
        error:function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
    });
</script>
{% endblock %}