{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	{% block title %}<title>CMS | Dashboard</title>{% endblock %}
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link rel="icon" href="{%static 'assets/img/logo/PUPLogo.png' %}" type="image/png">
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	{% include "views/layouts/includes/base_css.html" %}
	<!-- ================== END BASE CSS STYLE ================== -->
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<style type="text/css" media="print">
		.hidden-print {
			display: none; 
		}
	</style>
	<style>
		.table thead th {
			position: sticky;
			position: -webkit-sticky;
			top: 0;
			z-index: 1;
			background-color: white;
		}
		#col-hist-table2 {
			cursor: pointer;
		}
	</style>
	{% block page-css %} {% endblock %}
	<!-- ================== END PAGE LEVEL STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container --> 
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed hidden-print"> 
		<!-- begin #header -->
		<div id="header" class="header navbar-default">
			<!-- begin navbar-header -->
			<div class="navbar-header">
				<a href="{% url 'dashboard' %}" class="navbar-brand"><span><img src="{%static 'assets/img/logo/PUPLogo.jpg' %}" style="max-width: 30px; max-height: 30px; margin-right: 10px;"/></span><b>PUPQC</b> CMS</a>
				<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- end navbar-header -->
			
			<!-- begin header-nav -->
			<ul class="navbar-nav navbar-right">
				<li class="dropdown navbar-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<img src="{%static 'assets/img/user/maam_meg.jpg' %}" alt="" /> 
						<span class="d-none d-md-inline fname"></span> <b class="caret"></b>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="#request" class="dropdown-item" data-toggle="modal"><i class="fas fa-user-secret m-r-5"></i>Request</a>
						<div class="dropdown-divider"></div>
						<a href="{% url 'email' %}" class="dropdown-item"><i class="fas fa-envelope m-r-5"></i>Email</a>
						<div class="dropdown-divider"></div>
						<a href="{% url 'account' %}" class="dropdown-item"><i class="fas fa-user-circle m-r-5"></i>Account</a>
						<div class="dropdown-divider"></div>
						<a href="{% url 'logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt m-r-5"></i>Log Out</a>
					</div>
				</li>
			</ul>
			<!-- end header navigation right -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		{% include "views/layouts/sidenav/side_navbar.html" %}
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		{% block content %} {% endblock %}
		<!-- end #content -->
		
		<!-- begin #footer -->
		<div id="footer" class="footer hidden-print">
		    &copy; {% now "Y" %} All Rights Reserved - PUPQC Cashier Management System
		</div>
		<!-- end #footer -->
		
        <!-- begin theme-panel -->

        <!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	<!-- begin modal #request -->
	<div class="modal fade" id="request">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Request</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">

				</div>
			</div>
		</div>
	</div>
	<!-- end modal #request -->
	<!-- begin modal receipt -->
	<div class="modal fade" id="receipt">
		<div class="modal-dialog" style="max-width: 40%;">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"></h4>
					<button type="button" class="close hidden-print" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<!-- begin invoice -->
					<div class="invoice">
						<!-- begin invoice-company -->
						<div class="invoice-company text-inverse f-w-600">
							<span class="pull-right hidden-print">
							<a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-white m-b-10 p-l-5 hidden-print" id="print_receipt"><i class="fas fa-print t-plus-1 fa-fw fa-lg m-r-5 text-warning"></i>Print</a>
							</span>
							Polytechnic University of the Philippines <br><small>Quezon City Branch</small>
						</div>
						<!-- end invoice-company -->
						<!-- begin invoice-header -->
						<div class="invoice-header">
							<div class="invoice-from">
								<small>OR Number</small>
								<address class="m-t-5 m-b-5">
									<strong class="text-inverse" id="r_ornum">00000142579</strong><br />
								</address>
							</div>
							<div class="invoice-to">
								<small>Payor</small>
								<address class="m-t-5 m-b-5">
									<strong class="text-inverse" id="r_name">LASTNAME, FIRSTNAME M.</strong><br />
									<div class="invoice-detail" id="r_studnum">2017-00293-CM-0</div>
								</address>
							</div>
							<div class="invoice-date">
								<small>Transaction Date</small>
								<div class="date text-inverse m-t-5" id="r_date">{% now "F j, Y" %}</div>
								<div class="invoice-detail" id="r_time">{% now "h:i:s a" %}</div>
							</div>
						</div>
						<!-- end invoice-header -->
						<!-- begin invoice-content -->
						<div class="invoice-content">
							<!-- begin table-responsive -->
							<div class="table-responsive">
								<table class="table table-invoice">
									<thead>
										<tr>
											<th>DESCRIPTION</th>
											<th class="text-center">AMOUNT</th>
										</tr>
									</thead>
									<tbody>

									</tbody>
								</table>
							</div>
							<!-- end table-responsive -->
							<!-- begin invoice-price -->
							<div class="invoice-price">
								<div class="invoice-price-left">
									<!--  -->
								</div>
								<div class="invoice-price-right">
									<small>TOTAL</small> <span class="f-w-600" id="r_grandtotal"></span>
								</div>
							</div>
							<!-- end invoice-price -->
						</div>
						<!-- end invoice-content -->
						<!-- begin invoice-footer -->
						<div class="invoice-footer">
							<p class="text-center m-b-0 f-w-600">
								THANK YOU. HAVE A NICE DAY!
							</p>
							<p class="text-center">
								<span class="m-r-10"><i class="fa fa-fw fa-lg fas fa-phone-square"></i> (02) 414-3952</span>
								<span class="m-r-10"><i class="fa fa-fw fa-lg fas fa-envelope-square"></i> pupqc_cashier@gmail.com</span>
							</p>
						</div>
						<!-- end invoice-footer -->
					</div>
					<!-- end invoice -->
				</div>
			</div>
		</div>
	</div>
	<!-- end modal receipt -->
	<!-- #deposits -->
	<div class="modal fade" id="deposits">
		<div class="modal-dialog" style="max-width: 60%;">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Deposits</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<!-- begin card -->
					<div class="card text-center">
						<div class="card-header">
							<ul class="nav nav-pills card-header-pills">
								<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#card-pill-1">Pending</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#card-pill-2">For Remittance</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#card-pill-3">Deposited</a></li>
							</ul>
						</div>
						<div class="card-block">
							<div class="tab-content p-0 m-0">
								<div class="tab-pane fade active show" id="card-pill-1">
									<h4 class="card-title">Pending</h4>
									<div style="height: 380px;" class="overflow-auto">
										<table class="table table-hover" id="col-hist-table2" >
											<thead class="thead">
												<th width="2%"><input type="checkbox" name="col-hist-check-all" title="Check All" style="cursor: pointer;"/></th>
												<th class="text-nowrap">OR Number</th>
												<th class="text-nowrap">Client Name</th>
												<th class="text-nowrap">Assessed</th>
												<th class="text-nowrap">Collected</th>
												<th class="text-nowrap">Transaction Date</th>
											</thead>
											<tbody>
												<!-- append here -->
											</tbody>
											<tfoot class="text-center">
												<tr><td colspan="6"><span class="label label-inverse f-s-11">End of Results</span></td></tr>
											</tfoot>
										</table>
									</div>
								</div>
								<div class="pull-left">
									<a href="javascript:;" class="btn btn-xs btn-warning" id="pending_save"><i class="fas fa-save m-r-5"></i>Save</a>
								</div>
								<div class="pull-right">
									<span class="label label-danger">SIS PAYMENT</span>
									<span class="label label-primary">COMPANY</span>
									<span class="label label-success">ON-SITE STUDENT PAYMENT</span>
								</div>
								<div class="tab-pane fade" id="card-pill-2">
									<h4 class="card-title">Special title treatment 2</h4>
									<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
									<a href="javascript:;" class="btn btn-sm btn-success">Go somewhere</a>
								</div>
								<div class="tab-pane fade" id="card-pill-3">
									<h4 class="card-title">Special title treatment 3</h4>
									<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
									<a href="javascript:;" class="btn btn-sm btn-success">Go somewhere</a>
								</div>
							</div>
						</div>
					</div>
					<!-- end card -->
				</div>
			</div>
		</div>
	</div>

	<!-- ================== BEGIN BASE JS ================== -->
	{% include "views/layouts/includes/base_js.html" %}
	<!-- ================== END BASE JS ================== -->

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	{% block page-js %} 

	{% endblock %}
	<!-- ================== END PAGE LEVEL JS ================== -->
	{% block init %}

	{% endblock %}
	<script>
		$(window).on("load",function(){
			$(".loader-wrapper").fadeOut("slow");
		});
		$(document).ready(function() {
			gt_fname();
		});
		function gt_fname() {
			$.ajax({
				url: "{% url 'gt_fname' %}",
				type: "POST",
				data: {
					csrfmiddlewaretoken:"{{csrf_token}}"
				},
				success: function(fname) {
					$('.fname').text(fname);
					$('.side_name').text(fname);
				},
				error: function(xhr, status, error) {
					var errMsg = xhr.status + ': ' + xhr.statusText;
					swal({
						title: "Error!", 
						text: errMsg,
						type: "error",
						confirmButtonColor: "#428bca",
						showLoaderOnConfirm: true
					})
				}
			});
		};
		$('#deposit_but').on('click', function() {
			load_collection_history2(0);
			$('#deposits').modal('show');
		});
		function load_collection_history2(range) {
			$.ajax({
				type: "POST",
				url: "{% url 'load_collection_history' %}",
				// cache: true,
				dataType: 'json',
				data: {
					range: range,
					csrfmiddlewaretoken:"{{csrf_token}}"
				},
				success: function(obj) {
					$('#col-hist-table2 tbody tr').remove();
					for (var i = 0; i < obj.length; i++) {   
						var payor = obj[i][5] == 'SIS PAYMENT' ? 'danger' : obj[i][5] == 'COMPANY' ? 'primary' : 'success';
						$('#col-hist-table2 tbody').append(
							`<tr>
								<td><input type="checkbox" name="col-hist-check"/></td>
								<td class="text-nowrap"><span class="label label-${payor} f-s-12">${obj[i][0]}</span></td>
								<td class="text-nowrap">${obj[i][1]}</td>
								<td class="text-nowrap">${obj[i][2]}</td>
								<td>${obj[i][3]}</td>
								<td class="text-nowrap">${moment(new Date(obj[i][4])).format("MMM. DD, YYYY hh:mm:ss")}</td>
							</tr>`
						);
					};
				},
				error: function(xhr, status, error) {
					var errMsg = xhr.status + ': ' + xhr.statusText;
					swal({
						title: "Error!", 
						text: errMsg,
						type: "error",
						confirmButtonColor: "#428bca",
						showLoaderOnConfirm: true
					});
				}
			});
		};
		$('#deposits').on('hidden.bs.modal', function() {
			$('input[name="col-hist-check-all"]').prop('checked', false)
		});
	
		$('#col-hist-table2 tbody').on('click','tr', function() {
			var rowCheckBox = $(this).closest('tr').find('td:eq(0)').find('input[name="col-hist-check"]');
			if (rowCheckBox.prop('checked')) {
				rowCheckBox.prop('checked', false);
			}
			else {
				rowCheckBox.prop('checked', true);
			}
		});
	
		$('input[name="col-hist-check-all"]').on('change', function() {
			if ($('input[name="col-hist-check-all"]').prop('checked')) {
				$('input[name="col-hist-check"]').prop('checked', true);
			}
			else {
				$('input[name="col-hist-check"]').prop('checked', false);
			}
		});
		
	</script>
</body>
</html>
