{% extends "views/layouts/pages/main.html" %}
{% block title %}<title>CMS | Show Receipt</title>{% endblock %}
{% load static %}
{% block page-css %}
<link href="{%static 'assets/css/default/invoice-print.min.css' %}" rel="stylesheet" />
<style type="text/css" media="print">
    @page { size: landscape; }
    .hidden-print { display: none; }
</style>
{% endblock %}
{% block content %}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb hidden-print pull-right">
        <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Add Collection</a></li>
        <li class="breadcrumb-item active">Receipt</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header hidden-print">Collection Receipt <small>Payment Transaction</small></h1>
    <!-- end page-header -->
    
    <!-- begin invoice -->
    <div class="invoice">
        <!-- begin invoice-company -->
        <div class="invoice-company text-inverse f-w-600">
            <span class="pull-right hidden-print">
            <!-- <a href="javascript:;" class="btn btn-sm btn-white m-b-10 p-l-5 hidden-print"><i class="fa fa-file-pdf t-plus-1 text-danger fa-fw fa-lg"></i> Export as PDF</a> -->
            <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-white m-b-10 p-l-5 hidden-print"><i class="fa fa-print t-plus-1 fa-fw fa-lg text-warning"></i> Print</a>
            </span>
            Polytechnic University of the Philippines <br><small>Quezon City Branch</small>
        </div>
        <!-- end invoice-company -->
        <!-- begin invoice-header -->
        <div class="invoice-header">
            <div class="invoice-from">
                <small>OR Number</small>
                <address class="m-t-5 m-b-5">
                    <strong class="text-inverse">00000142579</strong><br />
                </address>
            </div>
            <div class="invoice-to">
                <small>Payor</small>
                <address class="m-t-5 m-b-5">
                    <strong class="text-inverse">SILLEZA, VAN ANTHONY</strong><br />
                    <div class="invoice-detail">2017-00293-CM-0</div>
                </address>
            </div>
            <div class="invoice-date">
                <small>Transaction Date</small>
                <div class="date text-inverse m-t-5">{% now "F j, Y" %}</div>
                <div class="invoice-detail">{% now "h:i:s a" %}</div>
            </div>
        </div>
        <!-- end invoice-header -->
        <!-- begin invoice-content -->
        <div class="invoice-content">
            <!-- begin table-responsive -->
            <div class="table-responsive">
                <table class="table table-invoice">
                    <thead>
                        <tr>
                            <th>PAYMENT NAME</th>
                            <th class="text-center" width="10%">AMOUNT</th>
                            <th class="text-center" width="10%">QUANTITY</th>
                            <th class="text-right" width="20%">LINE TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="text-inverse">Miscellaneous Fee</span><br />
                            </td>
                            <td class="text-center">₱425.75</td>
                            <td class="text-center"></td>
                            <td class="text-right">₱425.75</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-inverse">Permit Fee</span><br />
                            </td>
                            <td class="text-center">₱2,500.00</td>
                            <td class="text-center">1</td>
                            <td class="text-right">₱2,500.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- end table-responsive -->
            <!-- begin invoice-price -->
            <div class="invoice-price">
                <div class="invoice-price-left">

                </div>
                <div class="invoice-price-right bg-warning">
                    <small>TOTAL AMOUNT</small> <span class="f-w-600">₱2,925.75</span>
                </div>
            </div>
            <!-- end invoice-price -->
        </div>
        <!-- end invoice-content -->
        <!-- begin invoice-note -->
        <!-- <div class="invoice-note">
            * Make all cheques payable to [Your Company Name]<br />
            * Payment is due within 30 days<br />
            * If you have any questions concerning this invoice, contact  [Name, Phone Number, Email]
        </div> -->
        <!-- end invoice-note -->
        <!-- begin invoice-footer -->
        <div class="invoice-footer">
            <p class="text-center m-b-5 f-w-600">
                THANK YOU. HAVE A NICE DAY!
            </p>
            <p class="text-center">
                <span class="m-r-10"><i class="fa fa-fw fa-lg fas fa-phone-square"></i> (02) 414-3952</span>
                <span class="m-r-10"><i class="fa fa-fw fa-lg fas fa-envelope-square"></i> pupqc_cashier@gmail.com</span>
            </p>
        </div>
        <!-- end invoice-footer -->
    </div>
    <!-- end invoice -->
</div>
<!-- end #content -->
{% endblock %}
{% include "views/layouts/includes/base_js.css" %}
{% block init %}
<script>
    $(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}