{% extends "views/layouts/pages/main.html" %}
{% block title %}<title>CMS | SIS Payments</title>{% endblock %}
{% load static %}
{% block page-css %}
<link href="{%static 'assets/plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<!--  -->
<link href="{%static 'assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
<!--  -->
<link href="{%static 'assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/ionRangeSlider/css/ion.rangeSlider.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/password-indicator/css/password-indicator.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-combobox/css/bootstrap-combobox.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-tag-it/css/jquery.tagit.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css' %}" rel="stylesheet" />
<style>
    .nameBox {
        background-color: white !important;
        color: black;
        font-weight: bold !important;
    }
    .disabledInput {
        background-color: #D9534F !important;
        color: white !important;
        font-weight: bold !important;
    }
    div.dropdown-menu.open{
        max-height: 314px !important;
        overflow: hidden;
    }
    ul.dropdown-menu.inner{
        max-height: 260px !important;
        overflow-y: auto;
    }
</style>
<style type="text/css" media="print">
    .hidden-print {
        display: none; 
    }
</style>
{% endblock %}
{% block content %}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Collections</a></li>
        <li class="breadcrumb-item active"><a href="javascript:;">Add SIS Payments</a></li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Add SIS Payments</h1>
    <!-- end page-header -->
    <!-- begin card -->
    <div class="card text-left">
        <div class="card-header bg-inverse text-white">
            <i class="fas fa-laptop fa-lg m-r-5"></i>Add SIS Payments
        </div>
        <div class="card-block">
            <!-- begin panel -->
            <div class="panel panel-white m-b-0" style="margin-top: -10px;">
                <div class="panel-body">
                    <form class="form-horizontal" id="addForm" action="#" method="POST" data-parsley-excluded="input[type=hidden], :hidden" autocomplete="off">
                        <div class="row" style="position: relative;">
                            <div class="col-lg-6">
                                <div class="form-group row m-b-15 m-t-15">
                                    <label class="col-form-label col-md-3">OR Number :</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control m-b-5 f-s-12 disabledInput" data-parsley-required="true" data-parsley-required-message="OR number is required" id="or_num" onfocus="this.blur();" tabindex="-1"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row m-b-15 m-t-15">
                                    <label class="col-form-label col-md-3">Date :</label>
                                    <div class="col-md-9">
                                        <input type="text" value="{% now 'M. d, Y' %}" class="form-control m-b-5 f-s-12 disabledInput" data-parsley-required="true" data-parsley-required-message="Date is required" id="or_date" onfocus="this.blur();" tabindex="-1" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="position: relative;">
                            <div class="col-lg-6">
                                <div class="form-group row m-b-10">
                                    <label class="col-md-3 col-form-label">Payor :</label>
                                    <div class="col-md-6">
                                        <div class="radio radio-css">
                                            <input type="radio" name="radio_css" id="radiorequired" value="SIS Payment" checked />
                                            <label for="radiorequired" style="font-weight: bolder;">PUP SIS Payment</label>
                                        </div>                                   
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 individual">
                                <div class="form-group row m-b-15">
                                    <label class="col-form-label col-md-3 m-b-10">Name :</label>
                                    <div class="col-md-9">
                                        <input type="text" id="or_lname" style="text-transform: uppercase;" data-parsley-required="true" data-parsley-required-message="Lastname is required" class="form-control m-b-10 f-s-12 nameBox" onfocus="this.blur();" tabindex="-1"/>
                                    </div>
                                    <label class="col-form-label col-md-3 m-b-10">Location :</label>
                                    <div class="col-md-9">
                                        <input type="text" id="or_fname" style="text-transform: uppercase;" data-parsley-required="true" data-parsley-required-message="Firstname is required" class="form-control m-b-10 f-s-12 nameBox" onfocus="this.blur();" tabindex="-1"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 company" style="display: none; margin-bottom: 39px;">
                                <div class="form-group row m-b-15">
                                    <label class="col-form-label col-md-3">Company Name :</label>
                                    <div class="col-md-9">
                                        <input type="text" id="or_comp" style="text-transform: uppercase;" class="form-control m-b-5 f-s-12 nameBox" data-parsley-required="true" data-parsley-required-message="Company name is required"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="bg-black-transparent-2 m-t-1">
                        <div class="row">
                            <!-- begin col-5 -->
                            <div class="col-lg-5">
                                <!-- begin panel -->
                                <div class="panel">
                                    <div class="panel-body" style="border-radius: 5px;">
                                        <div class="form-group row m-b-15" style="margin-left: -10px;">
                                            <diV class="col-md-4"></diV>
                                            <div class="col-md-3.5 col-sm-3.5">
                                                <input class="m-r-5" type="checkbox" id="check_1" name="check" title="Check this if you only want to save the total amount."/><small>Total Only</small>
                                            </div>    
                                            <div class="col-md-4.5 col-sm-4.5">
                                                <input class="m-r-5" type="checkbox" id="check_2" name="check" title="Check this if you want to proceed with breakdown."/><small>With Breakdown</small>
                                            </div>                                          
                                        </div>
                                        <div class="form-group row m-b-15">
                                            <label class="col-md-4 col-sm-4 col-form-label">Income Type :</label>
                                            <div class="col-md-8 col-sm-8">
                                                <select class="form-control" data-dropup-auto="false" data-size="10" data-style="btn-white" id="inc-select" name="selectBox" data-parsley-excluded="true" on disabled>
                                                    <option value="SIS" selected disabled>SIS Payment</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row m-b-15">
                                            <label class="col-md-4 col-sm-4 col-form-label">Description :</label>
                                            <div class="col-md-8 col-sm-8">
                                                <select class="form-control" data-dropup-auto="false" data-size="10" data-live-search="true" data-style="btn-white" id="uacs_select" name="selectBox" data-parsley-excluded="true">
                                                    <option value="Please choose" selected disabled>Please choose</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row m-b-15" id="nature-div" style="display: none;">
                                            <label class="col-md-4 col-sm-4 col-form-label">Nature :</label>
                                            <div class="col-md-8 col-sm-8">
                                                <select class="form-control" data-dropup-auto="false" data-size="10" data-live-search="true" data-style="btn-white" id="nature-select" data-parsley-excluded="true">
                                                    <option value="Please choose" selected disabled>Please choose</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row m-b-15">
                                            <label class="col-md-4 col-sm-4 col-form-label" for="message">Amount :</label>
                                            <div class="col-md-8 col-sm-8">
                                                <input class="form-control" type="number" id="number" name="number" data-parsley-excluded="true" placeholder="Amount in peso"/>
                                            </div>
                                        </div>
                                        <div class="form-group row m-b-0">
                                            <label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
                                            <div class="col-md-8 col-sm-8">
                                                <button class="btn btn-primary btn-sm" id="particular"><i class="fa fa-plus-circle m-r-5"></i>Add Particulars</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end panel-body -->
                                </div>
                                <!-- end panel -->
                            </div>
                            <!-- end col-5 -->
                            <div class="col-lg-7" style="margin-top: -15px;">
                                <div class="panel">
                                    <!-- begin panel-heading -->

                                    <!-- end panel-heading -->
                                    <!-- begin panel-body -->
                                    <div class="panel-body" style="border-radius: 5px;">
                                        <table id="data-table-responsives" class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-nowrap">Income Type</th>
                                                    <th class="text-nowrap">Description</th>
                                                    <th class="text-nowrap">Nature</th>
                                                    <th class="text-nowrap">Amount</th>
                                                    <th style="max-width: 20px;" class="text-nowrap"></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <!-- end panel-body -->
                                </div>
                                <table class="pull-left" style="margin-top: -20px;">
                                    <tr>
                                        <td  style="padding-left: 15px;"></td>
                                        <td><b>Total Amount : </b></td>
                                        <td class="f-s-14">
                                            ₱ <span id="total-fee" class="label label-warning f-s-12">0.00</span>
                                        </td>
                                    </tr>
                                </table>
                                <table class="pull-right">
                                    <td>
                                        <a href="javascript:;" id="save" class="btn btn-success"><i class="fas fa-save m-r-5" id="save-icon"></i>Save Entry</a>
                                    </td>
                                </table>
                            </div>
                        </div>           
                    </form>
                </div>
            </div>
            <!-- end panel -->
        <div class="card-footer text-grey-darker f-s-10">

        </div>
        </div>
    </div>
    <!-- end card -->
</div>
<!-- end #content -->
{% endblock %}
{% include "views/layouts/includes/base_js.html" %}
{% block page-js %} 
<script src="{%static 'assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{%static 'assets/plugins/highlight/highlight.common.js' %}"></script>
<script src="{%static 'assets/js/demo/render.highlight.js' %}"></script>
<script src="{%static 'assets/plugins/masked-input/masked-input.min.js' %}"></script>
<!--  -->
<script src="{%static 'assets/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{%static 'assets/js/demo/table-manage-responsive.demo.min.js' %}"></script>
<!--  -->
<script src="{%static 'assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{%static 'assets/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{%static 'assets/plugins/masked-input/masked-input.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
<script src="{%static 'assets/plugins/password-indicator/js/password-indicator.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-combobox/js/bootstrap-combobox.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.js' %}"></script>
<script src="{%static 'assets/plugins/jquery-tag-it/js/tag-it.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-daterangepicker/moment.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{%static 'assets/plugins/select2/dist/js/select2.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-show-password/bootstrap-show-password.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js' %}"></script>
<script src="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js' %}"></script>
<script src="{%static 'assets/plugins/clipboard/clipboard.min.js' %}"></script>
<script src="{%static 'assets/js/demo/form-plugins.demo.min.js' %}"></script>
{% endblock %}
{% block init %}
<script>
    $(document).ready(function() {
        App.init();
        Highlight.init();
        TableManageResponsive.init();
        highlightSideNav();
        $('select').selectpicker('render');
        getCurrentORnum();
        getUacsCode();
        $('#or_lname').val('PUP');
        $('#or_fname').val('QUEZON CITY');
        $('#check_2').prop('checked', true);
    });

    function getUacsCode() {
        $.ajax({
            type: "POST",
            url: "{% url 'get_uacs_code_sis' %}",
            cache: false,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                $('#uacs_select').empty();
                $('#uacs_select').append(new Option('Please choose')).prop('selected', true);
                $('#uacs_select').find('option:selected').prop('disabled',true);
                $.each(obj, function(index, option){
                    if ($('#check_1').prop('checked')) { // if with_breakdown checkbox is checked
                        if (option[0] == '4 02 01 990 99 00034') {
                            $('#uacs_select').append( new Option(option[1], option[0])); //text and value
                        }
                    }
                    else {
                        if (option[0] != '4 02 01 990 99 00034') {
                            $('#uacs_select').append( new Option(option[1], option[0])); //text and value
                        }
                    }
                });
                $('#uacs_select').selectpicker('refresh');
                if ($('#check_1').prop('checked')) {
                    $('#uacs_select').val('4 02 01 990 99 00034').prop('disabled', true);
                    $('#uacs_select').selectpicker('refresh');
                }
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
    };
    function getCurrentORnum() {
        $.ajax({
            type: "POST",
            url: "{% url 'get_current_or' %}",
            cache: true,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                $('#or_num').val(obj[0].toString());
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
    };
    
    var getCurrentUserID;
    function callback(response) {
        getCurrentUserID = response;
    }
    $.ajax({
        url: "{% url 'get_session' %}",
        type: "POST",
        data: {
            csrfmiddlewaretoken:"{{csrf_token}}"
        },
        success: function(role_session) {
            callback(role_session)
        }
    });

    function saveCollection(or_num) {
        var assessed = parseFloat($('#r_grandtotal').text().substring(1).replace(/,/g,''));
        var collected = parseFloat($('#r_grandtotal').text().substring(1).replace(/,/g,''));
        var studno = '';
        var client = $('#r_name').text();
        var educ_level = $('#radiorequired').val();
        var userID = getCurrentUserID;
        $.ajax({
            type: "POST",
            url: "{% url 'insert_collection' %}",
            cache: true,
            dataType: 'json',
            data: {
                or_num: or_num,
                assessed: assessed,
                collected: collected,
                studno: studno,
                client: client,
                educ_level: educ_level,
                userID: userID,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                console.log(obj);
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: error,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
    };

    function saveCollectionBreakdown(or_num) {
        var dt_res = $('#data-table-responsives tbody');
        var dt_res_len = $('#data-table-responsives tbody tr').length;
        for (var i = 0; i < dt_res_len; i++) {
            var desc = dt_res.find('tr:eq('+ i +')').find('td:eq(1)').text();
            var nature = dt_res.find('tr:eq('+ i +')').find('td:eq(2)').text();
            var amt = dt_res.find('tr:eq('+ i +')').find('td:eq(3)').text();
            $.ajax({
                type: "POST",
                url: "{% url 'insert_collection_breakdown' %}",
                cache: true,
                dataType: 'json',
                data: {
                    or_num: or_num,
                    desc: desc,
                    nature: nature,
                    amt: amt,
                    csrfmiddlewaretoken:"{{csrf_token}}"
                },
                success: function(obj) {
                    console.log(obj);
                },
                error: function(xhr, status, error) {
                    var errMsg = xhr.status + ': ' + xhr.statusText;
                    swal({
                        title: "Error!", 
                        text: error,
                        type: "error",
                        confirmButtonColor: "#428bca",
                        showLoaderOnConfirm: true
                    })
                }
            });
        }
        return;
    };

    $('#check_1').on('change', function() {
        if ($('#check_1').prop('checked')) {
            $('#check_2').prop('checked', false);
            $('#inc-select').val('SIS').prop('disabled', true);
            $('#inc-select').selectpicker('refresh');
            getUacsCode();
            $('.remove').click();  
            $('#particular').prop('disabled', false);
        }
        else {
            $('#check_1').prop('checked', true);
        }
    });

    $('#check_2').on('change', function() {
        if ($('#check_2').prop('checked')) {
            $('#check_1').prop('checked', false);
            $('#uacs_select').prop('disabled', false);
            getUacsCode();
            $('.remove').click();   
            $('#particular').prop('disabled', false);         
        }
        else {
            $('#check_2').prop('checked', true);
        }
    });

    $('#inc-select').on('change', function() {
        getUacsCode();
    });

    $("#save").on('click', function() { //save entry is clicked
        $('#addForm').parsley();
        if ($('#addForm').parsley().validate()) {
            $('#save-icon').removeClass('fa-save');
            $('#save-icon').addClass('fa-spinner fa-pulse');
            no_err_when_save_collection();
        }
    });

    function no_err_when_save_collection() {
        if ($('#data-table-responsives tbody tr').length > 0) {
            $('#receipt').modal('show');
            var dt_res = $('#data-table-responsives tbody');
            var dt_res_len = $('#data-table-responsives tbody tr').length;
            for (i = 0; i < dt_res_len; i++) {
                $('.table-invoice tbody').append(
                    `<tr>
                        <td>
                            <span class="text-inverse" id="r_desc">${dt_res.find('tr:eq('+ i +')').find('td:eq(1)').text() + (dt_res.find('tr:eq('+ i +')').find('td:eq(2)').text() != '' ? ' ('+dt_res.find('tr:eq('+ i +')').find('td:eq(2)').text()+')' : '')}</span><br />
                        </td>
                        <td class="text-center" id="r_amount">${dt_res.find('tr:eq('+ i +')').find('td:eq(3)').text()}</td>
                    </tr>`
                );
            }

            $('#r_ornum').text($('#or_num').val());
            var fullname = $('#or_lname').val()+', '+$('#or_fname').val();
            $('#r_name').text(fullname.toUpperCase());
            $('#r_studnum').text('');
            $('#r_date').text($('#or_date').val());
            var dt = new Date();
            var hrs = dt.getHours();
            var mins = dt.getMinutes();
            var ampm = (hrs >= 12) ? "PM" : "AM";
            var time = (hrs % 12 || 12) + ":" + ((mins<10?'0':'') + mins) + ' ' + ampm;
            $('#r_time').text(time);
            $('#r_grandtotal').text('₱'+$('#total-fee').text().toString()).delay(2000).queue(function() {
                if ($('#check_1').prop('checked')) {
                    saveCollection($('#or_num').val());
                }
                else {
                    saveCollection($('#or_num').val());
                    saveCollectionBreakdown($('#or_num').val());
                }
                $(this).dequeue();
            });
        }
        else {
            $('#save-icon').removeClass('fa-spinner fa-pulse');
            $('#save-icon').addClass('fa-save');
            swal({
                title: "No Payment Added", 
                text: "Please add particular fees to generate a receipt.",
                type: "info",
                confirmButtonColor: "#428bca",
                showLoaderOnConfirm: true
            });
        }
    };

    $('#receipt').on('hidden.bs.modal', function (e) { //when receipt modal is closed
        $('.table-invoice tbody tr').remove();
        $('#or_num').val(getCurrentORnum());
        $('#total-fee').text(parseFloat('0').toFixed(2));
        $('#uacs_select').val('Please choose');
        $('#uacs_select').selectpicker('refresh');
        $('#number').val('');
        $('#number').removeClass('is-invalid');
        $('#data-table-responsives tbody tr').remove();
        $('#save-icon').removeClass('fa-spinner fa-pulse');
        $('#save-icon').addClass('fa-save');
        $('#check_1').prop('checked', false);
        $('#check_2').prop('checked', true).trigger('change');
        setTimeout(function() {
            window.location = "{% url 'dashboard' %}";
        },500);
    });

    var total_fee = 0;
    var minus_fee = '';
    $('#particular').on('click', function(e) {
        e.preventDefault();
        var tot_fee_txt = $('#total-fee').text();
        var init_tot_fee = parseFloat(tot_fee_txt);
        var inctype = $('#inc-select').find('option:selected').text();
        var uacs = $('#uacs_select').find('option:selected').text();
        var nature = $('#nature-select').find('option:selected').text() == 'Please choose' ? '' : $('#nature-select').find('option:selected').text();
        var amt = parseFloat($('#number').val());
        var amtBox = $('#number').val().trim();
        if ($('#inc-select').find('option:selected').text() == 'Please choose' || $('#uacs_select').find('option:selected').text() == 'Please choose') {
            if ($('#inc-select').find('option:selected').text() == 'Please choose') {
                $('#inc-select').addClass('is-invalid');
            }
            if ($('#uacs_select').find('option:selected').text() == 'Please choose') {
                $('#uacs_select').addClass('is-invalid');
            }
            if (amtBox == '' && amtBox.length == 0) {
                $('#number').addClass('is-invalid');
            }
        }
        else {
            $('#inc-select').removeClass('is-invalid');
            $('#uacs_select').removeClass('is-invalid');
            if (amtBox != '' && amtBox.length != 0) {
                if ($('#check_2').prop('checked') || ($('#check_1').prop('checked') && $('#data-table-responsives tbody tr').length == 0)) { // if total only is checked and table row count == 0;
                    $('#number').removeClass('is-invalid');
                    $('#data-table-responsives tbody').append(
                        `<tr>
                            <td class="text-nowrap">
                                <span class="label label-default f-s-12">${inctype}</span>
                            </td>
                            <td class="f-s-12">${uacs}</td>
                            <td class="f-s-12">${nature}</td>
                            <td>${amt.toFixed(2)}</td>
                            <td align="center">
                                <a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm remove" title="remove"><i class="fas fa-times"></i></a>
                            </td>
                        </tr>`
                    );
                    total_fee = init_tot_fee + parseFloat(amt);
                    $('#total-fee').text(parseFloat(total_fee).toFixed(2));
                    if (!$('#check_1').prop('checked')) { // if "total only" radio is not checked
                        $('#uacs_select').selectpicker('val','Please choose');
                        $('#nature-select').selectpicker('val','Please choose');
                    }
                    else {
                        $('#particular').prop('disabled', true);
                    }
                    $('#number').val('');
                    $('#nature-div').hide();
                }
                else if($('#check_1').prop('checked') && $('#data-table-responsives tbody tr').length > 0) {
                    swal({
                        title: "Invalid Action", 
                        text: "You can only add 1 particular if \"Total Only\" is checked.",
                        type: "info",
                        confirmButtonColor: "#428bca",
                        showLoaderOnConfirm: true
                    });
                }
            }
            else {
                $('#number').addClass('is-invalid');
            }
        }
    });
    $('#inc-select').on('change', function() {
        if ($('#inc-select').find('option:selected').text() == 'Please choose') {
            $('#inc-select').addClass('is-invalid');
        }
        else {
            $('#inc-select').removeClass('is-invalid');
        }
    });
    $('#uacs_select').on('change', function() {
        if ($('#uacs_select').val() == 'Please choose') {
            $('#uacs_select').addClass('is-invalid');
        }
        else {
            $('#uacs_select').removeClass('is-invalid');
            var uacs = $('#uacs_select').val();
            $.ajax({
                type: "POST",
                url: "{% url 'load_nature_col' %}",
                cache: true,
                dataType: 'json',
                data: {
                    uacs: uacs,
                    csrfmiddlewaretoken:"{{csrf_token}}"
                },
                success: function(obj) {
                    if (obj.length != 0) {
                        $('#nature-div').show();
                        $('#nature-select').empty();
                        $('#nature-select').append(new Option('Please choose')).select();
                        $('#nature-select').find('option:selected').prop('disabled',true);                
                        $.each(obj, function(index, option){
                            $('#nature-select').append( new Option(option[0],option[0])); //text and value
                        });
                        $('#nature-select option').prop('style', 'font-size: 11px;');
                        $('#nature-select').selectpicker('refresh');
                    }
                    else {
                        $('#nature-div').hide();
                    }
                },
                error: function(xhr, status, error) {
                    var errMsg = xhr.status + ': ' + xhr.statusText;
                    swal({
                        title: "Error!", 
                        text: errMsg,
                        type: "error",
                        confirmButtonColor: "#428bca",
                        showLoaderOnConfirm: true
                    })
                }
            }); 
        }
    });
    $('#number').on('input', function() {
        if ($('#number').val().trim().length == 0) {
            $('#number').addClass('is-invalid');
        }
        else {
            $('#number').removeClass('is-invalid');
        }
    });

    $('#data-table-responsives tbody').on('click', '.remove', function() {
        minus_fee = $(this).closest('tr').find('td:eq(3)').html();
        total_fee = total_fee - parseFloat(minus_fee);
        $('#total-fee').text(total_fee.toFixed(2));
        $(this).closest('tr').remove();
        $('#particular').prop('disabled', false);
    });

    function highlightSideNav() {
        $('#li-dash').removeClass('text-white');
        $('#add-col-caret').click();
        $('#add-col-caret').addClass('text-white');
        $('#add-col').removeClass('text-white');
        $('#add-sis').addClass('text-white');
        $('#view-rec-caret').removeClass('text-white');
        $('#view-rec').removeClass('text-white');
        $('#trans-log').removeClass('text-white');
        $('#view-sis').removeClass('text-white');
        $('#col-rep-caret').removeClass('text-white');
        $('#acct-forms').removeClass('text-white');
        $('#mon-col').removeClass('text-white');
        $('#sum-col').removeClass('text-white');
        $('#cash-receipt').removeClass('text-white');
        $('#pending_but').removeClass('text-white');
        $('#deposited_but').removeClass('text-white');
    };
</script>
{% endblock %}