{% extends 'views/layouts/pages/trans_log_main.html' %}
{% block title %} 
<title>CMS | Transaction Log</title>
{% endblock %}
{% load static %}
{% block page-css %}
<style>
    .table thead th {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 1;
        background-color: white;
    }
    #col-hist-table2 {
        cursor: pointer;
    }
    .input-daterange { 
        z-index: 1000;
    }
</style>
<link href="{%static 'assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/ionRangeSlider/css/ion.rangeSlider.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/password-indicator/css/password-indicator.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-combobox/css/bootstrap-combobox.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-tag-it/css/jquery.tagit.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">View Records</a></li>
        <li class="breadcrumb-item active">Transaction Log</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header m-b-10">Transaction Log <small>View Transaction History</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-lg-12">
            <!-- begin card -->
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#card-pill-1">Collection</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#card-pill-2">Deposit</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#card-pill-3">Account</a></li> -->
                    </ul>
                </div>
                <!-- begin card-block -->
                <div class="card-block">
                    <div class="tab-content p-0 m-0">
                        <!-- begin #card-pill-1 -->
                        <div class="tab-pane fade active show" id="card-pill-1">
                            <!-- begin row -->
                            <div class="row">
                                <!-- begin col-12 -->
                                <div class="col-lg-12">
                                    <h4 class="card-title">Collection Log</h4>
                                </div>
                                <!-- end col-12 -->
                            </div>
                            <!-- end row -->
                            <!-- begin row -->
                            <div class="row">
                                <!-- begin col-8 -->
                                <div class="col-lg-6" style="margin-top: 15px;">
                                    <span id="all-badge" class="badge badge-purple f-s-11 m-r-5" style="cursor: pointer;">
                                        All
                                    </span>
                                    <span id="sis-badge" class="badge badge-danger f-s-11 m-r-5" style="cursor: pointer;">
                                        SIS Payment
                                    </span>
                                    <span id="stud-badge" class="badge badge-success f-s-11 m-r-5" style="cursor: pointer;">
                                        Student
                                    </span>
                                    <span id="non-badge" class="badge badge-warning f-s-11 m-r-5" style="cursor: pointer;">
                                        Non-Student
                                    </span>
                                    <span id="comp-badge" class="badge badge-primary f-s-11 m-r-5" style="cursor: pointer;">
                                        Company
                                    </span>
                                </div>
                                <!-- end col-8 -->
                                <!-- begin col-4 -->
                                <div class="col-lg-1">

                                </div>
                                <!-- end col-4 -->
                                <!-- begin col-4 -->
                                <div class="col-lg-5 m-b-5">
                                    <div class="input-group input-daterange">
                                        <input type="text" class="form-control" id="startDate" name="start" placeholder="Date Start" autocomplete="off" />
                                        <span class="input-group-addon">to</span>
                                        <input type="text" class="form-control" id="endDate" name="end" placeholder="Date End" autocomplete="off" />
                                    </div>
                                </div>
                                <!-- end col-4 -->
                            </div>
                            <!-- end row -->
                            <div class="overflow-auto">
                                <table class="table table-striped table-bordered" id="col-hist-table"> 
                                    <thead class="thead">
                                        <th class="text-nowrap">OR Number</th>
                                        <th class="text-nowrap">Client Name</th>
                                        <th class="text-nowrap">Collected</th>
                                        <th class="text-nowrap">Transaction Date</th>
                                    </thead>
                                    <tbody>
                                        <!-- append here -->
                                    </tbody>
                                    <tfoot class="text-center">
                                        <tr>
                                            <td colspan="5">
                                                <span class="label label-inverse f-s-11">End of Results</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <span class="label label-purple f-s-11 pull-left">
                                    Total Results: <span id="table-count"></span>
                                </span>
                            </div>
                        </div>
                        <!-- end #card-pill-1 -->
                        <!-- begin #card-pill-2 -->
                        <!-- <div class="tab-pane fade" id="card-pill-2">
                            <h4 class="card-title">Deposit Log</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="javascript:;" class="btn btn-sm btn-success">Go somewhere</a>
                        </div> -->
                        <!-- end #card-pill-2 -->
                        <!-- begin #card-pill-3 -->
                        <!-- <div class="tab-pane fade" id="card-pill-3">
                            <h4 class="card-title">Account Log</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="javascript:;" class="btn btn-sm btn-success">Go somewhere</a>
                        </div> -->
                        <!-- end card-pill-3 -->
                    </div>
                </div>
                <!-- end card-block -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
{% endblock %}
{% block page-js %}
<script src="{%static 'assets/plugins/sparkline/jquery.sparkline.js' %}"></script>
<script src="{%static 'assets/plugins/jquery-knob/js/jquery.knob.js' %}"></script>
<script src="{%static 'assets/js/demo/page-with-two-sidebar.demo.min.js' %}"></script>
<!--  -->
<script src="{%static 'assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{%static 'assets/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{%static 'assets/plugins/masked-input/masked-input.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
<script src="{%static 'assets/plugins/password-indicator/js/password-indicator.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-combobox/js/bootstrap-combobox.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.js' %}"></script>
<script src="{%static 'assets/plugins/jquery-tag-it/js/tag-it.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-daterangepicker/moment.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{%static 'assets/plugins/select2/dist/js/select2.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-show-password/bootstrap-show-password.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js' %}"></script>
<script src="{%static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js' %}"></script>
<script src="{%static 'assets/plugins/clipboard/clipboard.min.js' %}"></script>
<script src="{%static 'assets/js/demo/form-plugins.demo.min.js' %}"></script>
{% endblock %}
{% block init %}
<script>
    $(document).ready(function() {
        App.init();
        PageWithTwoSidebar.init();
        FormPlugins.init();
        highlightSideNav();
        var d = new Date();
        var code = 'ALL'
        var d_today = d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + d.getDate();
        load_collection_history(d_today, d_today, code);
    });

    function load_collection_history(date_start, date_end, code) {
        $.ajax({
            type: "POST",
            url: "{% url 'load_collection_history' %}",
            cache: false,
            dataType: 'json',
            data: {
                date_start: date_start,
                date_end: date_end,
                code: code,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                $('#col-hist-table tbody tr').remove();
                for (var i = 0; i < obj.length; i++) {   
                    var payor = obj[i][5] == 'SIS PAYMENT' ? 'danger' : obj[i][5] == 'COMPANY' ? 'primary' : obj[i][5] == 'NON-STUDENT' ? 'warning' : 'success';
                    var title = payor == 'danger' ? 'SIS Payment' : payor == 'primary' ? 'Company' : payor == 'warning' ? 'Non-Student' : 'Student';
                    var dummyClass = payor.substr(0,2);
                    $('#col-hist-table tbody').append(
                        `<tr>
                            <td class="${dummyClass}"><span class="label label-${payor} f-s-12" title="${title}" style="cursor: pointer;">${obj[i][0]}</span></td>
                            <td class="text-nowrap">${obj[i][1]}</td>
                            <td class="text-nowrap text-right">${obj[i][3]}</td>
                            <td class="text-nowrap">${moment(new Date(obj[i][4])).format("MMM. DD, YYYY hh:mm:ss")}</td>
                        </tr>`
                    );
                };
                $('#table-count').text($('#col-hist-table tbody tr').length);
                loadKnobData();
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                });
            }
        });
    };

    $('#startDate').on('change', function(event) {
        if ($('endDate').val() != '') {
            var start = moment(new Date($('#startDate').val())).format('YYYY/MM/DD');
            var end = moment(new Date($('#endDate').val())).format('YYYY/MM/DD');
            load_collection_history(start,end,'ALL');
        }
    });

    $('#endDate').on('change', function(event) {
        if ($('startDate').val() != '') {
            var start = moment(new Date($('#startDate').val())).format('YYYY/MM/DD');
            var end = moment(new Date($('#endDate').val())).format('YYYY/MM/DD');
            load_collection_history(start,end,'ALL');
        }
    });

    $('#sis-badge').on('click', function() {
        var start = moment(new Date($('#startDate').val())).format('YYYY/MM/DD');
        var end = moment(new Date($('#endDate').val())).format('YYYY/MM/DD');
        load_collection_history(start,end,$('#sis-badge').text().trim());
    });

    $('#stud-badge').on('click', function() {
        var start = moment(new Date($('#startDate').val())).format('YYYY/MM/DD');
        var end = moment(new Date($('#endDate').val())).format('YYYY/MM/DD');
        load_collection_history(start,end,$('#stud-badge').text().trim());
    });

    $('#non-badge').on('click', function() {
        var start = moment(new Date($('#startDate').val())).format('YYYY/MM/DD');
        var end = moment(new Date($('#endDate').val())).format('YYYY/MM/DD');
        load_collection_history(start,end,$('#non-badge').text().trim());
    });

    $('#comp-badge').on('click', function() {
        var start = moment(new Date($('#startDate').val())).format('YYYY/MM/DD');
        var end = moment(new Date($('#endDate').val())).format('YYYY/MM/DD');
        load_collection_history(start,end,$('#comp-badge').text().trim());
    });

    $('#all-badge').on('click', function() {
        var start = moment(new Date($('#startDate').val())).format('YYYY/MM/DD');
        var end = moment(new Date($('#endDate').val())).format('YYYY/MM/DD');
        load_collection_history(start,end,'ALL');
    });

    function loadKnobData() {
        var rows = $('#col-hist-table tbody tr').length;
        var knob_on_site = 0;
        var knob_sis = 0;
        var knob_non = 0;
        var knob_company = 0;
        var knob_total = 0;
        var total_on_site = 0;
        var total_company = 0;
        var total_sis = 0;
        var total_non = 0;
        var total_collection = 0;
        for (var i = 0; i < rows; i++) {
            if ($('#col-hist-table tbody').find('tr:eq('+i+')').find('td:eq(0)').attr('class') == 'su') {
                knob_on_site++;
                var temp = $('#col-hist-table tbody').find('tr:eq('+i+')').find('td:eq(3)').html();
                total_on_site += parseFloat(temp);
            }  
            else if ($('#col-hist-table tbody').find('tr:eq('+i+')').find('td:eq(0)').attr('class') == 'pr') {
                knob_company++;
                var temp = $('#col-hist-table tbody').find('tr:eq('+i+')').find('td:eq(3)').html();
                total_company += parseFloat(temp);
            }
            else if ($('#col-hist-table tbody').find('tr:eq('+i+')').find('td:eq(0)').attr('class') == 'da') {
                knob_sis++;
                var temp = $('#col-hist-table tbody').find('tr:eq('+i+')').find('td:eq(3)').html();
                total_sis += parseFloat(temp);
            }
            else if ($('#col-hist-table tbody').find('tr:eq('+i+')').find('td:eq(0)').attr('class') == 'wa') {
                knob_non++;
                var temp = $('#col-hist-table tbody').find('tr:eq('+i+')').find('td:eq(3)').html();
                total_non += parseFloat(temp);
            }
        }
        total_collection = total_on_site + total_company + total_sis + total_non;
        $('#knob-on-site').val(knob_on_site);
        $('#knob-company').val(knob_company);
        $('#knob-sis').val(knob_sis);
        $('#knob-non').val(knob_non);
        // 
        $('#total-on-site').text('₱' + total_on_site.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#total-company').text('₱' + total_company.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#total-sis').text('₱' + total_sis.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#total-non').text('₱' + total_non.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#total-collection').text('₱' + total_collection.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    };

    function highlightSideNav() {
        $('#li-dash').removeClass('text-white');
        $('#add-col-caret').removeClass('text-white');
        $('#add-col').removeClass('text-white');
        $('#add-sis').removeClass('text-white');
        $('#view-rec-caret').click();
        $('#view-rec-caret').addClass('text-white');
        $('#view-rec').removeClass('text-white');
        $('#trans-log').addClass('text-white');
        $('#view-sis').removeClass('text-white');
        $('#col-rep-caret').removeClass('text-white');
        $('#acct-forms').removeClass('text-white');
        $('#cert').removeClass('text-white');
        $('#mon-col').removeClass('text-white');
        $('#sum-col').removeClass('text-white');
        $('#cash-receipt').removeClass('text-white');
        $('#deposit_but').removeClass('text-white');
    };
</script>
{% endblock %}
