{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	{% block title %}<title>CMS | Dashboard</title>{% endblock %}
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link rel="icon" href="{%static 'assets/img/logo/PUPLogo.png' %}" type="image/png">
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	{% include "views/layouts/includes/base_css.html" %}
	<!-- ================== END BASE CSS STYLE ================== -->
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<style type="text/css" media="print">
		.hidden-print {
			display: none; 
		}
	</style>
	{% block page-css %} {% endblock %}
	<!-- ================== END PAGE LEVEL STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container --> 
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed hidden-print page-with-two-sidebar"> 
		<!-- begin #header -->
		<div id="header" class="header navbar-default">
			<!-- begin navbar-header -->
			<div class="navbar-header">
				<a href="{% url 'dashboard' %}" class="navbar-brand"><span><img src="{%static 'assets/img/logo/PUPLogo.jpg' %}" style="max-width: 30px; max-height: 30px; margin-right: 10px;"/></span><b>PUPQC</b> CMS</a>
				<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- end navbar-header -->
			
			<!-- begin header-nav -->
			<ul class="navbar-nav navbar-right">
				<li class="dropdown navbar-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<img src="{%static 'assets/img/user/maam_meg.jpg' %}" alt="" /> 
						<span class="d-none d-md-inline fname"></span> <b class="caret"></b>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="#request" class="dropdown-item" data-toggle="modal"><i class="fas fa-user-secret m-r-5"></i>Request</a>
						<div class="dropdown-divider"></div>
						<a href="{% url 'email' %}" class="dropdown-item"><i class="fas fa-envelope m-r-5"></i>Email</a>
						<div class="dropdown-divider"></div>
						<a href="{% url 'change_pass' %}" class="dropdown-item"><i class="fas fa-key m-r-5"></i>Account</a>
						<div class="dropdown-divider"></div>
						<a href="{% url 'logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt m-r-5"></i>Log Out</a>
					</div>
				</li>
			</ul>
			<!-- end header navigation right -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		{% include "views/layouts/sidenav/side_navbar_two.html" %}
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		{% block content %} {% endblock %}
		<!-- end #content -->
		
		<!-- begin #footer -->
		<div id="footer" class="footer hidden-print">
		    &copy; {% now "Y" %} All Rights Reserved - PUPQC Cashier Management System
		</div>
		<!-- end #footer -->
		
        <!-- begin theme-panel -->

        <!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	<!-- begin modal #request -->
	<div class="modal fade" id="request">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Request</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">

				</div>
			</div>
		</div>
	</div>
	<!-- end modal #request -->
	<!-- begin modal receipt -->
	<div class="modal fade" id="receipt">
		<div class="modal-dialog" style="max-width: 40%;">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"></h4>
					<button type="button" class="close hidden-print" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<!-- begin invoice -->
					<div class="invoice">
						<!-- begin invoice-company -->
						<div class="invoice-company text-inverse f-w-600">
							<span class="pull-right hidden-print">
							<a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-white m-b-10 p-l-5 hidden-print" id="print_receipt"><i class="fas fa-print t-plus-1 fa-fw fa-lg m-r-5 text-warning"></i>Print</a>
							</span>
							Polytechnic University of the Philippines <br><small>Quezon City Branch</small>
						</div>
						<!-- end invoice-company -->
						<!-- begin invoice-header -->
						<div class="invoice-header">
							<div class="invoice-from">
								<small>OR Number</small>
								<address class="m-t-5 m-b-5">
									<strong class="text-inverse" id="r_ornum">00000142579</strong><br />
								</address>
							</div>
							<div class="invoice-to">
								<small>Payor</small>
								<address class="m-t-5 m-b-5">
									<strong class="text-inverse" id="r_name">LASTNAME, FIRSTNAME M.</strong><br />
									<div class="invoice-detail" id="r_studnum">2017-00293-CM-0</div>
								</address>
							</div>
							<div class="invoice-date">
								<small>Transaction Date</small>
								<div class="date text-inverse m-t-5" id="r_date">{% now "F j, Y" %}</div>
								<div class="invoice-detail" id="r_time">{% now "h:i:s a" %}</div>
							</div>
						</div>
						<!-- end invoice-header -->
						<!-- begin invoice-content -->
						<div class="invoice-content">
							<!-- begin table-responsive -->
							<div class="table-responsive">
								<table class="table table-invoice">
									<thead>
										<tr>
											<th>DESCRIPTION</th>
											<th class="text-center">AMOUNT</th>
										</tr>
									</thead>
									<tbody>

									</tbody>
								</table>
							</div>
							<!-- end table-responsive -->
							<!-- begin invoice-price -->
							<div class="invoice-price">
								<div class="invoice-price-left">
									<!--  -->
								</div>
								<div class="invoice-price-right">
									<small>TOTAL</small> <span class="f-w-600" id="r_grandtotal"></span>
								</div>
							</div>
							<!-- end invoice-price -->
						</div>
						<!-- end invoice-content -->
						<!-- begin invoice-footer -->
						<div class="invoice-footer">
							<p class="text-center m-b-0 f-w-600">
								THANK YOU. HAVE A NICE DAY!
							</p>
							<p class="text-center">
								<span class="m-r-10"><i class="fa fa-fw fa-lg fas fa-phone-square"></i> (02) 414-3952</span>
								<span class="m-r-10"><i class="fa fa-fw fa-lg fas fa-envelope-square"></i> pupqc_cashier@gmail.com</span>
							</p>
						</div>
						<!-- end invoice-footer -->
					</div>
					<!-- end invoice -->
				</div>
			</div>
		</div>
	</div>
	<!-- end modal receipt -->
	<!-- ================== BEGIN BASE JS ================== -->
	{% include "views/layouts/includes/base_js.html" %}
	<!-- ================== END BASE JS ================== -->

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	{% block page-js %} 

	{% endblock %}
	<!-- ================== END PAGE LEVEL JS ================== -->
	{% block init %}

	{% endblock %}
	<script>
		$(window).on("load",function(){
			$(".loader-wrapper").fadeOut("slow");
		});
		$(document).ready(function() {
			gt_fname();
			gt_profile_img();
		});
		function gt_fname() {
			$.ajax({
				url: "{% url 'gt_fname' %}",
				type: "POST",
				data: {
					csrfmiddlewaretoken:"{{csrf_token}}"
				},
				success: function(fname) {
					$('.fname').text(fname);
					$('.side_name').text(fname);
				},
				error: function(xhr, status, error) {
					var errMsg = xhr.status + ': ' + xhr.statusText;
					swal({
						title: "Error!", 
						text: errMsg,
						type: "error",
						confirmButtonColor: "#428bca",
						showLoaderOnConfirm: true
					})
				}
			});
		};

		function gt_profile_img() {
			$.ajax({
				url: "{% url 'gt_profile_img' %}",
				type: "POST",
				data: {
					csrfmiddlewaretoken:"{{csrf_token}}"
				},
				success: function(obj) { 
					$('#cashier-sidenav-img').prop('src', "{%static 'assets/img/uploads/profile_pictures/' %}" + obj);
					$('#cashier-topnav-img').prop('src', "{%static 'assets/img/uploads/profile_pictures/' %}" + obj);
				},
				error: function(xhr, status, error) {
					var errMsg = xhr.status + ': ' + xhr.statusText;
					swal({
						title: "Error!", 
						text: errMsg,
						type: "error",
						confirmButtonColor: "#428bca",
						showLoaderOnConfirm: true
					})
				}
			});
		};

	    $('#add-stud-but').on('click', function() {
	        $('#add-stud-form').parsley();
	        if ($('#add-stud-form').parsley().validate()) {
				$('#add-stud-but-icon').removeClass('fa-plus-circle');
				$('#add-stud-but-icon').addClass('fa-spinner fa-pulse');
	        	var studno = $('#studno').val().trim();
	        	if (studno.length > 0) {
	        		addStudentWithStudno();
	        	}
	        	else {
	        		addStudentWithoutStudno();
	        	}

	        };
	    });

	    function addStudentWithStudno() {
	    	var studno = $('#studno').val().trim();
	    	var fname = $.trim($('#fname').val()).toUpperCase();
	    	var mname = $.trim($('#mname').val()).toUpperCase();
	    	var lname = $.trim($('#lname').val()).toUpperCase();
	    	var course = $('#course').val().trim();
	    	var yr = $('#yr').val().trim();
	    	var sec = $('#sec').val().trim();

	    	swal({
                title: "Add Student",
                text: "Are you sure to add this student?",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#428bca",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: false,
                closeOnCancel: true,
                customClass: "Custom_Cancel"
	    	},
	    	function(isConfirm) {
	    		if (isConfirm) {
		        	$.ajax({
					url: "{% url 'add_student_with_studno' %}",
					type: "POST",
					data: {
						studno: studno,
						fname: fname,
						mname: mname,
						lname: lname,
						course: course,
						yr: yr,
						sec: sec,
						csrfmiddlewaretoken:"{{csrf_token}}"
					},
					success: function(obj) {
	                    swal({
	                        title: "Added Successfully", 
	                        text: 'You have added ' + studno + ' to the student list.',
	                        type: "success",
	                        confirmButtonColor: "#428bca",
	                        showLoaderOnConfirm: true
	                    },
	                    function(isConfirm){
	                        if (isConfirm){
								$('#add-stud-but-icon').removeClass('fa-spinner fa-pulse');
								$('#add-stud-but-icon').addClass('fa-plus-circle');
	                            $('#add_student').modal('hide');
	                        }
	                    })
					},
					error: function(xhr, status, error) {
						var errMsg = xhr.statusText;
						swal({
							title: "An error occured", 
							text: errMsg,
							type: "error",
							confirmButtonColor: "#428bca",
							showLoaderOnConfirm: true
						}, function(isConfirm) {
							$('#add-stud-but-icon').removeClass('fa-spinner fa-pulse');
							$('#add-stud-but-icon').addClass('fa-plus-circle');
						});
					}
				});
	    		}
	    	});
	    };

	    function addStudentWithoutStudno() {
	    	var fname = $.trim($('#fname').val()).toUpperCase();
	    	var mname = $.trim($('#mname').val()).toUpperCase();
	    	var lname = $.trim($('#lname').val()).toUpperCase();
	    	var course = $('#course').val().trim();
	    	var yr = $('#yr').val().trim();
	    	var sec = $('#sec').val().trim();

	    	swal({
                title: "Add Student",
                text: "Are you sure to add this student?",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#428bca",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: false,
                closeOnCancel: true,
                customClass: "Custom_Cancel"
	    	},
	    	function(isConfirm) {
	    		if (isConfirm) {
		        	$.ajax({
						url: "{% url 'add_student_without_studno' %}",
						type: "POST",
						data: {
							fname: fname,
							mname: mname,
							lname: lname,
							course: course,
							yr: yr,
							sec: sec,
							csrfmiddlewaretoken:"{{csrf_token}}"
						},
						success: function(obj) {
							var name = mname == '' ? fname + ' ' + lname : fname + ' ' + mname + ' ' + lname;
		                    swal({
		                        title: "Added Successfully", 
		                        text: 'You have added ' + name + ' to the student list.',
		                        type: "success",
		                        confirmButtonColor: "#428bca",
		                        showLoaderOnConfirm: true
		                    },
		                    function(isConfirm){
		                        if (isConfirm){
									$('#add-stud-but-icon').removeClass('fa-spinner fa-pulse');
									$('#add-stud-but-icon').addClass('fa-plus-circle');
		                            $('#add_student').modal('hide');
		                        }
		                    })
						},
						error: function(xhr, status, error) {
							var errMsg = xhr.status + ': ' + xhr.statusText;
							swal({
								title: "Error!", 
								text: errMsg,
								type: "error",
								confirmButtonColor: "#428bca",
								showLoaderOnConfirm: true
							}, function(isConfirm) {
								$('#add-stud-but-icon').removeClass('fa-spinner fa-pulse');
								$('#add-stud-but-icon').addClass('fa-plus-circle');
							});
						}
					});
	    		}
	    	});
	    };

	    $('#add_student').on('hidden.bs.modal', function() {
			$('#navvy').click();
	        $('#add-stud-form').parsley().reset();
	        $('.addstud').val('');
	    });

        $('#studno').on('focusin', function() {
	        $('#studno').mask('9999-99999-CM-9'); //masked input for student number
	    });

	    $('#course').on('keyup', function(e) {
	    	if (e.which == 8 && $('#course').val().trim() != '') {
	    		$('#course').prop('style', 'text-transform: uppercase;');
	    	}
	    	else if (e.which == 8 && $('#course').val().trim() == '') {
	    		$('#course').prop('style', 'text-transform: capitalize;')
	    	}
	    	else if (e.which != 8 ) {
	    		$('#course').prop('style', 'text-transform: uppercase;');
	    	}
	    	
	    });

	    $('#course').on('focusout', function() {
	    	if ($('#course').val().trim() == '') {
				$('#course').prop('style', 'text-transform: capitalize;');
	    	}
	    	else {
	    		$('#course').prop('style', 'text-transform: uppercase;')
	    	}
	    	
	    });

		$('#daily-rep-sidenav-but').on('click', function() {
			var d = new Date();
			var dt = moment(new Date( (d.getMonth()+1) + '/' +  d.getDate()+ '/' + d.getFullYear())).format('MMM. DD, YYYY');
			$('#daily-rep-date').text(dt);
		});
// bills
		function tot_bills() {
			var tot = parseInt($('#thou-amt').val()) + 
					  parseInt($('#five-amt').val()) +
					  parseInt($('#two-amt').val()) +
					  parseInt($('#one-amt').val()) +
					  parseInt($('#fif-amt').val()) +
					  parseInt($('#twen-amt').val());
			return tot;
		};

		$('#thou-freq').on('input', function() {
			if ($('#thou-freq').val() == '') {
				$('#thou-amt').val('0');
			}
			else {
				$('#thou-amt').val(parseInt($('#thou-freq').val().trim()) * parseInt($('#thou-lbl').text()));
			}	
			$('#tot-bills').val(tot_bills());
			$('#tot-grand').val(tot_bills() + tot_coins());
		});

		$('#five-freq').on('input', function() {
			if ($('#five-freq').val() == '') {
				$('#five-amt').val('0');
			}
			else {
				$('#five-amt').val(parseInt($('#five-freq').val().trim()) * parseInt($('#five-lbl').text()));
			}
			$('#tot-bills').val(tot_bills());
			$('#tot-grand').val(tot_bills() + tot_coins());
		});

		$('#two-freq').on('input', function() {
			if ($('#two-freq').val() == '') {
				$('#two-amt').val('0');
			}
			else {
				$('#two-amt').val(parseInt($('#two-freq').val().trim()) * parseInt($('#two-lbl').text()));
			}
			$('#tot-bills').val(tot_bills());
			$('#tot-grand').val(tot_bills() + tot_coins());
		});

		$('#one-freq').on('input', function() {
			if ($('#one-freq').val() == '') {
				$('#one-amt').val('0');
			}
			else {
				$('#one-amt').val(parseInt($('#one-freq').val().trim()) * parseInt($('#one-lbl').text()));
			}
			$('#tot-bills').val(tot_bills());
			$('#tot-grand').val(tot_bills() + tot_coins());
		});

		$('#fif-freq').on('input', function() {
			if ($('#fif-freq').val() == '') {
				$('#fif-amt').val('0');
			}
			else {
				$('#fif-amt').val(parseInt($('#fif-freq').val().trim()) * parseInt($('#fif-lbl').text()));
			}
			$('#tot-bills').val(tot_bills());
			$('#tot-grand').val(tot_bills() + tot_coins());
		});

		$('#twen-freq').on('input', function() {
			if ($('#twen-freq').val() == '') {
				$('#twen-amt').val('0');
			}
			else {
				$('#twen-amt').val(parseInt($('#twen-freq').val().trim()) * parseInt($('#twen-lbl').text()));
			}
			$('#tot-bills').val(tot_bills());
			$('#tot-grand').val(tot_bills() + tot_coins());
		});
// coins
		function tot_coins() {
			var tot = parseInt($('#ten-amt').val()) + 
					  parseInt($('#cfive-amt').val()) +
					  parseInt($('#cone-amt').val()) +
					  parseFloat($('#ctwenfive-amt').val());
			return tot;
		};
		$('#ten-freq').on('input', function() {
			if ($('#ten-freq').val() == '') {
				$('#ten-amt').val('0');
			}
			else {
				$('#ten-amt').val(parseInt($('#ten-freq').val().trim()) * parseInt($('#ten-lbl').text()));
			}
			$('#tot-coins').val(tot_coins());
			$('#tot-grand').val(tot_bills() + tot_coins());
		});

		$('#cfive-freq').on('input', function() {
			if ($('#cfive-freq').val() == '') {
				$('#cfive-amt').val('0');
			}
			else {
				$('#cfive-amt').val(parseInt($('#cfive-freq').val().trim()) * parseInt($('#cfive-lbl').text()));
			}
			$('#tot-coins').val(tot_coins());
			$('#tot-grand').val(tot_bills() + tot_coins());
		});

		$('#cone-freq').on('input', function() {
			if ($('#cone-freq').val() == '') {
				$('#cone-amt').val('0');
			}
			else {
				$('#cone-amt').val(parseInt($('#cone-freq').val().trim()) * parseInt($('#cone-lbl').text()));
			}
			$('#tot-coins').val(tot_coins());
			$('#tot-grand').val(tot_bills() + tot_coins());
		});

		$('#ctwenfive-freq').on('input', function() {
			if ($('#ctwenfive-freq').val() == '') {
				$('#ctwenfive-amt').val('0');
			}
			else {
				$('#ctwenfive-amt').val(parseFloat(parseInt($('#ctwenfive-freq').val().trim()) * parseFloat($('#ctwenfive-lbl').text())));
			}
			$('#tot-coins').val(tot_coins());
			$('#tot-grand').val(tot_bills() + tot_coins());
		});
	</script>
</body>
</html>
