{% extends "views/layouts/pages/main.html" %}
{% block title %}<title>CMS | View Receipts</title>{% endblock %}
{% load static %}
{% block page-css %}
<link href="{%static 'assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/AutoFill/css/autoFill.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/ColReorder/css/colReorder.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/KeyTable/css/keyTable.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/RowReorder/css/rowReorder.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Select/css/select.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/morris/morris.css' %}" rel="stylesheet" />
<style type="text/css" media="print">
    @page {
        size: landscape;
    }
    .hidden-print {
        display: none; 
    }
</style>
{% endblock %}
{% block content %}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">View Records</a></li>
        <li class="breadcrumb-item active">View Receipts</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">View Receipts <small>View Individual Receipts</small></h1>
    <!-- end page-header -->
    
    <!-- begin row -->
    <div class="row">
        <!-- begin col-7 -->
        <div class="col-lg-7">
            <!-- begin card -->
            <div class="card text-left">
                <div class="card-header bg-inverse text-white">
                    <i class="fas fa-barcode fa-lg m-r-5"></i>View Receipt
                </div>
                <div class="card-block">
                    <!-- begin panel -->
                    <div class="panel panel-white">
                        <!-- begin panel-heading -->
                        <div class="panel-heading">                       
                            <h4 class="panel-title"></h4>
                        </div>
                        <!-- end panel-heading -->
                        <!-- begin panel-body -->
                        <div class="panel-body">
                            <table id="data-table-combines" class="table table-hover">
                                <thead>
                                    <tr>
                                        <!-- <th width="1%"></th> -->
                                        <th class="text-nowrap">OR Number</th>
                                        <th class="text-nowrap">Fullname</th>
                                        <th class="text-nowrap">Transaction Date</th>
                                        <th class="text-nowrap">Option</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td width="1%" class="f-s-600 text-inverse">1</td> -->
                                        <td>
                                            <a href="javascript:;" class="btn btn-xs btn-white"></a>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- end panel-body -->
                    </div>
                    <!-- end panel -->
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col-7 -->
        <!-- begin col-5 -->
        <div class="col-lg-5">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="morris-chart-4">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fas fa-graduation-cap fa-lg m-r-5"></i>Receipt Chart</h4>
                </div>
                <div class="panel-body">
                    <h4 class="text-center m-t-20 m-b-20">Receipts per Category <small>Total Receipts: <strong><span id="tot_receipt"></span></strong></small></h4>
                    <div id="morris-donut-chart" class="height-sm"></div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-5 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
{% endblock %}
{% block page-js %}
<script src="{%static 'assets/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/AutoFill/js/dataTables.autoFill.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/ColReorder/js/dataTables.colReorder.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/KeyTable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/RowReorder/js/dataTables.rowReorder.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Select/js/dataTables.select.min.js' %}"></script>
<script src="{%static 'assets/js/demo/table-manage-combine.demo.min.js' %}"></script>
<!--  -->
<script src="{%static 'assets/plugins/morris/raphael.min.js' %}"></script>
<script src="{%static 'assets/plugins/morris/morris.js' %}"></script>
<!-- <script src="{%static 'assets/js/demo/chart-morris.demo.js' %}"></script> -->
{% endblock %}
{% block init %}
<script>
    $(document).ready(function() {
        App.init();
        TableManageCombine.init();
        highlightSideNav();
        loadReceiptsDonut();
        loadReceiptTable();
        // document.querySelector("#data-table-combines_length > label > select").setAttribute('style', 'width: 60px;')
    });
    function loadReceiptTable() {
        $.ajax({
            type: "POST",
            url: "{% url 'load_receipt_table' %}",
            cache: false,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                dt_combines.clear().draw();
                $.each(obj, function(index, data){
                    dt_combines.row.add([
                        data[0],
                        data[1],
                        data[2]
                    ]);
                })
                dt_combines.draw();
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
    };
    function loadSpecificCollection(or_num) {
        $.ajax({
            type: "POST",
            url: "{% url 'load_specific_collection' %}",
            cache: false,
            dataType: 'json',
            data: {
                or_num: or_num,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                $('#r_ornum').text(obj[0][0]);
                $('#r_name').text(obj[0][1]);
                $('#r_studnum').text(obj[0][2]);
                $('#r_date').text(obj[0][3]);
                $('#r_time').text(obj[0][4]);
                $('#r_grandtotal').text('₱'+ obj[0][5].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
    };
    function loadSpecificCollectionBreakdown(or_num) {
        $.ajax({
            type: "POST",
            url: "{% url 'load_specific_collection_breakdown' %}",
            cache: false,
            dataType: 'json',
            data: {
                or_num: or_num,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                $('.table-invoice tbody tr').remove();
                for (i = 0; i < obj.length; i++) {
                    $('.table-invoice tbody').append(
                        `<tr>
                            <td>
                                <span class="text-inverse" id="r_desc">${obj[i][0] + (obj[i][1] ? ' (' + obj[i][1] + ')' : '')}</span><br />
                            </td>
                            <td class="text-center" id="r_amount">${obj[i][2]}</td>
                        </tr>`
                    );
                }
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
    };
    var dt_combines = $('#data-table-combines').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false,
        'order'   : [[2, "desc" ]],
        "columns" : [ 
            { sWidth: '30%' },
            { sWidth: '30%' },
            { sWidth: '25%' },
            { sWidth: '15%' }
        ],
        pagingType: 'numbers',
        dom: 'lBfrtip',
        buttons: [
        {
            extend:    'print',
            text:      '<i class="fas fa-print text-orange-lighter f-s-16"></i>',
            titleAttr: 'Print',
            exportOptions: {
                columns: [0,1,2]
            }
        },
        {
            extend:    'excel',
            text:      '<i class="fas fa-file-excel text-green-lighter f-s-16"></i>',
            titleAttr: 'Excel',
            exportOptions: {
                columns: [0,1,2]
            }
        },
        {
            extend:    'pdf',
            text:      '<i class="fas fa-file-pdf text-red-lighter f-s-16"></i>',
            titleAttr: 'PDF',
            exportOptions: {
                columns: [0,1,2]
            }
        }
    ],
        "lengthMenu": [ [5, 25, 50, -1], [5, 25, 50, "All"] ],
        columnDefs:[
            {
                targets:3, render:function(data){
                    return `<a href="#receipt" class="btn btn-primary btn-xs" data-toggle="modal" id="view_receipt"><i class="fas fa-eye m-r-5"></i>View</a>`;
                }
            }
        ],
    });
    function loadReceiptsDonut(date_from, date_to) {
        $.ajax({
            type: "POST",
            url: "{% url 'load_receipts_donut' %}",
            cache: false,
            dataType: 'json',
            data: {
                date_from: date_from,
                date_to: date_to,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                var lbl = [];
                var val = [];
                var data = [];
                var tot = 0;
                for ( i = 0; i < obj.length; i++) {
                    lbl[i] = obj[i][0];
                    val[i] = parseFloat(obj[i][2]).toFixed(2) % 2 == 0 ? parseInt(obj[i][2]) : parseFloat(obj[i][2]).toFixed(2);
                    data[i] = {label: lbl[i], value: val[i]}; //eto
                    tot = tot + obj[i][1];
                }
                $('#tot_receipt').text(tot);
                handleMorrisDonusChart();
                function handleMorrisDonusChart() {
                    Morris.Donut({
                        element: 'morris-donut-chart',
                        data, // yung data nilagay ko sa for-loop sa taas, tpos ang nilagay ko dito yung array-name nlang.
                        formatter: function (y) { return y + "%" },
                        resize: true,
                        gridLineColor: [COLOR_GREY_LIGHTER],
                        gridTextFamily: FONT_FAMILY,
                        gridTextColor: FONT_COLOR,
                        gridTextWeight: FONT_WEIGHT,
                        gridTextSize: FONT_SIZE,
                        colors: ['#5cb85c', COLOR_BLACK_LIGHTER, COLOR_BLUE, '#292b2c', COLOR_AQUA, '#d9534f']
                    });
                };
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
    };

    $('#data-table-combines tbody').on('click', '#view_receipt', function() {
        var or_num = $(this).closest('tr').find('td:eq(0)').html();
        loadSpecificCollection(or_num);
        loadSpecificCollectionBreakdown(or_num);
    });

    function highlightSideNav() {
        $('#li-dash').removeClass('text-white');
        $('#add-col-caret').removeClass('text-white');
        $('#add-col').removeClass('text-white');
        $('#add-sis').removeClass('text-white');
        $('#view-rec-caret').click();
        $('#view-rec-caret').addClass('text-white');
        $('#view-rec').addClass('text-white');
        $('#trans-log').removeClass('text-white');
        $('#view-sis').removeClass('text-white');
        $('#col-rep-caret').removeClass('text-white');
        $('#acct-forms').removeClass('text-white');
        $('#mon-col').removeClass('text-white');
        $('#sum-col').removeClass('text-white');
        $('#cash-receipt').removeClass('text-white');
        $('#pending_but').removeClass('text-white');
        $('#deposited_but').removeClass('text-white');
    };
</script>
{% endblock%}