{% extends "views/layouts/pages/main.html" %}
{% block title %}<title>CMS | SIS Payments</title>{% endblock %}
{% load static %}
{% block page-css %}
<link href="{%static 'assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/AutoFill/css/autoFill.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/ColReorder/css/colReorder.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/KeyTable/css/keyTable.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/RowReorder/css/rowReorder.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/DataTables/extensions/Select/css/select.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/nvd3/build/nv.d3.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet" />
<link href="{%static 'assets/plugins/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" />
<style>
    div.dropdown-menu.open{
        max-height: 314px !important;
        overflow: hidden;
    }
    ul.dropdown-menu.inner{
        max-height: 260px !important;
        overflow-y: auto;
    }
</style>
<style type="text/css" media="print">
    @page {
        size: landscape;
    }
    .hidden-print {
        display: none; 
    }
</style>
{% endblock %}
{% block content %}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">View Records</a></li>
        <li class="breadcrumb-item active">View SIS Payments</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">View SIS Payments <small>View Recorded SIS Payments</small></h1>
    <!-- end page-header -->
    
    <!-- begin row -->
    <div class="row">
        <!-- begin col-7 -->
        <div class="col-lg-7">
            <!-- begin card -->
            <div class="card text-left">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#card-pill-1">Done</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#card-pill-2">Pending<span class="badge pull-right bg-danger" id="pend_count"></span></a></li>
                    </ul>
                </div>
                <div class="card-block">
                    <div class="tab-content p-0 m-0">
                        <div class="tab-pane fade active show" id="card-pill-1">
                            <!-- begin panel -->
                            <div class="panel panel-white">
                                <!-- begin panel-body -->
                                <div class="panel-body">
                                    <table id="data-table-combines" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-nowrap">OR Number</th>
                                                <th class="text-nowrap">Total Amount</th>
                                                <th class="text-nowrap">Transaction Date</th>
                                                <th class="text-nowrap">Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                                <!-- end panel-body -->
                            </div>
                            <!-- end panel -->
                        </div>
                        <div class="tab-pane fade" id="card-pill-2">
                            <!-- begin panel -->
                            <div class="panel panel-white">
                                <!-- begin panel-body -->
                                <div class="panel-body">
                                    <table id="data-table-combines2" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-nowrap">OR Number</th>
                                                <th class="text-nowrap">Total Amount</th>
                                                <th class="text-nowrap">Transaction Date</th>
                                                <th class="text-nowrap">Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                                <!-- end panel-body -->
                            </div>
                            <!-- end panel -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col-7 -->
        <!-- begin col-5 -->
        <div class="col-lg-5">
            <!-- begin panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fas fa-chart-bar fa-lg m-r-5"></i>SIS Payment Chart</h4>
                </div>
                <div class="panel-body">
                    <h4 class="text-center m-t-20 m-b-20">SIS Payment <small>(Daily)</small></h4>
                    <div id="nv-bar-chart" class="height-sm"></div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-5 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
<!-- #sis-done modal-->
<div class="modal modal-message fade" id="sis-done">
    <div class="modal-dialog">
        <div class="modal-content" style="background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('static/assets/img/logo/PUPLogoMin.png'); background-repeat: no-repeat; background-size: contain; background-position: 300px;">
            <div class="modal-header">
                <h4 class="modal-title m-t-20"><a href="javascript:;" class="btn btn-xs btn-danger">SIS Payment</a></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body text-inverse">
                <div class="pull-left" style="margin-right: 100px;">
                    <label class="m-r-5"><small>OR Number : </small></label><span id="s_or" class="f-w-700 f-s-14"></span>
                </div>
                <div>
                    <label class="m-r-5"><small>Transaction Date :</small> </label><span id="s_date" class="f-w-700 f-s-14"></span>
                </div>
                <table id="sis-modal-table" class="table m-t-40" style="max-width: 400px;">
                    <thead>
                        <th width="70%">Description</th>
                        <th width="30%">Amount</th>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            <p><label class="m-r-5"><small>Total :</small> </label><span id="s_total" class="f-w-700 f-s-14"></span></p>
            </div>
            <div class="modal-footer">
                <!-- <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a> -->
                <!-- <a href="javascript:;" class="btn btn-primary">Save Changes</a> -->
            </div>
        </div>
    </div>
</div>
<!-- end #sis-done modal-->
<!-- begin #add_breakdown-modal -->
<div class="modal fade" id="add_breakdown_modal">
    <div class="modal-dialog" style="max-width: 60%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-object-ungroup m-r-5"></i>SIS Breakdown</h4>
                <button type="button" class="close hidden-print" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <!-- begin invoice -->
                <div class="invoice" style="margin: 10px;">
                    <!-- begin invoice-header -->
                    <div class="invoice-header">
                        <div class="invoice-from">
                            <small>OR Number</small>
                            <address class="m-t-5 m-b-5">
                                <strong class="text-inverse" id="b_ornum"></strong><br />
                            </address>
                        </div>
                        <div class="invoice-to">
                            <small>Payor</small>
                            <address class="m-t-5 m-b-5">
                                <strong class="text-inverse" id="b_name"></strong><br />
                            </address>
                        </div>
                        <div class="invoice-date">
                            <small>Transaction Date</small>
                            <div class="date text-inverse m-t-5" id="b_date"></div>
                            <div class="invoice-detail" id="b_time"></div>
                        </div>
                    </div>
                    <!-- end invoice-header -->
                    <!-- begin invoice-content -->
                    <div class="invoice-content">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group row m-b-10">
                                    <div class="col-md-12 col-sm-12">
                                        <select class="form-control" data-dropup-auto="false" data-size="10" data-live-search="false" data-style="btn-white"  id="inc-select" data-parsley-excluded="true">
                                            <option value="Income Type" selected disabled>Income Type</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group row m-b-10">
                                    <div class="col-md-12 col-sm-12">
                                        <select class="form-control" data-dropup-auto="false" data-size="10" data-live-search="true" data-style="btn-white" id="uacs_select" data-parsley-excluded="true">
                                            <option value="UACS Code" selected disabled>UACS Code</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2" style="display: none;" id="nature-div">
                                <div class="form-group row m-b-10">
                                    <div class="col-md-12 col-sm-12">
                                        <select class="form-control" data-dropup-auto="false" data-size="10" data-live-search="true" data-style="btn-white" id="nature-select" data-parsley-excluded="true">
                                            <option value="UACS Code" selected disabled>Nature</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group row m-b-10">
                                    <div class="col-md-12 col-sm-12">
                                        <input class="form-control" type="number" id="number" name="number" data-parsley-excluded="true" placeholder="Amount(₱)"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="form-group row m-b-10">
                                    <div class="col-md-12 col-sm-12">
                                        <a href="javascript:;" class="btn btn-success btn-md" id="addB"><i class="fa fa-plus-circle m-r-5"></i>Add</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- begin table-responsive -->
                        <div class="table-responsive">
                            <table class="table table-invoice" id="table-invoice">
                                <thead>
                                    <tr>
                                        <th width="40%" class="text-center text-nowrap">DESCRIPTION</th>
                                        <th width="30%" class="text-center text-nowrap">Nature</th>
                                        <th width="20%" class="text-right text-nowrap">AMOUNT</th>
                                        <th width="10%" class="text-center text-nowrap"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <!-- end table-responsive -->
                        <!-- begin invoice-price -->
                        <div class="invoice-price">
                            <div class="invoice-price-left">
                                <div class="invoice-price-row">
                                    <div class="sub-price">
                                        <small>CURRENT TOTAL</small>
                                        ₱<span class="text-inverse" id="b_currtotal">0.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="invoice-price-right">
                                <small>SAVED TOTAL</small> <span class="f-w-600" id="b_grandtotal"></span>
                            </div>
                        </div>
                        <!-- end invoice-price -->
                    </div>
                    <!-- end invoice-content -->
                    <!-- begin invoice-footer -->
                    <div class="invoice-footer">
                        <div class="pull-right">
                            <a href="javascript:;" class="btn btn-md btn-primary" id="b_proceed"><i class="fas fa-chevron-circle-right m-r-5"></i>Proceed</a>
                        </div>
                    </div>
                    <!-- end invoice-footer -->
                </div>
                <!-- end invoice -->
            </div>
        </div>
    </div>
</div>
<!-- end #add_breakdown_modal -->
{% endblock %}
{% block page-js %}
<script src="{%static 'assets/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/AutoFill/js/dataTables.autoFill.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/ColReorder/js/dataTables.colReorder.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/KeyTable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/RowReorder/js/dataTables.rowReorder.min.js' %}"></script>
<script src="{%static 'assets/plugins/DataTables/extensions/Select/js/dataTables.select.min.js' %}"></script>
<script src="{%static 'assets/js/demo/table-manage-combine.demo.min.js' %}"></script>
<!--  -->
<script src="{%static 'assets/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{%static 'assets/plugins/select2/dist/js/select2.min.js' %}"></script>
<!--  -->
<script src="{%static 'assets/plugins/nvd3/build/d3.js' %}"></script>
<script src="{%static 'assets/plugins/nvd3/build/nv.d3.js' %}"></script>
<script src="{%static 'assets/plugins/moment/moment.min.js' %}"></script>
{% endblock %}
{% block init %}
<script>
    $(document).ready(function() {
        App.init();
        TableManageCombine.init();
        highlightSideNav();
        get_sis_payments();
        get_sis_payments2();
        handleBarChart('DAILY');
        $('#inc-select').selectpicker('render');
        $('#uacs_select').selectpicker('render');
        $('#nature-select').selectpicker('render');
    });
    var dt_combines = $('#data-table-combines').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false,
        'order'       : [[0, "desc" ]],
        'pagingType'  : 'numbers',
        "columns" : [ 
            { sWidth: '30%' },
            { sWidth: '20%' },
            { sWidth: '35%' },
            { sWidth: '15%' }
        ],
        dom: 'lBfrtip',
            buttons: [
            {
                extend:    'print',
                text:      '<i class="fas fa-print text-orange-lighter f-s-16"></i>',
                titleAttr: 'Print',
                exportOptions: {
                    columns: [0,1,2]
                }
            },
            {
                extend:    'excel',
                text:      '<i class="fas fa-file-excel text-green-lighter f-s-16"></i>',
                titleAttr: 'Excel',
                exportOptions: {
                    columns: [0,1,2]
                }
            },
            {
                extend:    'pdf',
                text:      '<i class="fas fa-file-pdf text-red-lighter f-s-16"></i>',
                titleAttr: 'PDF',
                exportOptions: {
                    columns: [0,1,2]
                }
            }
        ],
        "lengthMenu": [ [5, 25, 50, -1], [5, 25, 50, "All"] ],
        columnDefs:[
            {
                targets:3, render:function(data){
                    return '<a href="#sis-done" data-toggle="modal" id="viewSIS" class="btn btn-primary btn-xs"><i class="fas fa-eye m-r-5"></i>View</a>';
                }
            },
            {
                targets:1, render:function(data){
                    return data.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }
            },
            {
                targets:1,
                    className: 'text-right',  
            },
            {
                targets:[0,2,3],
                    className: 'text-center',  
            },
        ]
    });
    var dt_combines2 = $('#data-table-combines2').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false,
        'order'   : [[0, "desc" ]],
        'pagingType'  : 'numbers',
        "columns" : [ 
           { sWidth: '30%' },
            { sWidth: '20%' },
            { sWidth: '35%' },
            { sWidth: '15%' }
        ],
        dom: 'lBfrtip',
            buttons: [
            {
                extend:    'print',
                text:      '<i class="fas fa-print text-orange-lighter f-s-16"></i>',
                titleAttr: 'Print',
                exportOptions: {
                    columns: [0,1,2]
                }
            },
            {
                extend:    'excel',
                text:      '<i class="fas fa-file-excel text-green-lighter f-s-16"></i>',
                titleAttr: 'Excel',
                exportOptions: {
                    columns: [0,1,2]
                }
            },
            {
                extend:    'pdf',
                text:      '<i class="fas fa-file-pdf text-red-lighter f-s-16"></i>',
                titleAttr: 'PDF',
                exportOptions: {
                    columns: [0,1,2]
                }
            }
        ],
        "lengthMenu": [ [5, 25, 50, -1], [5, 25, 50, "All"] ],
        columnDefs:[
            {
                targets:3, render:function(data){
                    return '<a href="#add_breakdown_modal" data-toggle="modal" id="addBreakdown" class="btn btn-warning btn-xs"><i class="fas fa-plus-circle m-r-5"></i>Add Breakdown</a>';
                }
            },
            {
                targets:1, render:function(data){
                    return data.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }
            },
            {
                targets:1,
                    className: 'text-right',  
            },
           {
                targets:[0,2,3],
                    className: 'text-center',  
            },
        ]
    });
    
    function get_sis_payments() {
        $.ajax({
            type: "POST",
            url: "{% url 'get_sis_payments' %}",
            cache: true,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                dt_combines.clear().draw();
                $.each(obj, function(index, data){
                    dt_combines.row.add( [
                        data[0],
                        data[1],
                        data[2]
                    ] ).draw();
                })
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: error,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
    };
    function get_sis_payments2() {
        $.ajax({
            type: "POST",
            url: "{% url 'get_sis_payments2' %}",
            cache: true,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                dt_combines2.clear().draw();
                $.each(obj, function(index, data){
                    dt_combines2.row.add( [
                        data[0],
                        data[1],
                        data[2]
                    ] ).draw();
                })
                $('#pend_count').text(dt_combines2.page.info().recordsTotal);
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: error,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
    };

    function handleBarChart(filt) {
        var bar_filter = filt;
        $.ajax({
            type: "POST",
            url: "{% url 'get_sis_bar_chart' %}",
            cache: true,
            dataType: 'json',
            data: {
                filt: filt,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                var bar_color = [COLOR_GREEN, COLOR_AQUA, COLOR_BLUE, COLOR_PURPLE, COLOR_GREY, COLOR_RED, COLOR_ORANGE, COLOR_BLACK, "goldenrod",'#ff0000', 'lightblue', 'pink'];
                var data= [];
                var keyy = 0;
                for (var i = 0; i < obj.length; i++) {
                    data[i] = { 'label': moment( new Date(obj[i][1])).format('MMM.DD'), 'value': parseFloat(obj[i][0]).toFixed(2), 'color': bar_color[i]  };
                    keyy += parseFloat(obj[i][0]).toFixed(2);
                }
                var barChartData = [{
                    key: keyy,
                    values: data,
                }]

                nv.addGraph(function() {
                    var barChart = nv.models.discreteBarChart()
                        .x(function(d) { return d.label })
                        .y(function(d) { return d.value })
                        .showValues(true)
                        .duration(250);
                    
                    barChart.yAxis.axisLabel("Total SIS Payments");
                    barChart.xAxis.axisLabel('Day');
                
                    d3.select('#nv-bar-chart svg').remove();
                    d3.select('#nv-bar-chart').append('svg').datum(barChartData).call(barChart);
                    nv.utils.windowResize(barChart.update);
                    // document.querySelector("#nv-bar-chart > svg > g > g > g.nv-y.nv-axis.nvd3-svg > g.nvd3.nv-wrap.nv-axis > g:nth-child(1) > g:nth-child(2) > text").setAttribute('style', 'display: none;');
                    return barChart;
                });
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: error,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
    };

    $('#data-table-combines tbody').on('click', '#viewSIS', function() {
        var or_num = $(this).closest('tr').find('td:eq(0)').html();
        load_specific_sis_done(or_num);
        $('#s_or').text(or_num);
        $('#s_date').text(moment(new Date($(this).closest('tr').find('td:eq(2)').html())).format("MMM. DD, YYYY"));
        $('#s_total').text('₱' + $(this).closest('tr').find('td:eq(1)').html().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    function load_specific_sis_done(or_num) {
        $.ajax({
            type: "POST",
            url: "{% url 'load_specific_sis_done' %}",
            cache: true,
            dataType: 'json',
            data: {
                or_num: or_num,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                $.each(obj, function(index, data){
                    $('#sis-modal-table').append(
                        `<tr>
                            <td>${data[0]}</td>
                            <td>${data[1]}</td>
                        </tr>`
                    )
                });
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: error,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
    };

    $('#sis-done').on('hidden.bs.modal', function (e) {
        $('#sis-modal-table tbody tr').remove();
    });

    $('#add_breakdown_modal').on('hidden.bs.modal', function (e) {
        $('.table-invoice tbody tr').remove();
        $('#inc-select').removeClass('is-invalid');
        $('#uacs_select').removeClass('is-invalid');
        $('#number').removeClass('is-invalid');
        $('#b_currtotal').text('0.00');
    });

    $('#data-table-combines2 tbody').on('click', '#addBreakdown', function() {
        var or_num = $(this).closest('tr').find('td:eq(0)').html();
        $('#b_ornum').text(or_num);
        load_specific_sis_client(or_num)
        var tot_fee = $(this).closest('tr').find('td:eq(1)').html();
        $('#b_grandtotal').text('₱'+tot_fee.replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        getIncType();
    });

    function load_specific_sis_client(or_num) {
        $.ajax({
            type: "POST",
            url: "{% url 'load_specific_sis_client' %}",
            cache: true,
            dataType: 'json',
            data: {
                or_num: or_num,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                $('#b_name').text(obj[0][0]);
                var dt = new Date(obj[0][1]);
                var hrs = dt.getHours();
                var mins = dt.getMinutes();
                var ampm = (hrs >= 12) ? "PM" : "AM";
                var time = (hrs % 12 || 12) + ":" + ((mins<10?'0':'') + mins) + ' ' + ampm;
                $('#b_date').text(moment(dt).format("MMMM DD, YYYY"));
                $('#b_time').text(time);
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: error,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
    };

    $('#addB').on('click', function() {
        var amtBox = $('#number').val().trim();
        if ($('#inc-select').val() == 'Income Type' || $('#uacs_select').val() == 'UACS Code') {
            if ($('#inc-select').val() == 'Income Type') {
                $('#inc-select').addClass('is-invalid');
            }
            if ($('#uacs_select').val() == 'UACS Code') {
                $('#uacs_select').addClass('is-invalid');
            }
            if (amtBox == '' && amtBox.length == 0) {
                $('#number').addClass('is-invalid');
            }
        }
        else {
            $('#inc-select').removeClass('is-invalid');
            $('#uacs_select').removeClass('is-invalid');
            if (amtBox != '' && amtBox.length != 0) {
                $('#number').removeClass('is-invalid');
                $('.table-invoice tbody').append(
                    `<tr>
                        <td class="text-left">${$('#uacs_select').find('option:selected').text().split('-')[1]}</td>
                        <td class="text-center">${$('#nature-select').val()==null ? '' : $('#nature-select').val()}</td>
                        <td class="text-right">${amtBox}</td>
                        <td class="text-center">
                            <a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm remove"><i class="fas fa-times"></i></a>
                        </td>
                    </tr>`
                );
                var total = parseFloat($('#b_currtotal').text().replace(',','')) + parseFloat(amtBox);
                $('#b_currtotal').text(total.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#inc-select').selectpicker('val', 'Income Type');
                $('#uacs_select').selectpicker('val', 'UACS Code');
                $('#nature-select').selectpicker('val', 'Nature');
                $('#number').val('');
            }
        }
    });
    $('#inc-select').on('change', function() {
        if ($('#inc-select').val() == 'Income Type') {
            $('#inc-select').addClass('is-invalid');
        }
        else {
            $('#inc-select').removeClass('is-invalid');
        }
    });
    $('#uacs_select').on('change', function() {
        if ($('#uacs_select').val() == 'Please choose') {
            $('#uacs_select').addClass('is-invalid');
        }
        else {
            if ($('#nature-div').is(':visible')) {
                $('#nature-select').append(new Option('Nature')).select();
                $('#nature-select').find('option:selected').prop('disabled',true);  
                $('#nature-select').selectpicker('refresh');
            }
            $('#uacs_select').removeClass('is-invalid');
            var uacs = $('#uacs_select').val();
            $.ajax({
                type: "POST",
                url: "{% url 'load_nature_col' %}",
                cache: true,
                dataType: 'json',
                data: {
                    uacs: uacs,
                    csrfmiddlewaretoken:"{{csrf_token}}"
                },
                success: function(obj) {
                    if (obj.length != 0) {
                        $('#nature-div').show();
                        $('#nature-select').empty();
                        $('#nature-select').append(new Option('Nature')).select();
                        $('#nature-select').find('option:selected').prop('disabled',true);                
                        $.each(obj, function(index, option){
                            $('#nature-select').append( new Option(option[0],option[0])); //text and value
                        });
                        $('#nature-select option').prop('style', 'font-size: 11px;');
                        $('#nature-select').selectpicker('refresh');
                    }
                    else {
                        $('#nature-div').hide();
                    }
                },
                error: function(xhr, status, error) {
                    var errMsg = xhr.status + ': ' + xhr.statusText;
                    swal({
                        title: "Error!", 
                        text: errMsg,
                        type: "error",
                        confirmButtonColor: "#428bca",
                        showLoaderOnConfirm: true
                    })
                }
            }); 
        }
    });
    $('#number').on('input', function() {
        if ($('#number').val().trim().length == 0) {
            $('#number').addClass('is-invalid');
        }
        else {
            $('#number').removeClass('is-invalid');
        }
    });
    function getIncType() {
        $.ajax({
            type: "POST",
            url: "{% url 'get_income_type' %}",
            // cache: true,
            dataType: 'json',
            data: {
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                $.each(obj, function(index, option){
                    $('#inc-select').append( new Option(option,option)); //value and text
                });
                $('#inc-select option').prop('style', 'font-size: 11px;')
                $('#inc-select').selectpicker('refresh');
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
    };
    function getUacsCode(incomeType) {
        $.ajax({
            type: "POST",
            url: "{% url 'get_uacs_code' %}",
            cache: false,
            dataType: 'json',
            data: {
                incomeType: incomeType,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success: function(obj) {
                $('#uacs_select').empty();
                $('#uacs_select').append(new Option('UACS Code')).select();
                $('#uacs_select').find('option:selected').prop('disabled',true);                
                $.each(obj, function(index, option){
                    $('#uacs_select').append( new Option(option[0]+' - '+option[1],option[0])); //text and value
                });
                $('#uacs_select option').prop('style', 'font-size: 11px;');
                $('#uacs_select').selectpicker('refresh');
            },
            error: function(xhr, status, error) {
                var errMsg = xhr.status + ': ' + xhr.statusText;
                swal({
                    title: "Error!", 
                    text: errMsg,
                    type: "error",
                    confirmButtonColor: "#428bca",
                    showLoaderOnConfirm: true
                })
            }
        });
    };

    $('#inc-select').on('change', function() {
        getUacsCode($('#inc-select').val());
    });

    $('.table-invoice tbody').on('click', '.remove', function() {
        var minus_fee = $(this).closest('tr').find('td:eq(2)').html();
        var total_fee = parseFloat($('#b_currtotal').text().replace(',', '')) - parseFloat(minus_fee);
        $('#b_currtotal').text(total_fee.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $(this).closest('tr').remove();
    });

    $('#b_proceed').on('click', function() {
        if ('₱'+$('#b_currtotal').text() != $('#b_grandtotal').text()) {
            swal({
                title: "Review Total", 
                text: "The current total and saved total must be equal.",
                type: "warning",
                confirmButtonColor: "#428bca",
                showLoaderOnConfirm: true
            })
        }
        else {
            saveCollectionBreakdown();
            $('#add_breakdown_modal').modal('hide');
            setInterval(function() {
                get_sis_payments2();
                get_sis_payments();
            }, 3000);
        }
    });
    function saveCollectionBreakdown() {
        var or_num = $('#b_ornum').text();
        var dt_res = $('#table-invoice tbody');
        var dt_res_len = $('#table-invoice tbody tr').length;
        for (var i = 0; i < dt_res_len; i++) {
            var desc = dt_res.find('tr:eq('+ i +')').find('td:eq(0)').text();
            var nature = dt_res.find('tr:eq('+ i +')').find('td:eq(1)').text();
            var amt = dt_res.find('tr:eq('+ i +')').find('td:eq(2)').text();
            $.ajax({
                type: "POST",
                url: "{% url 'insert_collection_breakdown' %}",
                cache: true,
                dataType: 'json',
                data: {
                    or_num: or_num,
                    desc: desc,
                    nature: nature.trim(),
                    amt: amt,
                    csrfmiddlewaretoken:"{{csrf_token}}"
                },
                success: function(obj) {
                   
                },
                error: function(xhr, status, error) {
                    var errMsg = xhr.status + ': ' + xhr.statusText;
                    swal({
                        title: "Error!", 
                        text: error,
                        type: "error",
                        confirmButtonColor: "#428bca",
                        showLoaderOnConfirm: true
                    });
                }
            });
        };
        return;
    };

    function highlightSideNav() {
        $('#li-dash').removeClass('text-white');
        $('#add-col-caret').removeClass('text-white');
        $('#add-col').removeClass('text-white');
        $('#add-sis').removeClass('text-white');
        $('#view-rec-caret').click();
        $('#view-rec-caret').addClass('text-white');
        $('#view-rec').removeClass('text-white');
        $('#trans-log').removeClass('text-white');
        $('#view-sis').addClass('text-white');
        $('#col-rep-caret').removeClass('text-white');
        $('#acct-forms').removeClass('text-white');
        $('#cert').removeClass('text-white');
        $('#mon-col').removeClass('text-white');
        $('#sum-col').removeClass('text-white');
        $('#cash-receipt').removeClass('text-white');
        $('#pending_but').removeClass('text-white');
        $('#deposited_but').removeClass('text-white');
    };
</script>
{% endblock%}